body, html {
    font-family: "Pretendard", sans-serif; /* sans-serif :고딕서체 */
    font-size: 17px;
    font-weight: 400;
    color: #1d1d1d;
    line-height: 1.4; /* 배수 - 글자크기에 몇배 */
    letter-spacing: 0; /* 자간 */
    word-break: keep-all; /* 단어별로(여백기준) 줄바꿈 */
    word-wrap: break-word; /* 단어가 너무 길면 그걸 강제로 줄바꿈 하는 명령 */
}

/*pc 버전 css*/
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
#wrap {
    min-width: 1300px;
    overflow: hidden; /* wrap 영역 밖으로 나간 요소는 숨김처리함. absolute가 대부분 나감.*/
}

















/*mobile 버전 css*/
@media screen and (max-width:640px){
    body, html {
        font-size: 13px;
    }
    .wrapper { /* 모바일에서는 너비가 고정이 아니라 브라우저 사이즈가 줄어드는 대로 줄어들어야 함.*/
    width:  auto; /* 너비의 고정된 값을 해제해주는 값 */
    margin: 0 20px; /* 콘텐츠의 좌우 여백*/
    }
    #wrap {
    min-width: 320px; /*최소 너비*/
    }
} /*@media <- 이 주석은 꼭 달아주기!! */