/* layout.css
header/footer 모든 페이지의 공통 스타일 적용 */

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px; /*좌우여백*/
    transition: 0.3s;
}
header .logo {
    margin: 0 0 10px 0 ;
}
header .logo a {
    display: block;
    position: relative; /*before 정렬의 기준*/
    color: transparent; /*글자 색 투명하게 */
    width: 7.0588em;
    height: 2.4118em;
}
header .logo a::before { /*a를 기준으로 정렬*/
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
/******-----header가 고정되었을 때-----*****/
header.fixed {
    background-color: #fff;
    color: #1d1d1d;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
}
header.fixed.scroll_down {
    transform: translateY(-100%);
}
header.fixed .logo a::before {
    background-image: url(../images/common/logo_b.svg);
}
header.fixed .global button {
    border-color: #1d1d1d;
    color: #1d1d1d;
}
header.fixed .global button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0001 18.3327C8.86119 18.3327 7.7848 18.1139 6.77091 17.6764C5.75703 17.2389 4.87161 16.6417 4.11466 15.8848C3.35772 15.1278 2.7605 14.2424 2.323 13.2285C1.8855 12.2146 1.66675 11.1382 1.66675 9.99935C1.66675 8.84657 1.8855 7.76671 2.323 6.75977C2.7605 5.75282 3.35772 4.87088 4.11466 4.11393C4.87161 3.35699 5.75703 2.75977 6.77091 2.32227C7.7848 1.88477 8.86119 1.66602 10.0001 1.66602C11.1529 1.66602 12.2327 1.88477 13.2397 2.32227C14.2466 2.75977 15.1286 3.35699 15.8855 4.11393C16.6424 4.87088 17.2397 5.75282 17.6772 6.75977C18.1147 7.76671 18.3334 8.84657 18.3334 9.99935C18.3334 11.1382 18.1147 12.2146 17.6772 13.2285C17.2397 14.2424 16.6424 15.1278 15.8855 15.8848C15.1286 16.6417 14.2466 17.2389 13.2397 17.6764C12.2327 18.1139 11.1529 18.3327 10.0001 18.3327ZM10.0001 16.6243C10.3612 16.1243 10.6737 15.6035 10.9376 15.0618C11.2015 14.5202 11.4167 13.9438 11.5834 13.3327H8.41675C8.58341 13.9438 8.79869 14.5202 9.06258 15.0618C9.32647 15.6035 9.63897 16.1243 10.0001 16.6243ZM7.83341 16.291C7.58341 15.8327 7.36466 15.357 7.17716 14.8639C6.98966 14.3709 6.83341 13.8605 6.70841 13.3327H4.25008C4.65286 14.0271 5.15633 14.6313 5.7605 15.1452C6.36466 15.6591 7.05564 16.041 7.83341 16.291ZM12.1667 16.291C12.9445 16.041 13.6355 15.6591 14.2397 15.1452C14.8438 14.6313 15.3473 14.0271 15.7501 13.3327H13.2917C13.1667 13.8605 13.0105 14.3709 12.823 14.8639C12.6355 15.357 12.4167 15.8327 12.1667 16.291ZM3.54175 11.666H6.37508C6.33341 11.3882 6.30216 11.1139 6.28133 10.8431C6.2605 10.5723 6.25008 10.291 6.25008 9.99935C6.25008 9.70768 6.2605 9.42643 6.28133 9.1556C6.30216 8.88477 6.33341 8.61046 6.37508 8.33268H3.54175C3.4723 8.61046 3.42022 8.88477 3.3855 9.1556C3.35078 9.42643 3.33341 9.70768 3.33341 9.99935C3.33341 10.291 3.35078 10.5723 3.3855 10.8431C3.42022 11.1139 3.4723 11.3882 3.54175 11.666ZM8.04175 11.666H11.9584C12.0001 11.3882 12.0313 11.1139 12.0522 10.8431C12.073 10.5723 12.0834 10.291 12.0834 9.99935C12.0834 9.70768 12.073 9.42643 12.0522 9.1556C12.0313 8.88477 12.0001 8.61046 11.9584 8.33268H8.04175C8.00008 8.61046 7.96883 8.88477 7.948 9.1556C7.92716 9.42643 7.91675 9.70768 7.91675 9.99935C7.91675 10.291 7.92716 10.5723 7.948 10.8431C7.96883 11.1139 8.00008 11.3882 8.04175 11.666ZM13.6251 11.666H16.4584C16.5279 11.3882 16.5799 11.1139 16.6147 10.8431C16.6494 10.5723 16.6667 10.291 16.6667 9.99935C16.6667 9.70768 16.6494 9.42643 16.6147 9.1556C16.5799 8.88477 16.5279 8.61046 16.4584 8.33268H13.6251C13.6667 8.61046 13.698 8.88477 13.7188 9.1556C13.7397 9.42643 13.7501 9.70768 13.7501 9.99935C13.7501 10.291 13.7397 10.5723 13.7188 10.8431C13.698 11.1139 13.6667 11.3882 13.6251 11.666ZM13.2917 6.66602H15.7501C15.3473 5.97157 14.8438 5.3674 14.2397 4.85352C13.6355 4.33963 12.9445 3.95768 12.1667 3.70768C12.4167 4.16602 12.6355 4.64171 12.823 5.13477C13.0105 5.62782 13.1667 6.13824 13.2917 6.66602ZM8.41675 6.66602H11.5834C11.4167 6.0549 11.2015 5.47852 10.9376 4.93685C10.6737 4.39518 10.3612 3.87435 10.0001 3.37435C9.63897 3.87435 9.32647 4.39518 9.06258 4.93685C8.79869 5.47852 8.58341 6.0549 8.41675 6.66602ZM4.25008 6.66602H6.70841C6.83341 6.13824 6.98966 5.62782 7.17716 5.13477C7.36466 4.64171 7.58341 4.16602 7.83341 3.70768C7.05564 3.95768 6.36466 4.33963 5.7605 4.85352C5.15633 5.3674 4.65286 5.97157 4.25008 6.66602Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}

header.fixed .global button::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 8.33398L10 13.334L5 8.33398L6.16667 7.16732L10 11.0007L13.8333 7.16732L15 8.33398Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");   
}

header.fixed .global button:hover {
    border-color: #CE0112;
    background-color: #CE0112;
    color: #fff;
}
header.fixed .global button:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0001 18.3327C8.86119 18.3327 7.7848 18.1139 6.77091 17.6764C5.75703 17.2389 4.87161 16.6417 4.11466 15.8848C3.35772 15.1278 2.7605 14.2424 2.323 13.2285C1.8855 12.2146 1.66675 11.1382 1.66675 9.99935C1.66675 8.84657 1.8855 7.76671 2.323 6.75977C2.7605 5.75282 3.35772 4.87088 4.11466 4.11393C4.87161 3.35699 5.75703 2.75977 6.77091 2.32227C7.7848 1.88477 8.86119 1.66602 10.0001 1.66602C11.1529 1.66602 12.2327 1.88477 13.2397 2.32227C14.2466 2.75977 15.1286 3.35699 15.8855 4.11393C16.6424 4.87088 17.2397 5.75282 17.6772 6.75977C18.1147 7.76671 18.3334 8.84657 18.3334 9.99935C18.3334 11.1382 18.1147 12.2146 17.6772 13.2285C17.2397 14.2424 16.6424 15.1278 15.8855 15.8848C15.1286 16.6417 14.2466 17.2389 13.2397 17.6764C12.2327 18.1139 11.1529 18.3327 10.0001 18.3327ZM10.0001 16.6243C10.3612 16.1243 10.6737 15.6035 10.9376 15.0618C11.2015 14.5202 11.4167 13.9438 11.5834 13.3327H8.41675C8.58341 13.9438 8.79869 14.5202 9.06258 15.0618C9.32647 15.6035 9.63897 16.1243 10.0001 16.6243ZM7.83341 16.291C7.58341 15.8327 7.36466 15.357 7.17716 14.8639C6.98966 14.3709 6.83341 13.8605 6.70841 13.3327H4.25008C4.65286 14.0271 5.15633 14.6313 5.7605 15.1452C6.36466 15.6591 7.05564 16.041 7.83341 16.291ZM12.1667 16.291C12.9445 16.041 13.6355 15.6591 14.2397 15.1452C14.8438 14.6313 15.3473 14.0271 15.7501 13.3327H13.2917C13.1667 13.8605 13.0105 14.3709 12.823 14.8639C12.6355 15.357 12.4167 15.8327 12.1667 16.291ZM3.54175 11.666H6.37508C6.33341 11.3882 6.30216 11.1139 6.28133 10.8431C6.2605 10.5723 6.25008 10.291 6.25008 9.99935C6.25008 9.70768 6.2605 9.42643 6.28133 9.1556C6.30216 8.88477 6.33341 8.61046 6.37508 8.33268H3.54175C3.4723 8.61046 3.42022 8.88477 3.3855 9.1556C3.35078 9.42643 3.33341 9.70768 3.33341 9.99935C3.33341 10.291 3.35078 10.5723 3.3855 10.8431C3.42022 11.1139 3.4723 11.3882 3.54175 11.666ZM8.04175 11.666H11.9584C12.0001 11.3882 12.0313 11.1139 12.0522 10.8431C12.073 10.5723 12.0834 10.291 12.0834 9.99935C12.0834 9.70768 12.073 9.42643 12.0522 9.1556C12.0313 8.88477 12.0001 8.61046 11.9584 8.33268H8.04175C8.00008 8.61046 7.96883 8.88477 7.948 9.1556C7.92716 9.42643 7.91675 9.70768 7.91675 9.99935C7.91675 10.291 7.92716 10.5723 7.948 10.8431C7.96883 11.1139 8.00008 11.3882 8.04175 11.666ZM13.6251 11.666H16.4584C16.5279 11.3882 16.5799 11.1139 16.6147 10.8431C16.6494 10.5723 16.6667 10.291 16.6667 9.99935C16.6667 9.70768 16.6494 9.42643 16.6147 9.1556C16.5799 8.88477 16.5279 8.61046 16.4584 8.33268H13.6251C13.6667 8.61046 13.698 8.88477 13.7188 9.1556C13.7397 9.42643 13.7501 9.70768 13.7501 9.99935C13.7501 10.291 13.7397 10.5723 13.7188 10.8431C13.698 11.1139 13.6667 11.3882 13.6251 11.666ZM13.2917 6.66602H15.7501C15.3473 5.97157 14.8438 5.3674 14.2397 4.85352C13.6355 4.33963 12.9445 3.95768 12.1667 3.70768C12.4167 4.16602 12.6355 4.64171 12.823 5.13477C13.0105 5.62782 13.1667 6.13824 13.2917 6.66602ZM8.41675 6.66602H11.5834C11.4167 6.0549 11.2015 5.47852 10.9376 4.93685C10.6737 4.39518 10.3612 3.87435 10.0001 3.37435C9.63897 3.87435 9.32647 4.39518 9.06258 4.93685C8.79869 5.47852 8.58341 6.0549 8.41675 6.66602ZM4.25008 6.66602H6.70841C6.83341 6.13824 6.98966 5.62782 7.17716 5.13477C7.36466 4.64171 7.58341 4.16602 7.83341 3.70768C7.05564 3.95768 6.36466 4.33963 5.7605 4.85352C5.15633 5.3674 4.65286 5.97157 4.25008 6.66602Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
header.fixed .global button:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 8.33398L10 13.334L5 8.33398L6.16667 7.16732L10 11.0007L13.8333 7.16732L15 8.33398Z' fill='%23fff'/%3E%3C/svg%3E%0A");   
}
/****-------------****/

@media screen and (min-width:1001px){ 
    header .gnb .gnb_open, header .gnb .gnb_close {
        display: none;
    }
    header .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb_wrap ul.depth1 > li {
        width: 7.6471em;
        text-align: center;
        position: relative; /*depth2 정렬의 기준*/
    }
    header .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 1.1765rem;
        font-weight: 700;
        line-height: var(--header-h); /*header의 높이 */
    }
    header .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute;
        left: 0;
        top: var(--header-h); /*header의 높이*/
        width: 100%;
        padding-top: 1em;
        display: none;
    }
    header .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        line-height: 1.4118;
    }
    
    header .global {
        position: relative; /*list의 정렬의 기준*/
    }
    header .global button {
        font-size: 0.8824rem;
        padding: 0.4em 2.3333em;
        border: 1px solid rgba(255,255,255,0.8);
        border-radius: 2em;
        position: relative;
    }
    header .global button::before {
        content: "";
        position: absolute;
        left: 0.6em;
        top: 0.4em;
        width: 1.3333em;
        height: 1.3333em;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0001 18.3327C8.86119 18.3327 7.7848 18.1139 6.77091 17.6764C5.75703 17.2389 4.87161 16.6417 4.11466 15.8848C3.35772 15.1278 2.7605 14.2424 2.323 13.2285C1.8855 12.2146 1.66675 11.1382 1.66675 9.99935C1.66675 8.84657 1.8855 7.76671 2.323 6.75977C2.7605 5.75282 3.35772 4.87088 4.11466 4.11393C4.87161 3.35699 5.75703 2.75977 6.77091 2.32227C7.7848 1.88477 8.86119 1.66602 10.0001 1.66602C11.1529 1.66602 12.2327 1.88477 13.2397 2.32227C14.2466 2.75977 15.1286 3.35699 15.8855 4.11393C16.6424 4.87088 17.2397 5.75282 17.6772 6.75977C18.1147 7.76671 18.3334 8.84657 18.3334 9.99935C18.3334 11.1382 18.1147 12.2146 17.6772 13.2285C17.2397 14.2424 16.6424 15.1278 15.8855 15.8848C15.1286 16.6417 14.2466 17.2389 13.2397 17.6764C12.2327 18.1139 11.1529 18.3327 10.0001 18.3327ZM10.0001 16.6243C10.3612 16.1243 10.6737 15.6035 10.9376 15.0618C11.2015 14.5202 11.4167 13.9438 11.5834 13.3327H8.41675C8.58341 13.9438 8.79869 14.5202 9.06258 15.0618C9.32647 15.6035 9.63897 16.1243 10.0001 16.6243ZM7.83341 16.291C7.58341 15.8327 7.36466 15.357 7.17716 14.8639C6.98966 14.3709 6.83341 13.8605 6.70841 13.3327H4.25008C4.65286 14.0271 5.15633 14.6313 5.7605 15.1452C6.36466 15.6591 7.05564 16.041 7.83341 16.291ZM12.1667 16.291C12.9445 16.041 13.6355 15.6591 14.2397 15.1452C14.8438 14.6313 15.3473 14.0271 15.7501 13.3327H13.2917C13.1667 13.8605 13.0105 14.3709 12.823 14.8639C12.6355 15.357 12.4167 15.8327 12.1667 16.291ZM3.54175 11.666H6.37508C6.33341 11.3882 6.30216 11.1139 6.28133 10.8431C6.2605 10.5723 6.25008 10.291 6.25008 9.99935C6.25008 9.70768 6.2605 9.42643 6.28133 9.1556C6.30216 8.88477 6.33341 8.61046 6.37508 8.33268H3.54175C3.4723 8.61046 3.42022 8.88477 3.3855 9.1556C3.35078 9.42643 3.33341 9.70768 3.33341 9.99935C3.33341 10.291 3.35078 10.5723 3.3855 10.8431C3.42022 11.1139 3.4723 11.3882 3.54175 11.666ZM8.04175 11.666H11.9584C12.0001 11.3882 12.0313 11.1139 12.0522 10.8431C12.073 10.5723 12.0834 10.291 12.0834 9.99935C12.0834 9.70768 12.073 9.42643 12.0522 9.1556C12.0313 8.88477 12.0001 8.61046 11.9584 8.33268H8.04175C8.00008 8.61046 7.96883 8.88477 7.948 9.1556C7.92716 9.42643 7.91675 9.70768 7.91675 9.99935C7.91675 10.291 7.92716 10.5723 7.948 10.8431C7.96883 11.1139 8.00008 11.3882 8.04175 11.666ZM13.6251 11.666H16.4584C16.5279 11.3882 16.5799 11.1139 16.6147 10.8431C16.6494 10.5723 16.6667 10.291 16.6667 9.99935C16.6667 9.70768 16.6494 9.42643 16.6147 9.1556C16.5799 8.88477 16.5279 8.61046 16.4584 8.33268H13.6251C13.6667 8.61046 13.698 8.88477 13.7188 9.1556C13.7397 9.42643 13.7501 9.70768 13.7501 9.99935C13.7501 10.291 13.7397 10.5723 13.7188 10.8431C13.698 11.1139 13.6667 11.3882 13.6251 11.666ZM13.2917 6.66602H15.7501C15.3473 5.97157 14.8438 5.3674 14.2397 4.85352C13.6355 4.33963 12.9445 3.95768 12.1667 3.70768C12.4167 4.16602 12.6355 4.64171 12.823 5.13477C13.0105 5.62782 13.1667 6.13824 13.2917 6.66602ZM8.41675 6.66602H11.5834C11.4167 6.0549 11.2015 5.47852 10.9376 4.93685C10.6737 4.39518 10.3612 3.87435 10.0001 3.37435C9.63897 3.87435 9.32647 4.39518 9.06258 4.93685C8.79869 5.47852 8.58341 6.0549 8.41675 6.66602ZM4.25008 6.66602H6.70841C6.83341 6.13824 6.98966 5.62782 7.17716 5.13477C7.36466 4.64171 7.58341 4.16602 7.83341 3.70768C7.05564 3.95768 6.36466 4.33963 5.7605 4.85352C5.15633 5.3674 4.65286 5.97157 4.25008 6.66602Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
        background-position: center center; 
        background-repeat: no-repeat;
        background-size: contain;
    }
    header .global button::after {
        content: "";
        position: absolute;
        right: 0.6em;
        top: 0.4em;
        width: 1.3333em;
        height: 1.3333em;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 8.33398L10 13.334L5 8.33398L6.16667 7.16732L10 11.0007L13.8333 7.16732L15 8.33398Z' fill='white'/%3E%3C/svg%3E%0A");   
        background-position: center center; 
        background-repeat: no-repeat;
        background-size: contain;
    }
    header .global .list {
        position: absolute; /*global을 기준으로 정렬*/
        left: 0;
        top: 2.2667em;
        width: 100%;
        background-color: #fff;
        border-radius: 1em;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        font-size: 0.8824rem;
        color: #1d1d1d;
        text-align: center;
        padding: 1em 0;
        display: none;
    }
    header .global .list ul li a {
        display: block;
        line-height: 1.7;
    }
    header .global .list ul li.active a {
        font-weight: 700;
    }
} /* @media */

@media screen and (max-width:1000px){ 
    header {
        padding-right: 0; /*오른쪽 여백 삭제*/
    }
    header .gnb .gnb_open {
        width: var(--header-h);
        height: var(--header-h);
        color: transparent; /*글자색 투명*/
        position: relative; /*before 정렬의 기준*/
    }
    header .gnb .gnb_open::before {
        content: "";
        position: absolute;
        width: 2.9412em;
        height: 2.9412em;
        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 32.055V30.6264H35V32.055H15ZM15 25.2418V23.8132H35V25.2418H15ZM15 18.4286V17H35V18.4286H15Z' fill='%23FAF6E8'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    header .gnb_wrap {
        display: none;
    }
    header .global {
        display: none;
    }
    header .gnb .gnb_close {
        display: none;
    }
    
} /* @media */

@media screen and (max-width:760px){ 
    header .logo {
        margin: 0 0 0.2em 0;
    }
    header .logo a {
        width: 7.0588em;
        height: 2.4118em;
    }
} /* @media */


footer {
    margin-bottom: 2000px;
}