@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 28px 0 0 0;
}
header .gnb .gnb_open, header .gnb .gnb_close  {
    display: none; /* 모바일에서만 나올거라 pc에서는 숨김처리함.*/
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    position: relative;
    font-size: 20px; /* 글자크기나 색상 등의 값은 li나 ul이 아닌 'a'한테 준다. */
    color: #3d3d3d;
    line-height: 100px; /* margin이나 padding의 상하여백으로 높이를 맞누는 것이 아니라 행간을 100px로 주어 맞춘다. */
    padding: 0 21px; /* 좌우여백으로 메뉴명 사이의 여백을 준다. */

    transition: 1s;
}
header .gnb .gnb_wrap ul li a span::after {
    content: "";
    position: absolute;
    left: 16px;
    bottom: 0;
    width: calc(100% - 32px); /* 이렇게 줘도 되나??*/
    height: 2px;
    background-color: #255698;
    display: none;

    transition: 1s;

}
header .gnb .gnb_wrap ul li a:hover span {
    color: #255698;
    font-weight: 700;
}
header .gnb .gnb_wrap ul li a:hover span::after {
    display: block; /* a span::after 에서 줬던 none을 해제하기 */
}


/* mobile 버전 css */
@media screen and (max-width:640px){
    header {
        height: 50px;
    }
    header .logo {
        margin: 14px 0 0 0;
    }
    header .logo a {
        display: block;
    }
    header .logo a img {
        width: 90px; /*모바일에서 이미지의 사이즈가 변경될 때 너비/높이 하나만 주면 나머지 값은 비율에 맞게 들어감ㅁ. */
    }
    header .gnb .gnb_open {
        display: block; /* 모바일에서만 나오도록 */
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 50px;
        font-size: 0;
        line-height: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.068' height='13.973' viewBox='0 0 19.068 13.973'%3E%3Cpath id='menu_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.059-706.027a.98.98,0,0,1-.755-.335,1.187,1.187,0,0,1-.3-.83,1.187,1.187,0,0,1,.3-.83.98.98,0,0,1,.755-.335h16.949a.98.98,0,0,1,.755.335,1.187,1.187,0,0,1,.3.83,1.187,1.187,0,0,1-.3.83.98.98,0,0,1-.755.335Zm0-5.822a.979.979,0,0,1-.755-.335,1.186,1.186,0,0,1-.3-.83,1.187,1.187,0,0,1,.3-.83.981.981,0,0,1,.755-.334h16.949a.981.981,0,0,1,.755.334,1.187,1.187,0,0,1,.3.83,1.186,1.186,0,0,1-.3.83.979.979,0,0,1-.755.335Zm0-5.822a.979.979,0,0,1-.755-.335,1.187,1.187,0,0,1-.3-.83,1.187,1.187,0,0,1,.3-.83.98.98,0,0,1,.755-.335h16.949a.98.98,0,0,1,.755.335,1.187,1.187,0,0,1,.3.83,1.187,1.187,0,0,1-.3.83.979.979,0,0,1-.755.335Z' transform='translate(-120 720)' fill='%23555'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 19px;
    }
    header .gnb .gnb_open::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.068' height='13.973' viewBox='0 0 19.068 13.973'%3E%3Cpath id='menu_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.059-706.027a.98.98,0,0,1-.755-.335,1.187,1.187,0,0,1-.3-.83,1.187,1.187,0,0,1,.3-.83.98.98,0,0,1,.755-.335h16.949a.98.98,0,0,1,.755.335,1.187,1.187,0,0,1,.3.83,1.187,1.187,0,0,1-.3.83.98.98,0,0,1-.755.335Zm0-5.822a.979.979,0,0,1-.755-.335,1.186,1.186,0,0,1-.3-.83,1.187,1.187,0,0,1,.3-.83.981.981,0,0,1,.755-.334h16.949a.981.981,0,0,1,.755.334,1.187,1.187,0,0,1,.3.83,1.186,1.186,0,0,1-.3.83.979.979,0,0,1-.755.335Zm0-5.822a.979.979,0,0,1-.755-.335,1.187,1.187,0,0,1-.3-.83,1.187,1.187,0,0,1,.3-.83.98.98,0,0,1,.755-.335h16.949a.98.98,0,0,1,.755.335,1.187,1.187,0,0,1,.3.83,1.187,1.187,0,0,1-.3.83.979.979,0,0,1-.755.335Z' transform='translate(-120 720)' fill='%23555'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 19px;
    }
    header .gnb .gnb_wrap {
        display: none; /* 모바일에서 숨김 */
    }
}/* header @media */


.visual {
    height: 800px;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff; /* background 때문에 글자 색상을 바꿨다면 같은 요소에 속성을 주는 것이 좋다. 바꿀때 같이 바꾸면 좋음*/
}
.visual strong {
    display: inline-block;
    margin: 492px 0 0 0;
}
.visual h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    margin: 5px 0 10px 0;
}

@media screen and (max-width:640px){
    .visual {
        height: auto;
        padding: 0 0 60px 0;
    }
    .visual strong {
        margin: 145px 0 0 0;
    }
    .visual h2 {
        font-size: 25px;
    }
}/* visual @media */

/* int */
.int {
    margin: 136px 0 0 0;
}
/* txt_left */
.int .txt_left {
    display: flex;
    justify-content: space-between;
}
.int .txt_left .inner {
    padding: 76px 107px 0 0;
    width: 618px;
}
/* txt_right */
.int .txt_right {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.int .txt_right .inner {
    padding: 104px 0 0 107px;
    width: 618px;
}
.int strong {
    color: #255698;
}
.int h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin: 8px 0;
}
.int h2 em {
    color: #255698;
}
.int .sub_title {
    font-size: 20px;
    font-weight: 600;
    color: #555;
    margin: 0 0 6px 0;
}
.int .btn_wrap {
    display: flex;
    flex-wrap: wrap; /* 버튼 두 줄 허용 */
    margin: 60px 0 0 0;
    gap: 10px;
}
.int .btn_wrap a {
    display: inline-block;
    padding: 12px 29px;
    border-radius: 30px;
    border: 1px solid #255698;
    background-color: #fff;
    color: #255698;

    transition: 0.5s; /* 마우스 오버 시 천천히(느리게) 색이 바뀌도록*/
}
.int .btn_wrap a.primary{ /*하나만 스타일 다르게 할 때 primary 혹은 point 라는 이름으로 클래스를 준다. */
    border: 1px solid #255698;
    background-color: #255698;
    color: #fff;
}
.int .btn_wrap a:hover {
    background-color: #229EA0;
    border: 1px solid #229EA0;
    color: #fff;
}
.int .photo {
    height: 568px; 
    border-radius: 30px;
    overflow: hidden; 
}
.int .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width:640px){
    .int {
        margin: 50px 0 0 0;
    }
    .int .txt_left {
        display: block; /* flex해제하기 위해서*/
    }
    .int .txt_right {
        display: block; /* flex해제하기 위해서*/
        margin: 60px 0 0 0;
    }
    .int .txt_left .inner {
        padding: 0 0;
        width: auto; /* 너비 제한 풀고 원래 너비대로 들어가도록 함. */
    }
    .int .txt_right .inner {
        padding: 0 0;
        width: auto; /* 너비 제한 풀고 원래 너비대로 들어가도록 함. */
    }
    .int h2 {
        font-size: 25px;
        margin: 6px 0 13px 0;
    }
    .int .sub_title {
        font-size: 15px;
        margin: 0 0 13px 0;
    }
    .int .btn_wrap {
        margin: 20px 0 0 0;
        gap: 5px;
    }
    .int .btn_wrap a {
        padding: 9px 18px;
    }
    .int .photo {
        height: 168px;
        border-radius: 15px;
        margin: 11px;
    }
}/* int @media */

body {
    background-color: aqua;
}

footer {
    margin-top: 300px;
}