
@import url(default.css);
@import url(font.css);

body {
    font-family: "Pretendard", sans-serif; /*폰트*/
    font-size: 17px; /*폰트 사이즈*/
    font-weight: 400; /*폰트 두께 regular*/
    line-height: 1.5; /*행간*/
    letter-spacing: -0.03em; /*자간; -30 줌*/
    color: #555; /*폰트 색상*/
    word-break: keep-all; /*단어로 줄바꿈*/
    word-wrap: break-word; /*단어가 너무 길어서 줄바꿈이 안될 때 강제로 줄바꿈
    keep-all때문에 발생하는 오류(여백을 기준으로 단어 단위로 줄바꿈하는 오류)를 수정하기 위함*/
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
#wrap { /*반응형때문에 생긴 코드*/
    min-width: 1300px; 
    /*브라우저의 최소넓이를 지정하는 코드임
    -작은 브라우저에서 가로 스크롤이 생기면 배경이 잘리기 때문
    -wrapper에서 지정한 width에 좌우여백 20px씩 준값 
    1260 + 40 = 1300px*/
}
header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 24px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    padding: 40px 17px 34px 17px;
    letter-spacing: -0.05em;
    position: relative;/* after 정렬의 기준 */
}
header .gnb ul li a:hover { /* a에게 마우스를 올렸을 때 상태 */
    color: #232175;
    font-weight: 700;
}
header .gnb ul li a:hover::after{ /* a에게 마우스를 올렸을 때 after 가상선택자 */
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 17px;
    bottom: 4px;
    width: calc(100% - 34px); /* 100%의 의미 : a 넓이에 꽉 채워서*/
    height: 3px;
    background-color: #232175;
}

.visual {
    height: 700px;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;   
}
.visual strong {
    padding: 158px 0 11px 0;
    display: block;
}
.visual h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.03em;
}