@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);

header {
    position: absolute; /* body를 기준으로 */
    left: 0;
    top: 0;
    z-index: 100; 
    /* position 속성을 갖은 요소는 서로 위아래 순서가 생김
       header는 맨위에 둘 요소라 제일 높은값 100을 줌 */
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 25px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    line-height: 94px;
    /* 메뉴가 정확한 높이를 갖고 위아래 가운데 정렬이 됨
       하위에 메뉴로 이동할때 정확한 높이가 안잡히면 out됨 
       header 높이 값을 줌 */
    font-size: 22px;
    font-family: 'Gmarket Sans';
    font-weight: 500;
    padding: 6px 30px 0 30px;
}
header .tnb {
    display: flex;
    margin: 33px 0 0 0;
}
header .tnb .mypage a {
    display: block;
    width: 36px;
    height: 36px;

    /* 글자 지우고 아이콘으로 대체 */
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .tnb .mypage a::before {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 17.5381C16.5563 17.5381 15.3204 17.0241 14.2924 15.9961C13.2641 14.9678 12.75 13.7318 12.75 12.2881C12.75 10.8443 13.2641 9.60846 14.2924 8.58046C15.3204 7.55221 16.5563 7.03809 18 7.03809C19.4438 7.03809 20.6796 7.55221 21.7076 8.58046C22.7359 9.60846 23.25 10.8443 23.25 12.2881C23.25 13.7318 22.7359 14.9678 21.7076 15.9961C20.6796 17.0241 19.4438 17.5381 18 17.5381ZM6.75 26.6825V25.6265C6.75 24.892 6.9495 24.2117 7.3485 23.5857C7.7475 22.9597 8.28075 22.4785 8.94825 22.142C10.4307 21.4152 11.9264 20.8701 13.4351 20.5066C14.9439 20.1431 16.4655 19.9613 18 19.9613C19.5345 19.9613 21.0561 20.1431 22.5649 20.5066C24.0736 20.8701 25.5693 21.4152 27.0518 22.142C27.7193 22.4785 28.2525 22.9597 28.6515 23.5857C29.0505 24.2117 29.25 24.892 29.25 25.6265V26.6825C29.25 27.315 29.0284 27.853 28.5851 28.2965C28.1419 28.7397 27.6039 28.9613 26.9711 28.9613H9.02888C8.39613 28.9613 7.85812 28.7397 7.41487 28.2965C6.97162 27.853 6.75 27.315 6.75 26.6825ZM9 26.7113H27V25.6265C27 25.3227 26.912 25.0415 26.736 24.7827C26.56 24.5242 26.3211 24.3132 26.0194 24.1497C24.7269 23.5132 23.4091 23.031 22.0661 22.703C20.7229 22.3752 19.3675 22.2113 18 22.2113C16.6325 22.2113 15.2771 22.3752 13.9339 22.703C12.5909 23.031 11.2731 23.5132 9.98062 24.1497C9.67887 24.3132 9.44 24.5242 9.264 24.7827C9.088 25.0415 9 25.3227 9 25.6265V26.7113ZM18 15.2881C18.825 15.2881 19.5313 14.9943 20.1188 14.4068C20.7063 13.8193 21 13.1131 21 12.2881C21 11.4631 20.7063 10.7568 20.1188 10.1693C19.5313 9.58184 18.825 9.28809 18 9.28809C17.175 9.28809 16.4688 9.58184 15.8813 10.1693C15.2938 10.7568 15 11.4631 15 12.2881C15 13.1131 15.2938 13.8193 15.8813 14.4068C16.4688 14.9943 17.175 15.2881 18 15.2881Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .tnb .global {
    margin: 0 0 0 19px;
}
header .tnb .global button {
    width: 29px;
    height: 29px;

    /* 글자 지우고 아이콘으로 대체 */
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .tnb .global button::before {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5002 25.9788C12.9263 25.9788 11.4411 25.6772 10.0444 25.0738C8.6478 24.4704 7.4298 23.649 6.39043 22.6094C5.35086 21.57 4.5294 20.352 3.92604 18.9554C3.32268 17.5588 3.021 16.0735 3.021 14.4997C3.021 12.9133 3.32268 11.425 3.92604 10.0346C4.5294 8.64419 5.35086 7.42931 6.39043 6.38994C7.4298 5.35038 8.6478 4.52891 10.0444 3.92555C11.4411 3.32219 12.9263 3.02051 14.5002 3.02051C16.0865 3.02051 17.5749 3.32219 18.9653 3.92555C20.3556 4.52891 21.5705 5.35038 22.6099 6.38994C23.6495 7.42931 24.4709 8.64419 25.0743 10.0346C25.6776 11.425 25.9793 12.9133 25.9793 14.4997C25.9793 16.0735 25.6776 17.5588 25.0743 18.9554C24.4709 20.352 23.6495 21.57 22.6099 22.6094C21.5705 23.649 20.3556 24.4704 18.9653 25.0738C17.5749 25.6772 16.0865 25.9788 14.5002 25.9788ZM14.5002 24.1407C15.1168 23.3228 15.6358 22.4979 16.0571 21.666C16.4784 20.8341 16.8216 19.9247 17.0866 18.9379H11.9137C12.1943 19.9557 12.5414 20.8806 12.955 21.7125C13.3685 22.5445 13.8835 23.3538 14.5002 24.1407ZM12.1602 23.8084C11.697 23.1438 11.2811 22.3883 10.9123 21.5418C10.5436 20.6952 10.257 19.8272 10.0526 18.9379H5.95362C6.59182 20.1927 7.44772 21.247 8.52133 22.1007C9.59493 22.9542 10.8079 23.5234 12.1602 23.8084ZM16.8401 23.8084C18.1924 23.5234 19.4054 22.9542 20.479 22.1007C21.5526 21.247 22.4085 20.1927 23.0467 18.9379H18.9477C18.7045 19.8349 18.3984 20.7067 18.0297 21.5533C17.6612 22.4 17.2646 23.1516 16.8401 23.8084ZM5.19358 17.1254H9.68556C9.60964 16.6763 9.55456 16.2359 9.52032 15.8044C9.48628 15.373 9.46927 14.9381 9.46927 14.4997C9.46927 14.0613 9.48628 13.6264 9.52032 13.195C9.55456 12.7634 9.60964 12.3231 9.68556 11.874H5.19358C5.07738 12.2844 4.98836 12.7111 4.92654 13.1542C4.86451 13.5973 4.8335 14.0457 4.8335 14.4997C4.8335 14.9536 4.86451 15.4021 4.92654 15.8452C4.98836 16.2882 5.07738 16.715 5.19358 17.1254ZM11.4978 17.1254H17.5026C17.5783 16.6763 17.6333 16.2399 17.6675 15.8162C17.7015 15.3924 17.7186 14.9536 17.7186 14.4997C17.7186 14.0457 17.7015 13.6069 17.6675 13.1832C17.6333 12.7595 17.5783 12.3231 17.5026 11.874H11.4978C11.422 12.3231 11.3671 12.7595 11.3328 13.1832C11.2988 13.6069 11.2818 14.0457 11.2818 14.4997C11.2818 14.9536 11.2988 15.3924 11.3328 15.8162C11.3671 16.2399 11.422 16.6763 11.4978 17.1254ZM19.3148 17.1254H23.8067C23.9229 16.715 24.012 16.2882 24.0738 15.8452C24.1358 15.4021 24.1668 14.9536 24.1668 14.4997C24.1668 14.0457 24.1358 13.5973 24.0738 13.1542C24.012 12.7111 23.9229 12.2844 23.8067 11.874H19.3148C19.3907 12.3231 19.4458 12.7634 19.48 13.195C19.514 13.6264 19.5311 14.0613 19.5311 14.4997C19.5311 14.9381 19.514 15.373 19.48 15.8044C19.4458 16.2359 19.3907 16.6763 19.3148 17.1254ZM18.9477 10.0615H23.0467C22.4009 8.79111 21.5508 7.73683 20.4965 6.89865C19.4422 6.06067 18.2234 5.48752 16.8401 5.1792C17.3033 5.88245 17.7153 6.65165 18.0762 7.48681C18.4373 8.32177 18.7278 9.17999 18.9477 10.0615ZM11.9137 10.0615H17.0866C16.8061 9.0513 16.4532 8.12058 16.0281 7.26931C15.6028 6.41804 15.0935 5.6145 14.5002 4.85868C13.9069 5.6145 13.3976 6.41804 12.9722 7.26931C12.5471 8.12058 12.1943 9.0513 11.9137 10.0615ZM5.95362 10.0615H10.0526C10.2725 9.17999 10.563 8.32177 10.9241 7.48681C11.285 6.65165 11.697 5.88245 12.1602 5.1792C10.769 5.48752 9.54831 6.06269 8.49807 6.9047C7.44762 7.7465 6.59948 8.79876 5.95362 10.0615Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.visual {
    height: 900px;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual h2 {
    font-family: 'Gmarket Sans';
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
    padding: 638px 0 11px 0;
}

.biz {
    margin: 168px 0 0 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex로 정렬된 tit하고 list의 높이가 동일하게 설정됨
       각자 콘텐츠의 높이대로만 높이가 잡히로도록 설정하기 위해서
       tit에  sticky  적용하기 위해서 */
}
.biz .tit {
    position: sticky;
    /* 감싸고 있는 wrapper 안에서 고정 
       주의사항!!!!!!!!!!!!! 감싸는 요소중에서 단 1개라도 overflow:hidden;이 적용되어 있으면
       적용되지 않음 ----- 그래서 실제로는 이렇게 코딩 못함!!! 
       #wrap에는 무조건 overflow:hidden; 들어가야 하므로.... */
    top: 20px; /* 고정될때 위에서 떨어지는 값 */
}
.biz .tit strong {
    color: #0A55A6;
}
.biz .tit h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
    margin: 6px 0 14px 0;
    color: #1d1d1d;
}
.biz .list {
    width: 664px;
    padding-bottom: 61px; /* list가 transform으로 이동한 만큼 */
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 24px;
}
.biz .list ul li {
    width: 320px;
}
.biz .list ul li:nth-child(odd) {
    transform: translateY(61px);
}
.biz .list ul li:nth-child(even) {
    transform: translateY(-20px);
}
.biz .list ul li a {
    display: flex;
    align-items: flex-end;
    /* a안에 photo, inner가 있는데 photo는 absolute를 줘서
    flex의 영향을 안받음. 
    inner를 a안에서 하단 정렬로 배치함 */
    position: relative; /* photo 정렬의 기준 */
    height: 404px;
    color: rgba(255,255,255,0.8);
    border-radius: 20px;
    overflow: hidden; /* 영역 밖에 나오는 요소 숨김 */
}
.biz .list ul li a .photo {
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    /* position이 있는 photo와 position이 없는 inner가 
      나란히 존재하는 경우 position이 있는 photo가 위에 올라감
      무조건 아래로 배치되게 하는 값  */
    width: 100%;
    height: 100%;
}
.biz .list ul li a .inner {
    padding: 0 34px 40px 34px;
}
.biz .list ul li a h3 {
    font-family: 'Gmarket Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
}
.biz .list ul li a p {
    margin: 11px 0 34px 0;
    display: none; /* 숨김 */
}
.biz .list ul li a span {
    display: none; /* 숨김 */
    font-size: 15px;
    position: relative; /* after 정렬의 기준 */
    padding-right: 24px; /* 오른쪽에 아이콘 들어갈 자리 */
}
.biz .list ul li a span::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9463 11.9995L8.87301 7.92652C8.73468 7.78802 8.66385 7.61394 8.66051 7.40427C8.65735 7.19477 8.72818 7.01752 8.87301 6.87252C9.01801 6.72769 9.19368 6.65527 9.40001 6.65527C9.60634 6.65527 9.78201 6.72769 9.92701 6.87252L14.4213 11.3668C14.5148 11.4604 14.5808 11.5592 14.6193 11.663C14.6578 11.7669 14.677 11.879 14.677 11.9995C14.677 12.12 14.6578 12.2322 14.6193 12.336C14.5808 12.4399 14.5148 12.5386 14.4213 12.6323L9.92701 17.1265C9.78851 17.2649 9.61443 17.3357 9.40476 17.339C9.19526 17.3422 9.01801 17.2714 8.87301 17.1265C8.72818 16.9815 8.65576 16.8059 8.65576 16.5995C8.65576 16.3932 8.72818 16.2175 8.87301 16.0725L12.9463 11.9995Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
/* 오버했을때 */
.biz .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0A55A6;
    opacity: 0.9;
    display: none;
}
.biz .list ul li a:hover .photo::before {
    display: block;
}
.biz .list ul li a:hover p {
    display: block;
    /* display:none로 안보이게 한 요소는 display에 다른 속성
    아무거나 줘도 나타나게됨. 만만한게 block이라 block줌 */
}
.biz .list ul li a:hover span {
    display: inline-block;
}

.news {
    background-color: #E0E3E8;
    margin: 146px 0 0 0;
    padding: 118px 0 128px 0;
}
.news .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.news .tit strong {
    color: #0A55A6;
}
.news .tit h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
    color: #1d1d1d;
    margin: 9px 0 0 0;
}
.news .list {
    margin: 37px 0 0 0;
}
.news .list ul li {
    margin: 0 0 10px 0;
}
.news .list ul li a {
    display: flex;
    justify-content: space-between;
    padding: 28px 41px 22px 41px;
    background-color: #fff;
}
.news .list ul li a h3 {
    font-family: 'Gmarket Sans';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    color: #1d1d1d;
}
/* 오버했을때 */
.news .list ul li a:hover {
    background-color: #0A55A6;
    color: #fff;
}
.news .list ul li a:hover h3 {
    color: #fff;
}
.news .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 8px;
    top: 51px;
}
.news .more a {
    display: block;
    padding: 5px 24px 5px 5px;

    position: relative; /* after 정렬의 기준 */
}
.news .more a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 6px;
    width: 20px; /* 아이콘의 크기 */
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.37467 10.6247H5.20801C5.03092 10.6247 4.88252 10.5647 4.7628 10.4449C4.64294 10.325 4.58301 10.1765 4.58301 9.99947C4.58301 9.82224 4.64294 9.67384 4.7628 9.55426C4.88252 9.43454 5.03092 9.37467 5.20801 9.37467H9.37467V5.20801C9.37467 5.03092 9.4346 4.88252 9.55447 4.7628C9.67433 4.64294 9.8228 4.58301 9.99988 4.58301C10.1771 4.58301 10.3255 4.64294 10.4451 4.7628C10.5648 4.88252 10.6247 5.03092 10.6247 5.20801V9.37467H14.7913C14.9684 9.37467 15.1168 9.4346 15.2365 9.55447C15.3564 9.67433 15.4163 9.8228 15.4163 9.99988C15.4163 10.1771 15.3564 10.3255 15.2365 10.4451C15.1168 10.5648 14.9684 10.6247 14.7913 10.6247H10.6247V14.7913C10.6247 14.9684 10.5647 15.1168 10.4449 15.2365C10.325 15.3564 10.1765 15.4163 9.99947 15.4163C9.82224 15.4163 9.67384 15.3564 9.55426 15.2365C9.43454 15.1168 9.37467 14.9684 9.37467 14.7913V10.6247Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: transform 1s; /* 변경되는 값을 천천히 변경 */
}
.news .more a:hover {
    color: #0A55A6;
}
.news .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.37467 10.6247H5.20801C5.03092 10.6247 4.88252 10.5647 4.7628 10.4449C4.64294 10.325 4.58301 10.1765 4.58301 9.99947C4.58301 9.82224 4.64294 9.67384 4.7628 9.55426C4.88252 9.43454 5.03092 9.37467 5.20801 9.37467H9.37467V5.20801C9.37467 5.03092 9.4346 4.88252 9.55447 4.7628C9.67433 4.64294 9.8228 4.58301 9.99988 4.58301C10.1771 4.58301 10.3255 4.64294 10.4451 4.7628C10.5648 4.88252 10.6247 5.03092 10.6247 5.20801V9.37467H14.7913C14.9684 9.37467 15.1168 9.4346 15.2365 9.55447C15.3564 9.67433 15.4163 9.8228 15.4163 9.99988C15.4163 10.1771 15.3564 10.3255 15.2365 10.4451C15.1168 10.5648 14.9684 10.6247 14.7913 10.6247H10.6247V14.7913C10.6247 14.9684 10.5647 15.1168 10.4449 15.2365C10.325 15.3564 10.1765 15.4163 9.99947 15.4163C9.82224 15.4163 9.67384 15.3564 9.55426 15.2365C9.43454 15.1168 9.37467 14.9684 9.37467 14.7913V10.6247Z' fill='%230A55A6'/%3E%3C/svg%3E%0A");
    transform: rotate(360deg);
}

.webzine {
    margin: 162px 0 0 0;
}
.webzine .tit strong {
    color: #0A55A6;
}
.webzine .tit h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
    margin: 6px 0 0 0;
    color: #1d1d1d;
}
.webzine .list {
    margin: 35px 0 0 0;
}
.webzine .list ul {
    display: flex;
    gap: 24px;
    /*
        li의 넓이 (404) * li의 갯수 (5)  = 2020
        li 사이의 여백 (24) * li의 갯수 -1 (4) = 96
        2020 + 96 = 2116

        * 넓이가 wrapper보다 넓을때
        flex로 정렬된 li들은 무조건 한줄로 들어가려고 
        li에 넓이를 줘도 찌그러짐.. (사이즈가 변경됨)
        넓이를 유지하려면 넓이를 계산해서 ul한테 줘야함
    */
    width: 2116px;
}
.webzine .list ul li {
    width: 404px;
}
.webzine .list ul li a {
    display: block;
}
.webzine .list ul li a .photo {
    height: 248px;
    border-radius: 20px;
    overflow: hidden; /* border-radius가 적용이 안되서 */
    position: relative; /* category정렬의 기준 */
}
.webzine .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s; 
    /* 오버하거나 class가 추가되거나 변경사항이 생겼을때 
       그 수정사항을 천천히 실행하라 */
}
.webzine .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.webzine .list ul li a .photo .category {
    position: absolute; /* photo를 기준으로 정렬 */
    bottom: 7px;
    left: 9px;
    background-color: #0A55A6;
    color: #fff;
    padding: 5px 17px 3px 17px;
    border-radius: 25px;
}
.webzine .list ul li a:hover .photo .category {
    background-color: #3997D7;
}
.webzine .list ul li a .category {
    color: #0A55A6;
    display: block;
    margin: 24px 0 0 0;
}
.webzine .list ul li a h3 {
    font-family: 'Gmarket Sans';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    margin: 9px 0 15px 0;
    color: #1d1d1d;

    line-height: 1.1;
    height: 2.2em;
    overflow: hidden;
}
.webzine .list ul li a p {
    /* 2줄로 제한 */
    line-height: 1.4;
    height: 4.2em; /* 행간 * 줄수 (단위는 em) */
    overflow: hidden;
}