@import url(default.css);
@import url(common.css);
@import url(font.css);

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    height: 100vh;
}
.visual h2 
{
    padding-top: 433px;
}
body {
    margin-bottom: 500px;
}