/*
 * main.css
 * 메인페이지에만 적용되는 스타일 입력,
 * 다른 css import 
 */
 @import url(default.css);
 @import url(font.css);
 @import url(common.css);
 @import url(layout.css); 

.txt_ani {
    margin: 200px 0 500px;
}
.txt_ani .txt_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.txt_ani .txt_wrap .row {
    font-size: 3.5vw;
    font-weight: 700;
    color: #EDEDED;
    white-space: nowrap;
    position: relative; /* span */
}
.txt_ani .txt_wrap .row span {
    color: #1d1d1d;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    animation-name: txt_ani;
    animation-duration: 1s;
    animation-iteration-count: 1; /* 1번만 실행 */
    animation-fill-mode: forwards; /* 종료 후 100% 유지 */
}
.txt_ani .txt_wrap .row:nth-child(1) span {
    animation-delay: 0.5s;
}
.txt_ani .txt_wrap .row:nth-child(2) span {
    animation-delay: 1.5s;
}
@keyframes txt_ani {
    0% { width: 0; }
    100% { width: 100%; }
}
.txt_slide .txt_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.txt_slide .txt_wrap .row {
    font-size: 3.5vw;
    font-weight: 700;
    color: #EDEDED;
    position: relative; /* span */
    white-space: nowrap;
}
.txt_slide .txt_wrap .row span {
    color: #1d1d1d;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: 0.2s;
}
.photo_resize {
    margin: 150px 0 0 0;
}
.photo_resize .photo {
    overflow: hidden;
    height: 334px;
    width: 50%;
    margin: 0 auto;
}
.photo_resize .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg_fixed {
    margin: 500px 0 0 0;
    background: url(../images/bg_fixed.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    /* 이미지를 저장할때 높이를 브라우저의 높이만큼 엄청 크게 잡고 저장해야함 
       높이를 디자인한 높이만큼 작게 저장하면 이미지가 과도하게 늘어남 */
    height: 640px;
}
.bg_fixed h2 {
    padding: 127px 0 0 0;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}

.bg_change {
    margin: 300px 0 0 0;
    transition: 0.5s;
}
.bg_change .video_fit .tit {
    padding: 130px 0 0 0;
}
.bg_change .video_fit .tit h2 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 24px 0;
    transition: color 0.5s;
}
.bg_change .video_fit .video_area {
    height: 200vh;
    position: relative; /* video_wrap 정렬의 기준 */
}

.bg_change .video_fit .video_area .video_wrap {
    left: 0;
    width: 100%;
    height: 100vh;
}
.bg_change .video_fit .video_area[data-status="before"] .video_wrap {
    position: absolute; /*video_area*/
    top: 0;
}
.bg_change .video_fit .video_area[data-status="fixed"] .video_wrap {
    position: fixed;
    top: 0;
}
.bg_change .video_fit .video_area[data-status="after"] .video_wrap {
    position: absolute;
    bottom: 0;
}
.bg_change .video_fit .video_area .video_wrap .video_inner {
    overflow: hidden;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    /* video_wrap 영역의 좌우에 가운데 위아래 가운데 */
    width: 80%;
    height: 80%;
    transition: 0.2s;
}
.bg_change .video_fit .video_area .video_wrap .video_inner video {
    /* video태그는 이미지랑 조금 비슷함 */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 검은색 배경으로 변경되었을때 */
.bg_change.black {
    background-color: #1d1d1d;
    color: #fff;
}
.bg_change.black .video_fit .tit h2 {
    color: #fff;
}

@media screen and (max-width:1300px){
    .txt_slide .txt_wrap .row {
        font-size: 5vw;
    }
}
@media screen and (max-width:1000px){

}

.scroll_event {
    padding: 300px 0 150px 0;
}
.scroll_event .event_wrap {
    position: relative; /* h2 정렬의 기준 */
    display: flex;
    justify-content: flex-end;
}
.scroll_event .event_wrap h2 {
    position: absolute;
    left: 0;
    top: 1.3em;
    font-size: 9rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    transition: 0.2s;
}
.scroll_event .event_wrap .photo {
    overflow: hidden;
    border-radius: 1.2em;
    max-width: 52.5em;
    width: 100%;
    height: 30em;
}
.scroll_event .event_wrap .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:1000px){
    .scroll_event .event_wrap h2 {
        top: 0.2em;
        font-size: 6rem;
    }
}
@media screen and (max-width:640px){
    .scroll_event .event_wrap h2 {
        font-size: 4rem;
    }
}

.book, .best {
    margin: 15em 0 0 0;
}
.book .list, .best .list {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px);
}
.book .list .popup .popup_wrap .popup_item,
.best .list .swiper ul li { /* 팝업 1개 */
    width: 11.18em;
    margin-top: 6.8em;
}
.book .list .popup .popup_wrap .popup_item {
    margin-right: 24px;
}

.book .list .popup .popup_wrap .popup_item a,
.best .list .swiper ul li a {
    display: block;
}

.book .list .popup .popup_wrap .popup_item a .photo,
.best .list .swiper ul li a .photo {
    overflow: hidden;
    height: 13em;
    border-radius: 0.3em;
}
.book .list .popup .popup_wrap .popup_item a .photo img,
.best .list .swiper ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book .list .popup .popup_wrap .popup_item a h2,
.best .list .swiper ul li a h2 {
    margin: 0.4em 0 0 0;
    font-size: 1.18rem;
    font-weight: 700;
    color: #1d1d1d;
}
.book .list .popup .popup_wrap .popup_item a span,
.best .list .swiper ul li a span {
    display: none; /* 안보임 */
    margin: 0.9em 0 0 0;
}
@media screen and (min-width:1001px){
        /* 1번 선택 */
        .book .list .popup .popup_wrap .popup_item.slick-current,
        .best .list .swiper ul li.swiper-slide-active {
            width: 36.3em;
            margin-top: 0;
        }
        .book .list .popup .popup_wrap .popup_item.slick-current a,
        .best .list .swiper ul li.swiper-slide-active a {
            display: flex;
            gap: 24px;
        }
        .book .list .popup .popup_wrap .popup_item.slick-current a .photo,
        .best .list .swiper ul li.swiper-slide-active a .photo {
            width: 17.5em;
            height: 23.5em;
        }
        .book .list .popup .popup_wrap .popup_item.slick-current a .txt,
        .best .list .swiper ul li.swiper-slide-active a .txt {
            width: 17.5em;
        }
        .book .list .popup .popup_wrap .popup_item.slick-current a h2,
        .best .list .swiper ul li.swiper-slide-active a h2 {
            font-size: 1.45rem;
        }
        .book .list .popup .popup_wrap .popup_item.slick-current a span,
        .best .list .swiper ul li a span.swiper-slide-active {
            display: block;
        }
}/* media */

/* slick 이전 다음 버튼 */
.book .list .popup .popup_wrap .slick-prev,
.book .list .popup .popup_wrap .slick-next {
    /* popup_wrap을 기준으로 정렬 absolute */
    top: auto;
    bottom: -50px;
    width: 44px;
    height: 44px;
    transform: translate(0, 0);
    border: 1px solid #555;
}
.book .list .popup .popup_wrap .slick-prev {
    left: auto;
    right: 50%;
    border-right-width: 0;
}
.book .list .popup .popup_wrap .slick-next {
    right: auto;
    left: 50%;
}
.book .list .popup .popup_wrap .slick-prev::before,
.book .list .popup .popup_wrap .slick-next::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* 위아래 좌우 가운데 정렬 */
    width: 10px;
    height: 19px;
    opacity: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.book .list .popup .popup_wrap .slick-prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.09025 9.24245L9.623 16.7752C9.82167 16.9739 9.9185 17.2078 9.9135 17.4769C9.90833 17.7463 9.80642 17.9803 9.60775 18.1789C9.40892 18.3776 9.17492 18.4769 8.90575 18.4769C8.63658 18.4769 8.40259 18.3776 8.20375 18.1789L0.53275 10.5232C0.351917 10.3424 0.217917 10.1398 0.13075 9.91545C0.0435833 9.69111 0 9.46678 0 9.24245C0 9.01811 0.0435833 8.79378 0.13075 8.56945C0.217917 8.34511 0.351917 8.14253 0.53275 7.9617L8.20375 0.290446C8.40259 0.0917794 8.63917 -0.00497022 8.9135 0.000196444C9.18783 0.00536311 9.42433 0.107279 9.623 0.305946C9.82167 0.504613 9.921 0.738613 9.921 1.00795C9.921 1.27711 9.82167 1.51103 9.623 1.7097L2.09025 9.24245Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.book .list .popup .popup_wrap .slick-next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.90975 9.75755L0.377 2.2248C0.178334 2.02614 0.0815006 1.79222 0.0865007 1.52305C0.0916668 1.25372 0.193584 1.01972 0.392251 0.821054C0.591084 0.622386 0.825083 0.523051 1.09425 0.523051C1.36342 0.523051 1.59742 0.622386 1.79625 0.821054L9.46725 8.4768C9.64808 8.65764 9.78208 8.86022 9.86925 9.08455C9.95642 9.30889 10 9.53322 10 9.75755C10 9.98189 9.95642 10.2062 9.86925 10.4306C9.78208 10.6549 9.64808 10.8575 9.46725 11.0383L1.79625 18.7096C1.59741 18.9082 1.36083 19.005 1.0865 18.9998C0.812165 18.9946 0.575665 18.8927 0.376999 18.6941C0.178332 18.4954 0.0789996 18.2614 0.0789996 17.9921C0.0789996 17.7229 0.178332 17.489 0.376999 17.2903L7.90975 9.75755Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}

/* swiper의 이전 다음 버튼 */
.best .list .btn_wrap {
    margin: 1.5em 0 0 0;
    display: flex;
    justify-content: center;
}
.best .list .btn_wrap .prev, 
.best .list .btn_wrap .next {
    border: 1px solid #555;
    width: 2.75em;
    height: 2.75em;
    color: transparent;
    position: relative; /* before 정렬의 기준 */
}
.best .list .btn_wrap .prev {
    border-right-width: 0;
}
.best .list .btn_wrap .prev::before, 
.best .list .btn_wrap .next::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.7em;
    height: 1.2em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.best .list .btn_wrap .prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.09025 9.24245L9.623 16.7752C9.82167 16.9739 9.9185 17.2078 9.9135 17.4769C9.90833 17.7463 9.80642 17.9803 9.60775 18.1789C9.40892 18.3776 9.17492 18.4769 8.90575 18.4769C8.63658 18.4769 8.40259 18.3776 8.20375 18.1789L0.53275 10.5232C0.351917 10.3424 0.217917 10.1398 0.13075 9.91545C0.0435833 9.69111 0 9.46678 0 9.24245C0 9.01811 0.0435833 8.79378 0.13075 8.56945C0.217917 8.34511 0.351917 8.14253 0.53275 7.9617L8.20375 0.290446C8.40259 0.0917794 8.63917 -0.00497022 8.9135 0.000196444C9.18783 0.00536311 9.42433 0.107279 9.623 0.305946C9.82167 0.504613 9.921 0.738613 9.921 1.00795C9.921 1.27711 9.82167 1.51103 9.623 1.7097L2.09025 9.24245Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.best .list .btn_wrap .next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.90975 9.75755L0.377 2.2248C0.178334 2.02614 0.0815006 1.79222 0.0865007 1.52305C0.0916668 1.25372 0.193584 1.01972 0.392251 0.821054C0.591084 0.622386 0.825083 0.523051 1.09425 0.523051C1.36342 0.523051 1.59742 0.622386 1.79625 0.821054L9.46725 8.4768C9.64808 8.65764 9.78208 8.86022 9.86925 9.08455C9.95642 9.30889 10 9.53322 10 9.75755C10 9.98189 9.95642 10.2062 9.86925 10.4306C9.78208 10.6549 9.64808 10.8575 9.46725 11.0383L1.79625 18.7096C1.59741 18.9082 1.36083 19.005 1.0865 18.9998C0.812165 18.9946 0.575665 18.8927 0.376999 18.6941C0.178332 18.4954 0.0789996 18.2614 0.0789996 17.9921C0.0789996 17.7229 0.178332 17.489 0.376999 17.2903L7.90975 9.75755Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}


@media screen and (max-width:1300px){
    .book .list,
    .best .list {
        left: 20px;
        width: calc(100% - 20px);
    }
}
@media screen and (max-width:1000px){

    .book .list .popup .popup_wrap .popup_item,
    .best .list .swiper ul li { /* 팝업 1개 */
        margin-top: 0;
    }
}/* media */

body {
    margin: 0 0 100vh 0;
}
