/*
 * main.css
 * 메인페이지에만 적용되는 스타일 입력,
 * 다른 css import 
 */
 @import url(default.css);
 @import url(font.css);
 @import url(common.css);
 @import url(layout.css);

.visual h2 {
    display: none;
}
.visual .swiper {
    width: 100%;
    height: 100%; /*visual의 높이와 동일하게*/
}
.visual .swiper ul li {
    /*상하좌우 가운데 정렬하는 가장 간단한 방법*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--section_min-height);

}
.visual .swiper ul li .photo {
    overflow: hidden;
    position: absolute; /*li를 기준으로 정렬 - swiper 라이브러리 때문에 li.swiper-slide에 position: relative;가 들어있음.*/
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.visual .swiper ul li .photo::before { /*검정색 깔아주기*/
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);

}
.visual .swiper ul li .photo img, .visual .swiper ul li .photo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper ul li .visual_txt {
    color: #fefefe;
    text-align: center;
    /*글자가 가운데 정렬이면 안줘도 되지만 만약 왼쪽이나 오른쪽 정렬이면 visual_txt에 너비(width)를 줘야 함.*/
}
.visual .swiper ul li .visual_txt h3 {
    font-size: 2.9412rem;
    font-weight: 600;
    line-height: 1.2;
}
.visual .swiper ul li .visual_txt p {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
    margin: 25px 0 0 0;

}







.tree {
    background-color: #fff;
    font-size: 60px;
    color: #1d1d1d;
    padding: 300px 0;
    text-align: center;
}
.act {
    background-color: palevioletred;
    font-size: 60px;
    color: #fff;
    text-align: center;
}
.story {
    background-color: darkgoldenrod;
    font-size: 60px;
    color: #fff;
    text-align: center;
}

.quick_nav { 
    position: fixed;
    left: 20px;
    top: 50%;
    color: #F6F9EC;
    z-index: 10;
}