/*Pretendard 폰트 적용하는 법*/
@font-face {
	font-family: 'Prtd';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Prtd';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
body {
    font-family: 'Prtd', sans-serif;
    /*woff, woff2 파일을 불러서 서체를 정의한 경우
    내가 정의한 이름으로 서체를 불러주면 되고, sans-serif를 추가해서 고딕체를 쓰고 있음을 정의*/
    font-size: 17px;
    font-weight: 400;
    color: #666;
    line-height: 1.4;
}
* { /* 와일드 카드 이용해서 모든 여백 제거*/
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit; 
    /*브라우저가 세팅해주는 기본값 말고 
    내가 상속하는 값으로 적용하라는 의미*/
}
strong {
    font-weight: inherit;
}
em {
    font-style: normal;
}
a {
    /*a태그는 기본값이 파란색에 언더라인이 들어감
    색상은 상속받고, 밑줄은 없앤다.*/
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
/*각 태그마다 원래 주어진 스타일 다 빼고 시작하기 = 초기화 reset*/ 

.wrapper {
    width: 1260px;
    margin: 0 auto;
}

.color h1 {
    font-size: 45px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 180px 0 18px 0;
}
.color .list ul {
    display: flex;
    justify-content: space-between;
} /*li 요소를 옆으로 나란히 오게 만드는 코드 : li의 부모 요소에게 display-flex를 준다*/

.color .list ul li {
    width: 404px;
}
.color .list ul li h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #3d3d3d;
    margin: 100px 0 10px 0;
}
.color .list ul li h2 strong {
    color: #aaa;
    font-weight: 400;
}
.color .list ul li .code {
    background-color: inherit;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 18px 0 0 0;
    /*margin은 외부여백 - 다른 요소와 사이에 여백을 줌*/
    padding: 36px 0 36px 55px; /*오른쪽 여백은 주지 않음!!*/
    /*margin은 내부여백 - 배경색을 늘림*/
    border-radius: 15px;
}
.color .list ul li .code.c1 {
    background-color: #034ea2;
}
.color .list ul li .code.c2 {
    background-color: #0265ac;
}
.color .list ul li .code.c3 {
    background-color: #1428a0;
}
/*
.code .c1
 - 띄어쓰기 한 경우 :code 클래서 안에 있는 c1 클래스 요소를 의미하는 것
<div class="code">
    <div class="c1">
    </div>
</div>
.code.c1
 - 띄어쓰기 안한 경우 :하나의 클래스 요소가 code라는 이름과 c1 이라는 클래스명을 동시에 가지고 있는 것 
<div class="code c1">
</div>
*/
.download h1 {
    font-size: 45px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 180px 0 18px 0;
}
.download .list {
    margin: 25px 0 0 0;
}
.download .list ul {
    display: flex;
    justify-content: space-between; /*이 코드 두줄은 꼭 같이 줘야 함.*/
} /*li 요소를 옆으로 나란히 오게 만드는 코드 : li의 부모 요소에게 display-flex를 준다*/

.download .list ul li {
    width: 618px;
}
.download .list ul li .photo {
    border: 1px solid #aaa;
    border-radius: 15px;
    overflow: hidden; 
    /*영역 밖으로 나오는 이미지를 안보이게 하기*/
    line-height: 0;
    font-size: 0;
    /*img를 글자로 인식해서 행간으로 들어간 여백을 뺴준다.
    img를 감싸는 요소인 photo에 line-height와 font-size에 값을 0을 주면 된다.*/
}
.download .list ul li .photo img {
    width: 100%;
    /*감싸고 있는 photo의 넓이의 100%를 말한다. 
    img의 크기가 기준이 아니라 감싸는 요소(photo)의 넓이를 기준으로 100%이다. 
    - 이미지의 특징 : 넓이를 바꾸면 비율에 맞게 높이가 자동 조정되기 떄문에 높이는 건드리지 마시오.
    */
}
.download .list ul li .more {
    margin: 22px 0 0 0;
}
.download .list ul li .more a {
    border: 1px solid #aaa;
    border-radius: 15px;
    background-color: #fff;
    display: block;
    width: 618px;
    padding: 14px 0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

















body {
    margin: 0 0 800px 0;
}