/* 웹폰트 파일을 이용해서 웹폰트의 이름과 두께 등을 선언 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
	font-family: 'SCoreDream';
	font-weight: 900;
	font-display: swap;
	src: local('S-Core Dream Black'), url(../fonts/SCoreDreamBlack.woff2) format('woff2'), url(../fonts/SCoreDreamBlack.woff) format('woff');
}
@font-face {
	font-family: 'SCoreDream';
	font-weight: 800;
	font-display: swap;
	src: local('S-Core Dream Heavy'), url(../fonts/SCoreDreamHeavy.woff2) format('woff2'), url(../fonts/SCoreDreamHeavy.woff) format('woff');
}
@font-face {
	font-family: 'SCoreDream';
	font-weight: 700;
	font-display: swap;
	src: local('S-Core Dream ExtraBold'), url(../fonts/SCoreDreamExtraBold.woff2) format('woff2'), url(../fonts/SCoreDreamExtraBold.woff) format('woff');
}
@font-face {
	font-family: 'SCoreDream';
	font-weight: 600;
	font-display: swap;
	src: local('S-Core Dream Bold'), url(../fonts/SCoreDreamBold.woff2) format('woff2'), url(../fonts/SCoreDreamBold.woff) format('woff');
}
@font-face {
	font-family: 'SCoreDream';
	font-weight: 500;
	font-display: swap;
	src: local('S-Core Dream Medium'), url(../fonts/SCoreDreamMedium.woff2) format('woff2'), url(../fonts/SCoreDreamMedium.woff) format('woff');
}
@font-face {
	font-family: 'SCoreDream';
	font-weight: 400;
	font-display: swap;
	src: local('S-Core Dream Regular'), url(../fonts/SCoreDreamRegular.woff2) format('woff2'), url(../fonts/SCoreDreamRegular.woff) format('woff');
}
@font-face {
	font-family: 'SCoreDream';
	font-weight: 300;
	font-display: swap;
	src: local('S-Core Dream Light'), url(../fonts/SCoreDreamLight.woff2) format('woff2'), url(../fonts/SCoreDreamLight.woff) format('woff');
}
@font-face {
	font-family: 'SCoreDream';
	font-weight: 200;
	font-display: swap;
	src: local('S-Core Dream ExtraLight'), url(../fonts/SCoreDreamExtraLight.woff2) format('woff2'), url(../fonts/SCoreDreamExtraLight.woff) format('woff');
}
@font-face {
	font-family: 'SCoreDream';
	font-weight: 100;
	font-display: swap;
	src: local('S-Core Dream Thin'), url(../fonts/SCoreDreamThin.woff2) format('woff2'), url(../fonts/SCoreDreamThin.woff) format('woff');
}