/*
 * sub.css
 * 서브 레이아웃 (공통사항, tab, sub_visual) 스타일
 * 다른 css import 
 */
@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css); 
@import url(contents.css);

/* 상단 메뉴가 미리 선택되어 있는 스타일 */
@media screen and (min-width:1001px){ /* 1001px 이상일때만  */
        header .gnb .gnb_wrap ul.depth1 > li.active > a {
            position: relative; /* after 정렬의 기준 */
        }
        header.menu_pc .gnb .gnb_wrap ul.depth1 > li.active > a {
            color: var(--main-color);
        }
        header .gnb .gnb_wrap ul.depth1 > li.active > a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 5px;
            background-color: var(--main-color);
        }
        header .gnb .gnb_wrap ul.depth1 > li.active > a > span {
            position: relative; /* after 정렬의 기준 */
        }
        header .gnb .gnb_wrap ul.depth1 > li.active > a > span::after {
            content: "";
            position: absolute;
            right: -0.25em;
            top: -0.25em;
            width: 0.2em;
            height: 0.2em;
            border-radius: 50%;
            background-color: var(--main-color);
        }
        header .gnb .gnb_wrap ul.depth1 > li.active > ul.depth2 > li.active > a {
            font-weight: 700;
            text-decoration: underline;
            color: var(--main-color);
        }
        header .gnb .gnb_wrap ul.depth1 > li.active.over > ul.depth2 > li.active > a {
            color: #fff;
        }
}/* media */
@media screen and (max-width:1000px){ /* 1000px 이하일때만 */
    header .gnb .gnb_wrap ul.depth1 > li.active > a {
        color: var(--main-color);
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1 > li.active > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 13.5461L16.073 9.47286C16.2115 9.33452 16.3856 9.26369 16.5953 9.26036C16.8048 9.25719 16.982 9.32802 17.127 9.47286C17.2718 9.61786 17.3443 9.79352 17.3443 9.99986C17.3443 10.2062 17.2718 10.3819 17.127 10.5269L12.6328 15.0211C12.5391 15.1146 12.4403 15.1806 12.3365 15.2191C12.2327 15.2576 12.1205 15.2769 12 15.2769C11.8795 15.2769 11.7673 15.2576 11.6635 15.2191C11.5597 15.1806 11.4609 15.1146 11.3673 15.0211L6.873 10.5269C6.73467 10.3884 6.66384 10.2143 6.6605 10.0046C6.65734 9.79511 6.72817 9.61786 6.873 9.47286C7.018 9.32802 7.19367 9.25561 7.4 9.25561C7.60634 9.25561 7.782 9.32802 7.927 9.47286L12 13.5461Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.active ul.depth2 {
        display: block;
    }
    header .gnb .gnb_wrap ul.depth1 > li.active > ul.depth2 > li.active > a {
        font-weight: 700;
        text-decoration: underline;
    }
}/* media */
.sub_visual {
    height: 29.4118em;
    background: url(../images/sub/sub_visual01.jpg) no-repeat center center / cover;
    /* 1번이미지를 기본적으로 sub_visual에 적용 */
    color: #fff;

    position: relative; /* snb 정렬의 기준 */
}
.sub_visual.bg1 {
    background-image: url(../images/sub/sub_visual01.jpg);
}
.sub_visual.bg2 {
    background-image: url(../images/sub/sub_visual02.jpg);
}
.sub_visual.bg3 {
    background-image: url(../images/sub/sub_visual03.jpg);
}
.sub_visual.bg4 {
    background-image: url(../images/sub/sub_visual04.jpg);
}
.sub_visual.bg5 {
    background-image: url(../images/sub/sub_visual05.jpg);
}
.sub_visual.bg6 {
    background-image: url(../images/sub/sub_visual06.jpg);
}
.sub_visual .sub_txt strong {
    display: block;
    font-weight: 700;
    padding: 14.5882em 0 0.2353em 0;
}
.sub_visual .sub_txt span {
    display: block;
    font-size: 2.0588rem;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap; /* 줄바꿈 금지 */
}
.sub_visual .snb {
    position: absolute; /* sub_visual을 기준으로 정렬 */
    left: 0;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.2);
}
.sub_visual .snb ul {
    display: flex;
    margin: 0 auto;
    max-width: 1260px;
    width: 100%;
}
.sub_visual .snb ul li {
    width: 50%;
    /* li의 넓이를 최소한의 메뉴 갯수로 많이 줌
       flex라서 무조건 1/n로 넓이가 들어감 */
    border-right: 1px solid rgba(255,255,255,0.2);
}
.sub_visual .snb ul li:first-child {
    border-left: 1px solid rgba(255,255,255,0.2);
}
.sub_visual .snb ul li a {
    display: block;
    font-weight: 700;
    text-align: center;
    color: #fff;
    line-height: 3.5294em;
    white-space: nowrap; /* 줄바꿈 금지 - 무조건 1줄 */
}
.sub_visual .snb ul li.active, .sub_visual .snb ul li:hover {
    border-color: var(--main-color);
    background-color: var(--main-color);
}

@media screen and (max-width:1000px){
    .sub_visual {
        height: 25.2143em;
    }
    .sub_visual .sub_txt strong {
        padding: 12.5714em 0 0.3571em 0;
    }
    .sub_visual .sub_txt span {
        font-size: 1.7857rem;
    }
    .sub_visual .snb {
        overflow-x: auto;
        /* ul의 넓이가 snb보다 크면 - 메뉴가 한줄에 표시가 안될 것 같으면 가로 스크롤바 생성 */
    }
    .sub_visual .snb ul li {
        border-right: 0;
    }
    .sub_visual .snb ul li:first-child {
        border-left: 0;
    }
    .sub_visual .snb ul li a {
        font-size: 1.0714rem;
        line-height: 3.3333em;
        padding: 0 1em; /* 최소여백 */
    }
}
.sub_tit {
    margin: 5.1176em 0 3.4118em 0;
}
.sub_tit .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub_tit h1 {
    font-size: 2.6471rem;
    font-weight: 700;
    color: #1d1d1d;
}
.sub_tit .breadcrumb ol {
    display: flex;
    flex-wrap: wrap;
}
.sub_tit .breadcrumb ol li {
    font-size: 0.8824rem;
    position: relative; /* before 정렬기준 */
}
/* 앞에 li 태그가 있는 li만 선택, 즉 두번째 li부터 */
.sub_tit .breadcrumb ol li + li {
    margin-left: 2em;
}
.sub_tit .breadcrumb ol li + li::before {
    content: "";
    position: absolute; /* li를 기준으로 정리 */
    left: -1.9em;
    top: -0.1em;
    width: 1.6em;
    height: 1.6em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4538 11.9998L14.527 16.0728C14.6654 16.2113 14.7362 16.3853 14.7395 16.595C14.7427 16.8045 14.6719 16.9818 14.527 17.1268C14.382 17.2716 14.2064 17.344 14 17.344C13.7937 17.344 13.618 17.2716 13.473 17.1268L8.97877 12.6325C8.88527 12.5388 8.81927 12.4401 8.78077 12.3363C8.74227 12.2324 8.72302 12.1203 8.72302 11.9998C8.72302 11.8793 8.74227 11.7671 8.78077 11.6633C8.81927 11.5594 8.88527 11.4607 8.97877 11.367L13.473 6.87276C13.6115 6.73442 13.7856 6.66359 13.9953 6.66026C14.2048 6.65709 14.382 6.72792 14.527 6.87276C14.6719 7.01776 14.7443 7.19342 14.7443 7.39976C14.7443 7.60609 14.6719 7.78176 14.527 7.92676L10.4538 11.9998Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.sub_tit .breadcrumb ol li.home a {
    display: block;
    color: transparent; /* 투명 */
    width: 1.4667em;
    height: 1.4667em;
    position: relative; /* before 정렬의 기준 */
}
.sub_tit .breadcrumb ol li.home a::before {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 17.4168H8.5674V12.7982C8.5674 12.5635 8.64676 12.3667 8.8055 12.2078C8.96439 12.0491 9.16117 11.9697 9.39583 11.9697H12.6042C12.8388 11.9697 13.0356 12.0491 13.1945 12.2078C13.3532 12.3667 13.4326 12.5635 13.4326 12.7982V17.4168H16.5V9.30773C16.5 9.26082 16.4897 9.21828 16.4691 9.18008C16.4486 9.14189 16.4207 9.10805 16.3854 9.07856L11.1675 5.15637C11.1205 5.11528 11.0646 5.09473 11 5.09473C10.9354 5.09473 10.8795 5.11528 10.8325 5.15637L5.61458 9.07856C5.57929 9.10805 5.55141 9.14189 5.53094 9.18008C5.51031 9.21828 5.5 9.26082 5.5 9.30773V17.4168ZM4.125 17.4168V9.30773C4.125 9.04541 4.18367 8.79691 4.301 8.56225C4.41849 8.32743 4.58074 8.13409 4.78775 7.98223L10.0059 4.0511C10.2954 3.83019 10.6263 3.71973 10.9986 3.71973C11.3709 3.71973 11.7028 3.83019 11.9941 4.0511L17.2123 7.98223C17.4193 8.13409 17.5815 8.32743 17.699 8.56225C17.8163 8.79691 17.875 9.04541 17.875 9.30773V17.4168C17.875 17.7917 17.7396 18.1146 17.4687 18.3855C17.1978 18.6564 16.8749 18.7918 16.5 18.7918H12.8863C12.6515 18.7918 12.4547 18.7123 12.2959 18.5535C12.137 18.3947 12.0576 18.1979 12.0576 17.9631V13.3447H9.9424V17.9631C9.9424 18.1979 9.86295 18.3947 9.70406 18.5535C9.54533 18.7123 9.34855 18.7918 9.11373 18.7918H5.5C5.12508 18.7918 4.80219 18.6564 4.53131 18.3855C4.26044 18.1146 4.125 17.7917 4.125 17.4168Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.sub_tit .breadcrumb ol li.curr {
    color: #8E8E8E;
}
.sub_tit .breadcrumb ol li a:hover {
    text-decoration: underline;
}

@media screen and (max-width:1000px){
    .sub_tit {
        margin: 4.5714em 0 3.1429em 0;
    }
    .sub_tit .wrapper {
        display: block;
    }
    .sub_tit h1 {
        font-size: 2.1429rem;
        margin: 0 0 0.1667em 0;
    }
}/* medida */

.sub_contents {
    min-height: 300px;
}