/*
 * main.css
 * 메인페이지에만 적용되는 스타일 입력,
 * 다른 css import 
 */
 @import url(default.css);
 @import url(font.css);
 @import url(common.css);


.txt_ani {
    margin: 200px 0 500px 0;
}

.txt_ani .txt_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.txt_ani .txt_wrap .row {
    font-size: 3.4vw;
    font-weight: 700;
    color: #E7E7E7;
    white-space: nowrap;
    position: relative; /* span의 정렬의 기준 */
}
.txt_ani .txt_wrap .row span {
    color: #12255B;
    position: absolute; /* row를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    animation-name: txt_ani;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; /*종료 후 100% 유지*/
}

.txt_ani .txt_wrap .row:nth-child(1) span {
    animation-delay: 0.4s;  
}
.txt_ani .txt_wrap .row:nth-child(2) span {
    animation-delay: 0.8s;
}
@keyframes txt_ani {
    0% { width: 0; }
    100% { width: 100%; }
}

/*************/

.txt_slide .txt_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.txt_slide .txt_wrap .row {
    font-size: 3.4vw;
    font-weight: 700;
    color: #E7E7E7;
    position: relative; /* span의 정렬의 기준 */
    white-space: nowrap;
}
.txt_slide .txt_wrap .row span {
    color: #12255B;
    position: absolute; /* row를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: 0.2s;
}

@media screen and (max-width:1300px){ /*16px*/
    .txt_slide .txt_wrap .row {
        font-size: 4vw;
    }
} /* @media */
@media screen and (max-width:1000px){ /*15px*/
    .txt_slide .txt_wrap .row {
        font-size: 4.5vw;
    }
} /* @media */
/* mobile 버전 css */
@media screen and (max-width:760px){ /*14px*/
    .txt_slide .txt_wrap .row {
        font-size: 5vw;
    }
} /* @media */

@media screen and (max-width:640px){ /*13px*/
    .txt_slide .txt_wrap .row {
        font-size: 6vw;
    }
} /* @media */


/******************/

.photo_resize {
    margin: 150px 0 0 0;
}
.photo_resize .photo {
    overflow: hidden;
    height: 340px;
    width: 50%;
    margin: 0 auto;
}
.photo_resize .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/***************-------------bg_fixed -------*********/
.bg_fixed {
    margin: 500px 0 0 0;
    background: url(../images/interaction_img01.jpg) no-repeat center center / cover ;
    background-attachment: fixed; /* 속성 중 하나인데 인터렉티브처럼 보이게 하는 효과가 있음*/
    height: 800px;
}
.bg_fixed h2 {
    padding: 300px 0 0 80px;
    font-size: 2.6em;
    font-weight: 700;
    color: #12255B;
    line-height: 1.2;
}


/***************-------------bg_change -------*********/
.bg_change {
    margin: 300px 0 0 0;
    transition: 0.5s;
}
.bg_change .video_fit .tit {
    padding: 150px 0 0 0;
}
.bg_change .video_fit .tit h2 {
    color: #1d1d1d;
    font-size: 2.6em;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 024px 0;
    transition: color 0.5s;
}
.bg_change .video_fit .tit p {
    font-size: 20px;
}
.bg_change .video_fit .video_area {
    width: 100%;
    height: 200vh; /*1500px 줘도 됨*/
    position: relative; /* video_wrap 정렬의 기준 */
    margin: 0 auto;
    /*border: 4px solid #ff0000; 영역 확인 차*/
}
.bg_change .video_fit .video_area .video_wrap {
    left: 0;
    width: 100%;
    height: 100vh;
    /*background-color: blue; 영역 확인차 넣은 코딩*/
}
.bg_change .video_fit .video_area[data-status="before"] .video_wrap {
    position: absolute; /*video_area를 기준으로*/
    top: 0;
}
.bg_change .video_fit .video_area[data-status="fixed"] .video_wrap {
    position: fixed;
    top: 0;
}
.bg_change .video_fit .video_area[data-status="after"] .video_wrap {
    position: absolute; /*video_area를 기준으로*/
    bottom: 0;
}
.bg_change .video_fit .video_area .video_wrap .video_inner {
    overflow: hidden;
    position: relative;
    width: 40%;
    height: 40%;
    transition: 0.2s;
    border-radius: 2.2em;

    /*동영상이 상하좌우 가운데 오도록*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}
.bg_change .video_fit .video_area .video_wrap .video_inner video {
    /* video태그는 이미지랑 조금 비슷함 */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 검은색 배경으로 변경되었을때 */
.bg_change.black {
    background-color: #1d1d1d;
    color: #fff;
}
.bg_change.black .video_fit .tit h2 {
    color: #fff;
}


/********-----------scroll_event--------********/
.scroll_event {
    padding: 20px 0 250px 0;
}
.scroll_event .event_wrap {
    position: relative; /*h2정렬의 기준*/

    /*.photo를 오른쪽으로 보내기 위함.*/
    display: flex;
    justify-content: flex-end;
}
.scroll_event .event_wrap h2 {
    position: absolute; /*event_wrap를 기준으로 정렬*/
    left: 0;
    top: 200px;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    transition: 0.4s;
}
.scroll_event .event_wrap .photo {
    overflow: hidden;
    border-radius: 2.2em;
    width: 80%;
    max-width: 48.5em;
    height: 27em;
}
.scroll_event .event_wrap .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/**********----------book-------********/
.book, .bestseller {
    margin: 10em 0 0 0;
}
.book .list, .bestseller .list {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px);
    /* border: 4px solid #ff0000;*/
}
.book .list .popup .popup_wrap .popup_item,
.bestseller .list .swiper ul li { /* 팝업 한 개 */
    width: 190px;
    margin-top: 70px;
}

.book .list .popup .popup_wrap .popup_item {
    margin-right: 24px;
}
.book .list .popup .popup_wrap .popup_item a, 
.bestseller .list .swiper ul li a {
    display: block;
}
.book .list .popup .popup_wrap .popup_item a .photo, 
.bestseller .list .swiper ul li a .photo {
    overflow: hidden;
    height: 240px;
    border-radius: 15px;
}
.book .list .popup .popup_wrap .popup_item a .photo img, 
.bestseller .list .swiper ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book .list .popup .popup_wrap .popup_item a h2, 
.bestseller .list .swiper ul li a h2 {
    margin: 12px 0 0 0;
    font-weight: 700;
    color: #454A51;
}
.book .list .popup .popup_wrap .popup_item a span, 
.bestseller .list .swiper ul li a span {
    display: none;
    margin: 6px 0 0 0;
}

@media screen and (min-width:1001px){ 
    /******1번선택********/
    .book .list .popup .popup_wrap .popup_item.slick-current,
    .bestseller .list .swiper ul li.swiper-slide-active { /* 팝업 한 개 */
        width: 510px;
        margin-right: 70px;
        margin-top: 0;
    }
    .book .list .popup .popup_wrap .popup_item.slick-current a ,
    .bestseller .list .swiper ul li.swiper-slide-active a { /* 팝업 한 개 */
        display: flex;
        gap: 24px;
    }
    .book .list .popup .popup_wrap .popup_item.slick-current a .photo,
    .bestseller .list .swiper ul li.swiper-slide-active .photo { /* 팝업 한 개 */
        width: 297px;
        height: 346px;
        border-radius: 20px;
    }

    .book .list .popup .popup_wrap .popup_item.slick-current a .txt, 
    .bestseller .list .swiper ul li.swiper-slide-active a .txt {
        width: 190px;
        margin: 22px 0 0 0;
    }
    .book .list .popup .popup_wrap .popup_item.slick-current a h2, 
    .bestseller .list .swiper ul li.swiper-slide-active a h2 {
        font-size: 30px;
        line-height: 1.2;
        margin: 0 0 10px 0;
        color: #12255B;
    }
    .book .list .popup .popup_wrap .popup_item.slick-current a span, 
    .bestseller .list .swiper ul li.swiper-slide-active a span {
        display: block;
        margin: 10px 0 0 0;
    }
    /**********/
} /* @media */

/* slick 이전 다음 버튼 */
.book .list .popup .popup_wrap .slick-prev,
.book .list .popup .popup_wrap .slick-next {
    top: auto;
    bottom: -134px;
    width: 80px;
    height: 80px;
    background-color: #D1CBD9;
    border-radius: 50%;
    transform: translate(0, 0);    
}
.book .list .popup .popup_wrap .slick-prev {
    left: auto;
    right: 50%;
    border-right-width: 0;
}
.book .list .popup .popup_wrap .slick-next {
    right: auto;
    left: 50%;
    margin-left: 20px;
}
.book .list .popup .popup_wrap .slick-prev:before,
.book .list .popup .popup_wrap .slick-next:before {
    content: "";
    position: absolute; /*.slick-prev, slick-next를 기준으로 정렬*/
    width: 44px;
    height: 44px;
    opacity: 1;    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    /*상하좌우 가운데*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.book .list .popup .popup_wrap .slick-prev:before {
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.3049 4.30116L31.9069 6.90312L16.8103 21.9997L31.9069 37.0963L29.3049 39.6982L11.6064 21.9997L29.3049 4.30116Z' fill='%2312255B'/%3E%3C/svg%3E%0A");
}
.book .list .popup .popup_wrap .slick-next:before {
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6951 39.6988L12.0931 37.0969L27.1897 22.0003L12.0931 6.90372L14.6951 4.30176L32.3936 22.0003L14.6951 39.6988Z' fill='%2312255B'/%3E%3C/svg%3E%0A");
}

/* swiper 이전 다음 버튼 */
.bestseller .list .btn_wrap {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
}

.bestseller .list .btn_wrap .next,
.bestseller .list .btn_wrap .prev {
    font-size: 0;
    line-height: 0;
    width: 80px;
    height: 80px;
    background-color: #B8C7DC;
    border-radius: 50%;
    position: relative;
    margin-right: 20px;
}
.bestseller .list .btn_wrap .next::before,
.bestseller .list .btn_wrap .prev::before {
    content: "";
    position: absolute; /*.prev, .next를 기준으로 정렬*/    
    width: 44px;
    height: 44px;
    opacity: 1;    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    /*상하좌우 가운데*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.bestseller .list .btn_wrap .prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.3049 4.30116L31.9069 6.90312L16.8103 21.9997L31.9069 37.0963L29.3049 39.6982L11.6064 21.9997L29.3049 4.30116Z' fill='%2312255B'/%3E%3C/svg%3E%0A");
}
.bestseller .list .btn_wrap .next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6951 39.6988L12.0931 37.0969L27.1897 22.0003L12.0931 6.90372L14.6951 4.30176L32.3936 22.0003L14.6951 39.6988Z' fill='%2312255B'/%3E%3C/svg%3E%0A");
}



@media screen and (max-width:1300px){ /*16px*/
    .book .list, .bestseller .list {
        left: 20px;
        width: calc(100% - 20px);
    }
} /* @media */

@media screen and (max-width:1000px){ /*15px*/
    .book .list .popup .popup_wrap .popup_item, .bestseller .list .swiper ul li { /* 팝업 한 개 */
        width: 190px;
        margin-right: 16px;
        margin-top: 70px;
    }
    .book .list .popup .popup_wrap .popup_item a .photo, 
    .bestseller .list .swiper ul li a .photo {
        height: 240px;
        border-radius: 15px;
    }
    .book .list .popup .popup_wrap .popup_item a h2, 
    .bestseller .list .swiper ul li a h2 {
        margin: 12px 0 0 0;
    }
    .book .list .popup .popup_wrap .popup_item a span, 
    .bestseller .list .swiper ul li a span {
        display: none;
        margin: 1px 0 0 0;
    }
    
    /******1번선택********/
    .book .list .popup .popup_wrap .popup_item.slick-current,
    .bestseller .list .swiper ul li.swiper-slide-active { /* 팝업 한 개 */
        width: 510px;
        margin-right: 70px;
        margin-top: 0;
    }
    .book .list .popup .popup_wrap .popup_item.slick-current a ,
    .bestseller .list .swiper ul li.swiper-slide-active a { /* 팝업 한 개 */
        display: flex;
        gap: 24px;
    }
    .book .list .popup .popup_wrap .popup_item.slick-current a .photo,
    .bestseller .list .swiper ul li.swiper-slide-active .photo { /* 팝업 한 개 */
        width: 297px;
        height: 346px;
        border-radius: 20px;
    }
    
    .book .list .popup .popup_wrap .popup_item.slick-current a .txt, 
    .bestseller .list .swiper ul li.swiper-slide-active a .txt {
        width: 190px;
        margin: 22px 0 0 0;
    }
    .book .list .popup .popup_wrap .popup_item.slick-current a h2, 
    .bestseller .list .swiper ul li.swiper-slide-active a h2 {
        font-size: 30px;
        line-height: 1.2;
        margin: 0 0 10px 0;
        color: #12255B;
    }
    .book .list .popup .popup_wrap .popup_item.slick-current a span, 
    .bestseller .list .swiper ul li.swiper-slide-active a span {
        display: block;
        margin: 10px 0 0 0;
    }
    /**********/

} /* @media */
/* mobile 버전 css */
@media screen and (max-width:760px){ /*14px*/
    :root {
        --base-font-size: 14px;
    }
} /* @media */

@media screen and (max-width:640px){ /*13px*/
    :root {
        --base-font-size: 13px;
    }
} /* @media */



.cursor {
    position: absolute; /*반드시 absolute여야 하고 위치는 */
    z-index: 1000;
    transform: translate(10%, 10%); /*커서 위치 조정*/
    display: none; /*평소에는 보이지 않게 숨김*/
    background-color: #7793B9;
    opacity: 0.8;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
}
.cursor.drag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
}
.cursor.drag::before,.cursor.drag::after {
    content: "";
    position: absolute; /*를 기준으로 정렬*/    
    right: 18px;
    width: 20px;
    height: 20px;
    opacity: 1;    
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.67953 18.0447L5.49683 16.862L12.3589 9.99987L5.49683 3.13779L6.67953 1.95508L14.7243 9.99987L6.67953 18.0447Z' fill='%2312255B'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.cursor.drag::after {
    right: 0;
    left: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3205 1.95534L14.5032 3.13804L7.64109 10.0001L14.5032 16.8622L13.3205 18.0449L5.27567 10.0001L13.3205 1.95534Z' fill='%2312255B'/%3E%3C/svg%3E%0A");
}
.cursor.drag span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cursor.drag span::before {
    content: "drag";
}

.cursor.view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    backdrop-filter: blur(10px);
    color: #fff; 
}
.cursor.view::before,.cursor.view::after {
    content: "";
    position: absolute; /*를 기준으로 정렬*/    
    right: 10px;
    width: 20px;
    height: 20px;
    opacity: 1;    
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.67953 18.0447L5.49683 16.862L12.3589 9.99987L5.49683 3.13779L6.67953 1.95508L14.7243 9.99987L6.67953 18.0447Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.cursor.view::after {
    right: 0;
    left: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3205 1.95534L14.5032 3.13804L7.64109 10.0001L14.5032 16.8622L13.3205 18.0449L5.27567 10.0001L13.3205 1.95534Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.cursor.view span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cursor.view span::before {
    content: "view";
}

/***************************/







body {
    margin: 0 0 100vh 0;
}

