/*
 * main.css
 * 메인페이지에만 적용되는 스타일 입력,
 * 다른 css import 
 */
 @import url(default.css);
 @import url(font.css);
 @import url(common.css);
 @import url(layout.css);

.visual .wrapper {
    position: relative;
    padding: 500px 0 ;
}
.visual .wrapper span.en {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
img {
    position: absolute;
    left: 30%;
    top: 0;
    z-index: 0;
    width: 830px;
    height: 830px;
}
.visual .wrapper span.ko {
    position: absolute;
    left: 0;
    top: 30%;
    z-index: 1;

}
.visual {
    background-color: #F7F7F7;
    font-size: 200px;
    font-weight: 800;
    text-align: center;
    color: #1d1d1d;
}
.tree {
    background-color: blue;
}
.act {
    background-color: palevioletred;
}
.story {
    background-color: darkgoldenrod;
}
.footer {
    background-color: #517D21;
}

@media screen and (max-width:1000px){ /*15px*/
    .visual {
        background-color: #F7F7F7;
        font-size: 160px;
        font-weight: 800;
        text-align: center;
        color: #1d1d1d;
    }
} /* @media */
/* mobile 버전 css */
@media screen and (max-width:760px){ /*14px*/
    .visual {
        background-color: #F7F7F7;
        font-size: 100px;
        font-weight: 800;
        text-align: center;
        color: #1d1d1d;
    }
} /* @media */

@media screen and (max-width:640px){ /*13px*/
    .visual {
        background-color: #F7F7F7;
        font-size: 60px;
        font-weight: 800;
        text-align: center;
        color: #1d1d1d;
    }
} /* @media */