@import url(default.css);
@import url(common.css);
@import url(font.css);

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 180;
    width: 100%;
    height: 100px;
    border-bottom:  1px solid rgba(255,255,255,0.4);
    color: #fff;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 25px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    line-height: 100px; /* 이렇게 해야 메뉴가 정확한 높이를 갖고 위아래 가운데 정렬이 됨. 하위에 메뉴로 이동할 때 정확한 높이가 안잡히면 out됨. */
    font-weight: 400;
    padding: 0 21px 0 21px;
}
header .tnb {
    display: flex;
    margin: 38px 0 0 0;
}
header .tnb .mypage a {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    /* 글자 안보이게 숨김처리하는 방법 - 글자 안쓰면 웹접근성 위배되기 때문에 쓰고 안보이게 해야 함. */
    font-size: 0;
    line-height: 0;
}
header .tnb .mypage a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -2px;
    margin: 0 18px 0 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 14.6172C13.7969 14.6172 12.767 14.1889 11.9103 13.3322C11.0534 12.4753 10.625 11.4453 10.625 10.2422C10.625 9.03906 11.0534 8.00917 11.9103 7.1525C12.767 6.29563 13.7969 5.86719 15 5.86719C16.2031 5.86719 17.233 6.29563 18.0897 7.1525C18.9466 8.00917 19.375 9.03906 19.375 10.2422C19.375 11.4453 18.9466 12.4753 18.0897 13.3322C17.233 14.1889 16.2031 14.6172 15 14.6172ZM5.625 24.1366V21.3575C5.625 20.7454 5.79125 20.1785 6.12375 19.6569C6.45625 19.1352 6.90062 18.7342 7.45687 18.4537C8.69229 17.8481 9.93865 17.3939 11.1959 17.0909C12.4532 16.788 13.7213 16.6366 15 16.6366C16.2787 16.6366 17.5468 16.788 18.8041 17.0909C20.0614 17.3939 21.3077 17.8481 22.5431 18.4537C23.0994 18.7342 23.5437 19.1352 23.8762 19.6569C24.2087 20.1785 24.375 20.7454 24.375 21.3575V24.1366H5.625ZM7.5 22.2616H22.5V21.3575C22.5 21.1044 22.4267 20.87 22.28 20.6544C22.1333 20.439 21.9343 20.2631 21.6828 20.1269C20.6057 19.5965 19.5076 19.1946 18.3884 18.9213C17.2691 18.6481 16.1396 18.5116 15 18.5116C13.8604 18.5116 12.7309 18.6481 11.6116 18.9213C10.4924 19.1946 9.39427 19.5965 8.31719 20.1269C8.06573 20.2631 7.86667 20.439 7.72 20.6544C7.57333 20.87 7.5 21.1044 7.5 21.3575V22.2616ZM15 12.7422C15.6875 12.7422 16.276 12.4974 16.7656 12.0078C17.2552 11.5182 17.5 10.9297 17.5 10.2422C17.5 9.55469 17.2552 8.96615 16.7656 8.47656C16.276 7.98698 15.6875 7.74219 15 7.74219C14.3125 7.74219 13.724 7.98698 13.2344 8.47656C12.7448 8.96615 12.5 9.55469 12.5 10.2422C12.5 10.9297 12.7448 11.5182 13.2344 12.0078C13.724 12.4974 14.3125 12.7422 15 12.7422Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
header .tnb .global button {
    position: relative;
    width: 22px;
    height: 22px;
    /* 글자 안보이게 숨김처리하는 방법 - 글자 안쓰면 웹접근성 위배되기 때문에 쓰고 안보이게 해야 함. */
    font-size: 0;
    line-height: 0;
}
header .tnb .global button::before {
    content: "";
    position: absolute;
    right: 0;
    top: -7px;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0002 23.2904C11.5891 23.2904 10.2575 23.0199 9.00537 22.4789C7.75322 21.938 6.66122 21.2015 5.72937 20.2695C4.79734 19.3376 4.06086 18.2456 3.51991 16.9935C2.97897 15.7413 2.7085 14.4097 2.7085 12.9987C2.7085 11.5765 2.97897 10.2421 3.51991 8.99551C4.06086 7.74895 4.79734 6.65975 5.72937 5.72791C6.66122 4.79588 7.75322 4.05939 9.00537 3.51845C10.2575 2.9775 11.5891 2.70703 13.0002 2.70703C14.4224 2.70703 15.7568 2.9775 17.0034 3.51845C18.2499 4.05939 19.3391 4.79588 20.271 5.72791C21.203 6.65975 21.9395 7.74895 22.4804 8.99551C23.0214 10.2421 23.2918 11.5765 23.2918 12.9987C23.2918 14.4097 23.0214 15.7413 22.4804 16.9935C21.9395 18.2456 21.203 19.3376 20.271 20.2695C19.3391 21.2015 18.2499 21.938 17.0034 22.4789C15.7568 23.0199 14.4224 23.2904 13.0002 23.2904ZM13.0002 21.6423C13.553 20.9091 14.0183 20.1696 14.396 19.4237C14.7738 18.6778 15.0814 17.8625 15.319 16.9778H10.6813C10.9328 17.8903 11.244 18.7195 11.6149 19.4654C11.9855 20.2113 12.4473 20.9369 13.0002 21.6423ZM10.9023 21.3444C10.487 20.7486 10.1141 20.0712 9.78348 19.3124C9.45288 18.5533 9.19595 17.7751 9.01268 16.9778H5.33775C5.90993 18.1028 6.67729 19.048 7.63983 19.8134C8.60237 20.5786 9.68986 21.0889 10.9023 21.3444ZM15.098 21.3444C16.3105 21.0889 17.398 20.5786 18.3605 19.8134C19.323 19.048 20.0904 18.1028 20.6626 16.9778H16.9876C16.7695 17.782 16.4952 18.5636 16.1646 19.3227C15.8342 20.0817 15.4786 20.7556 15.098 21.3444ZM4.65633 15.3528H8.68362C8.61555 14.9501 8.56617 14.5554 8.53548 14.1684C8.50496 13.7817 8.4897 13.3918 8.4897 12.9987C8.4897 12.6056 8.50496 12.2157 8.53548 11.829C8.56617 11.442 8.61555 11.0473 8.68362 10.6446H4.65633C4.55215 11.0126 4.47234 11.3952 4.41691 11.7924C4.3613 12.1896 4.3335 12.5917 4.3335 12.9987C4.3335 13.4057 4.3613 13.8078 4.41691 14.205C4.47234 14.6022 4.55215 14.9848 4.65633 15.3528ZM10.3084 15.3528H15.692C15.7599 14.9501 15.8092 14.5589 15.8398 14.179C15.8704 13.7991 15.8856 13.4057 15.8856 12.9987C15.8856 12.5917 15.8704 12.1983 15.8398 11.8184C15.8092 11.4385 15.7599 11.0473 15.692 10.6446H10.3084C10.2405 11.0473 10.1912 11.4385 10.1605 11.8184C10.13 12.1983 10.1147 12.5917 10.1147 12.9987C10.1147 13.4057 10.13 13.7991 10.1605 14.179C10.1912 14.5589 10.2405 14.9501 10.3084 15.3528ZM17.3167 15.3528H21.344C21.4482 14.9848 21.528 14.6022 21.5834 14.205C21.639 13.8078 21.6668 13.4057 21.6668 12.9987C21.6668 12.5917 21.639 12.1896 21.5834 11.7924C21.528 11.3952 21.4482 11.0126 21.344 10.6446H17.3167C17.3848 11.0473 17.4342 11.442 17.4648 11.829C17.4954 12.2157 17.5106 12.6056 17.5106 12.9987C17.5106 13.3918 17.4954 13.7817 17.4648 14.1684C17.4342 14.5554 17.3848 14.9501 17.3167 15.3528ZM16.9876 9.01962H20.6626C20.0835 7.88067 19.3214 6.93546 18.3762 6.18399C17.431 5.4327 16.3383 4.91884 15.098 4.64241C15.5133 5.27291 15.8827 5.96254 16.2063 6.7113C16.53 7.45988 16.7905 8.22932 16.9876 9.01962ZM10.6813 9.01962H15.319C15.0675 8.11395 14.7512 7.27951 14.37 6.5163C13.9887 5.75309 13.5321 5.03268 13.0002 4.35505C12.4682 5.03268 12.0116 5.75309 11.6303 6.5163C11.2491 7.27951 10.9328 8.11395 10.6813 9.01962ZM5.33775 9.01962H9.01268C9.20985 8.22932 9.4703 7.45988 9.79404 6.7113C10.1176 5.96254 10.487 5.27291 10.9023 4.64241C9.65501 4.91884 8.56057 5.4345 7.61898 6.18941C6.6772 6.94413 5.91679 7.88753 5.33775 9.01962Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


.visual {
    height: 900px;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    padding: 705px 0 17px 0;
}