@import url(default.css);
@import url(font.css);
@import url(common.css);

body {
    font-family: 'Pretendard';
}
.news {
    margin: 100px 0;
}
.news .wrapper {
    position: relative; /* more의 정렬의기준*/
}
.news .tab_list ul {
    display: flex;
    border-bottom: 2px solid #CCC; /*밑줄*/
    align-items: flex-end;
}
.news .tab_list ul li button {
    position: relative; /*before 정렬의 기준*/
    padding: 28px 50px;
    font-size: 23px;
    line-height: 1.2;
    color: #9C9C9C;
}
.news .tab_list ul li.active button {
    font-weight: 600;
    color: #001A53;
}
.news .tab_list ul li.active button::before { /*active된 tab의 밑줄*/
    content: "";
    position: absolute; /*button을 기준으로 정렬*/
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #001A53;
}
.news .tab_contents {
    margin: 30px 0 0 0;
    padding: 50px 45px;
    background-color: #eee;
}
.news .tab_contents .tab_pannel {
    display: none; /*active 이외의 tab은 숨김처리*/
}
.news .tab_contents .tab_pannel.active {
    display: block; /*보이게*/
}
.news .tab_contents .tab_pannel h3 {
    margin: 12px 0;
    font-size: 20px;
    font-weight: 600;
    color: #001A53;
}
.news .tab_contents .tab_pannel .more {
    position: absolute; /*wrapper를 기준으로 정렬*/
    right: 3px;
    top: 18px;
}
.news .tab_contents .tab_pannel .more a {
    display: block;
    border: 1px solid #CCC;
    color: #9C9C9C;
    padding: 12px 40px 12px 20px;
}
.news .tab_contents .tab_pannel .more a::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 12px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4059 18.5938H8.02051V16.4063H16.4059V8.02084H18.5934V16.4063H26.9788V18.5938H18.5934V26.9792H16.4059V18.5938Z' fill='%239C9C9C'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


@media screen and (max-width:640px){ 
    .news {
        margin: 50px 0;
    }
    .news .tab_list ul li button {
        padding: 14px 25px;
        font-size: 17px;
    }
    .news .tab_list ul li.active button::before { 
        height: 3px;
    }
    .news .tab_contents {
        margin: 15px 0 0 0;
        padding: 30px 25px;
    }
    .news .tab_contents .tab_pannel h3 {
        margin: 12px 0;
        font-size: 15px;
    }
    .news .tab_contents .tab_pannel .more {
        position: absolute; /*wrapper를 기준으로 정렬*/
        right: 3px;
        top: 18px;
    }
    .news .tab_contents .tab_pannel .more a {
        padding: 0;
        width: 24px;
        height: 24px;
        font-size: 0;
        line-height: 0;
    }
    .news .tab_contents .tab_pannel .more a::before {
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4059 18.5938H8.02051V16.4063H16.4059V8.02084H18.5934V16.4063H26.9788V18.5938H18.5934V26.9792H16.4059V18.5938Z' fill='%239C9C9C'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
} /* @media */

/*notice*/
.notice {
    margin: 100px 0;
}
.notice .list ul {
    display: flex;
    position: relative; /*tab_contents정렬의 기준*/
    height: 450px; /*ul한테 tab과 tab_contents 내용이 다 나오게 높이를 꼭 줘야 함.*/
}
.notice .list ul li {
    width: calc((100% - 190px) / 3);
    /*100%에서 옆에 더보기 너비 190px를 빼고 li의 개수인 3으로 나눈 값이 li의 너비가 된다.*/
}
.notice .list ul li button {
    width: 100%;
    height: 84px;
    font-size: 23px;
    background-color: #f5f5f5;
    border: 1px solid #CCC;
    border-left-width: 0;
}
.notice .list ul li:first-child button {
    border-left-width: 1px;
    border-top-left-radius: 30px;
}
.notice .list ul li.active button {
    background-color: #fff;
    color: #001A53;
    font-weight: 600;
    border-bottom-width: 0;
}
.notice .list ul li .tab_contents {
    display: none;/*숨김처리*/
    position: absolute; /* ul을 기준으로 정렬됨, more정렬의 기준이 됨.*/
    left: 0;
    top: 84px; /*tab의 높이*/
    border: 1px solid #CCC;
    border-top-width: 0;
    border-radius: 0 0 20px 20px;
}
.notice .list ul li .tab_contents .inner {
    padding: 50px 45px;
}
.notice .list ul li.active .tab_contents {
    display: block;
}
.notice .list ul li .tab_contents h3 {
    margin: 12px 0;
    font-size: 20px;
    font-weight: 600;
    color: #001A53;
}
.notice .list ul li .tab_contents .more {
    position: absolute; /*tab_contents를 기준으로 정렬*/
    right: 0;
    top: -84px;
}
.notice .list ul li .tab_contents .more a {
    display: block;
    color: #fff;
    background-color: #001A53;
    padding: 30px 50px 30px 29px;
    width: 190px;
    height: 84px;
    border-radius: 0 30px 0 0;
}
.notice .list ul li .tab_contents .more a::before {
    content: "";
    position: absolute;
    right: 24px;
    top: 30px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4059 18.5938H8.02051V16.4063H16.4059V8.02084H18.5934V16.4063H26.9788V18.5938H18.5934V26.9792H16.4059V18.5938Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


@media screen and (max-width:640px){ 
    .notice .list ul {
        height: 450px; /*ul한테 tab과 tab_contents 내용이 다 나오게 높이를 꼭 줘야 함.*/
    }
    .notice .list ul li {
        width: calc((100% - 60px) / 3);
        /*100%에서 옆에 더보기 너비 190px를 빼고 li의 개수인 3으로 나눈 값이 li의 너비가 된다.*/
    }
    .notice .list ul li button {
        height: 64px;
        font-size: 15px;
    }
    .notice .list ul li:first-child button {
        border-top-left-radius: 15px;
    }
    .notice .list ul li .tab_contents {
        top: 64px; /*tab의 높이*/
        border-radius: 0 0 15px 15px;
    }
    .notice .list ul li .tab_contents .inner {
        padding: 30px 25px;
    }
    .notice .list ul li .tab_contents h3 {
        font-size: 15px;
    }
    .notice .list ul li .tab_contents .more {
        top: -64px;
    }
    .notice .list ul li .tab_contents .more a {
        display: 0;
        padding: 0;
        width: 60px;
        height: 64px;
        border-radius: 0 15px 0 0;
        font-size: 0;
        line-height: 0;
    }
    .notice .list ul li .tab_contents .more a::before {
        right: 18px;
        top: 20px;
    }
} /* @media */

.etc {
    margin: 100px 0;
}