@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
    /* body에는 기본 글자스타일 입력 -p의 스타일 */
    font-size: 17px;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 1.5;
}
* {  /* '*'(별 모양 선택자) 와이드카드라고 한다. 모든 태그를 지칭함.*/
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1260px;
    margin: 0 auto; /*배치의 가운데 정렬*/

}
.title {
    color: #061b73;
    text-align: center; /*글자의 가운데 정렬*/
}
h1 {
    font-size: 75px;
    font-weight: 700;
    color: #0a2cbc;
    text-align: center;
    margin: 180px 0 30px 0;
}
h2 {
    font-size: 45px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 260px 0 50px 0;
}
h3 {
    
    font-size: 30px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 80px 0 15px 0;
}