@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
    /* body에는 기본 글자스타일 입력 -p의 스타일 */
    font-size: 17px;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 1.5;
}
.wrapper {
    /* 홈페이지 넓이를 지정하고 브라우저 가운데 정렬 */
    width: 1260px;
    margin: 0 auto; /*가운데 정렬*/
}
/*브라우저가 주는 태그의 기본 여백 삭제*/
h1, h2, p, div, body {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 45px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 150px 0 17px 0; /*순서 : 상 우 하 좌  0은 단위 적지 않음*/
}
h2 {
    font-size: 35px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 70px 0 14px 0; 
}
