@import url(default.css);
@import url(common.css);
@import url(font.css);

.icon h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 180px 0 10px 0;
}
.icon h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 50px 0 7px 0;
}
.mobile_test ul li .img_wrap {
    margin: 20px 0 0 0;
}


/*margin의 중첩현상
위의 요소의 하단여백(margin)이 10px이고 하단 요소의 상단여백(margin)에 50px이면 
둘 사이의 여백은 둘 중의 큰 값인 50px임. 즉, margin이 중복이 되면 둘중에 큰값만 적용된다.*/
.svg_img .more {
    margin: 50px 0;
}
.svg_img .more a {
    display: flex;
    align-items: center;
    width: 170px;
    border: 1px solid #777;
    padding: 10px 20px 9px 24px;
    border-radius: 30px;
}
.svg_img .more a:hover {
    color: #fff;
    background-color: #1481E8;
    border-color: #1481E8;
}
.svg_img .more a strong {
    margin-right: 24px; /*strong태그는 인라인태그지만 좌우 여백은 들어감. 위아래 여백이 못들어가는 것*/
}
.svg_img .list ul {
    display: flex;
}
.svg_img .list ul li {
    width: 83px;
    margin-right: 12px;
}
.svg_img .list ul li a {
    display: block;
    text-align: center;
}
.svg_img .list ul li a .photo {
    display: inline-block;
    width: 59px;
    height: 59px;
    background-color: #f4f4f4;
    border-radius: 50%;
    padding-top: 16px;
    margin-bottom: 10px;
}

body {
    margin-bottom: 500px;
}
.svg_bg .more a {
    display: inline-block;
    margin: 50px 0;
    border: 1px solid #777;
    padding: 10px 63px 9px 24px;
    border-radius: 30px;
    background: url(../images/more_icon.svg) no-repeat right 20px top 13px;
}
.svg_bg .more a:hover {
    color: #fff;
    background-color: #1481E8;
    border-color: #1481E8;
    background-image: url(../images/more_icon_w.svg); /*마우스 over했을 때 이미지 경로만 바뀐다.*/
}
.svg_bg .list ul {
    display: flex;
}
.svg_bg .list ul li {
    width: 83px;
    margin-right: 12px;
}
.svg_bg .list ul li a {
    display: block;
    text-align: center;
}
.svg_bg .list ul li a i {
    display: inline-block;
    width: 59px;
    height: 59px;
    background-color: #f4f4f4;
    border-radius: 50%;
    margin-bottom: 10px;
    /*모든 배경의 위치와 반복값은 같고, 경로만 다르니까 - i한테는 겹치는 값 */
    background-repeat: no-repeat;
    background-position: center center;
}
.svg_bg .list ul li.ico1 a i {
    background-image: url(../images/link_icon1.svg);
}
.svg_bg .list ul li.ico2 a i {
    background-image: url(../images/link_icon2.svg);
}
.svg_bg .list ul li.ico3 a i {
    background-image: url(../images/link_icon3.svg);
}
.svg_bg .list ul li.ico4 a i {
    background-image: url(../images/link_icon4.svg);
}

.svg_bg .list ul li a:hover i {
    background-color: #1481E8;
}

.svg_bg .list ul li.ico1 a:hover i {
    background-image: url(../images/link_icon1_w.svg);
}
.svg_bg .list ul li.ico2 a:hover i {
    background-image: url(../images/link_icon2_w.svg);
}
.svg_bg .list ul li.ico3 a:hover i {
    background-image: url(../images/link_icon3_w.svg);
}
.svg_bg .list ul li.ico4 a:hover i {
    background-image: url(../images/link_icon4_w.svg);
}


/* before/after 가상선택자를 이용하는 방법*/
.svg_before .more {
    margin: 50px 0;
}
.svg_before .more a {
    display: inline-block;
    border: 1px solid #777;
    padding: 10px 63px 9px 24px;
    border-radius: 30px;
    position: relative; /*after 정렬의 기준점*/
}
.svg_before .more a::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 13px;
    width: 19px;
    height: 19px;
    background: url(../images/more_icon.svg) no-repeat center center;
} 
.svg_before .more a:hover::after {
    background-image: url(../images/more_icon_w.svg); /*마우스 over했을 때 이미지 경로만 바뀐다.*/
}
.svg_before .more a:hover {
    color: #fff;
    background-color: #1481E8;
    border-color: #1481E8;
}
.svg_before .list ul {
    display: flex;
}
.svg_before .list ul li {
    width: 83px;
    margin-right: 12px;
}
.svg_before .list ul li a {
    display: block;
    text-align: center;
    position: relative; /*before 정렬의 기준*/
    padding-top: 81px;
}
/*a사이즈는 현재 83px인데 a:before가 59px임. 이걸 a 안에 가운데정렬로 싶음.
방법 1. left를 12px를 준다 ( (83 - 59) / 2 =12)
방법 2. left를 50%로 줘서 가운데에서 시작하고 넓이의 절반을 빼줌. left : calc(50% - 35px)
방법 3. transform: translateX(-50%) 너의 넓이의 절반을 왼쪽으로 이동... -> 장점 : 넓이를 몰라도 줄 수가 있음*/

.svg_before .list ul li a::before {
    content: "";
    position: absolute;
    left: 50%; /*정렬의 기준이 되는 a를 기준으로 50%*/
    transform: translateX(-50%); /*before의 넓이의 50%*/
    top: 0;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-position: center center;
}
.svg_before .list ul li.ico1 a::before {
    background-image: url(../images/link_icon1.svg);
}
.svg_before .list ul li.ico2 a::before {
    background-image: url(../images/link_icon2.svg);
}
.svg_before .list ul li.ico3 a::before {
    background-image: url(../images/link_icon3.svg);
}
.svg_before .list ul li.ico4 a::before {
    background-image: url(../images/link_icon4.svg);
}
.svg_before .list ul li a:hover::before {
    background-color: #1481E8;
}

.svg_before .list ul li.ico1 a:hover::before {
    background-image: url(../images/link_icon1_w.svg);
}
.svg_before .list ul li.ico2 a:hover::before {
    background-image: url(../images/link_icon2_w.svg);
}
.svg_before .list ul li.ico3 a:hover::before {
    background-image: url(../images/link_icon3_w.svg);
}
.svg_before .list ul li.ico4 a:hover::before {
    background-image: url(../images/link_icon4_w.svg);
}




.google .more {
    margin: 50px 0;
}

.google .more a {
    display: inline-block;
    width: 170px;
    padding: 10px 63px 9px 24px;
    border: 1px solid #777;
    border-radius: 30px;
    position: relative;
}
.google .more a i {/*구글 아이콘은 아이콘을 서체로 인식함.*/
    font-size: 19px; /*구글 아이콘은 크기를 font-size로 줌. 넓이가 19px이면 font-size도 19px*/
    color: #777;
    position: absolute;
    right: 20px;
    top: 13px;
}
.google .more a:hover {
    border-color: #1481E8;
    background-color: #1481E8;
    color: #fff;
}
.google .more a:hover i {
    color: #fff;
}
.path .more {
    margin: 50px 0;
}
.path .more a {
    display: inline-block;
    padding: 10px 63px 9px 24px;
    border: 1px solid #777;
    border-radius: 30px;
    position: relative;
}
.path .more a::after {
    content: "";
    position: absolute;
    right: 20px;
    top : 13px;
    width: 19px;
    height: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.70831 10.2917H3.95831V8.70833H8.70831V3.95833H10.2916V8.70833H15.0416V10.2917H10.2916V15.0417H8.70831V10.2917Z' fill='%23777777'/%3E%3C/svg%3E%0A");    background-repeat: no-repeat;
    background-position: center center;
}
.path .more a:hover {
    border-color: #1481E8;
    background-color: #1481E8;
    color: #fff;
}  
.path .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.70831 10.2917H3.95831V8.70833H8.70831V3.95833H10.2916V8.70833H15.0416V10.2917H10.2916V15.0417H8.70831V10.2917Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");}
.path .list ul {
    display: flex;
}
.path .list ul li {
    width: 83px;
    margin-right: 10px;
}
.path .list ul li a {
    display: block;
    text-align: center;
    /*글자의 서체, 색상, 크기, 정렬과 같은 속성은 a 태그에 주는 것이 좋다. */
    position: relative; /*after/before의 정렬의 기준이 된다.*/
    padding-top: 81px;
}
.path .list ul li a::before {
    content: "";
    position: absolute; /*a를 기준으로 정렬*/
    left: 50%; /*정렬의 기준이 되는 a를 기준으로 50%*/
    transform: translateX(-50%); /*before(icon 뒤에 있는 동그라미)의 넓이의 50%를 왼쪽으로 이동*/
    top: 0;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background-color: #f4f4f4;
}
.path .list ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 14px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /*내가 지정한 width/height에 맞게 아이콘이 잘리지 않고 딱 맞게 리사이즈되는 명령*/
}
.path .list ul li.ico1 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.25 22.75V7.58333H7.58333V3.25H18.4167V11.9167H22.75V22.75H14.0833V18.4167H11.9167V22.75H3.25ZM5.41667 20.5833H7.58333V18.4167H5.41667V20.5833ZM5.41667 16.25H7.58333V14.0833H5.41667V16.25ZM5.41667 11.9167H7.58333V9.75H5.41667V11.9167ZM9.75 16.25H11.9167V14.0833H9.75V16.25ZM9.75 11.9167H11.9167V9.75H9.75V11.9167ZM9.75 7.58333H11.9167V5.41667H9.75V7.58333ZM14.0833 16.25H16.25V14.0833H14.0833V16.25ZM14.0833 11.9167H16.25V9.75H14.0833V11.9167ZM14.0833 7.58333H16.25V5.41667H14.0833V7.58333ZM18.4167 20.5833H20.5833V18.4167H18.4167V20.5833ZM18.4167 16.25H20.5833V14.0833H18.4167V16.25Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico2 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_70)'%3E%3Cpath d='M0 19.5V17.7937C0 17.0174 0.397222 16.3854 1.19167 15.8979C1.98611 15.4104 3.03333 15.1667 4.33333 15.1667C4.56806 15.1667 4.79375 15.1712 5.01042 15.1802C5.22708 15.1892 5.43472 15.2118 5.63333 15.2479C5.38056 15.6271 5.19097 16.0243 5.06458 16.4396C4.93819 16.8549 4.875 17.2882 4.875 17.7396V19.5H0ZM6.5 19.5V17.7396C6.5 17.1618 6.65799 16.6337 6.97396 16.1552C7.28993 15.6767 7.73681 15.2569 8.31458 14.8958C8.89236 14.5347 9.58299 14.2639 10.3865 14.0833C11.1899 13.9028 12.0611 13.8125 13 13.8125C13.9569 13.8125 14.8372 13.9028 15.6406 14.0833C16.4441 14.2639 17.1347 14.5347 17.7125 14.8958C18.2903 15.2569 18.7326 15.6767 19.0396 16.1552C19.3465 16.6337 19.5 17.1618 19.5 17.7396V19.5H6.5ZM21.125 19.5V17.7396C21.125 17.2701 21.0663 16.8278 20.949 16.4125C20.8316 15.9972 20.6556 15.609 20.4208 15.2479C20.6194 15.2118 20.8226 15.1892 21.0302 15.1802C21.2378 15.1712 21.45 15.1667 21.6667 15.1667C22.9667 15.1667 24.0139 15.4059 24.8083 15.8844C25.6028 16.3628 26 16.9993 26 17.7937V19.5H21.125ZM8.80208 17.3333H17.225C17.0444 16.9722 16.5434 16.6562 15.7219 16.3854C14.9003 16.1146 13.9931 15.9792 13 15.9792C12.0069 15.9792 11.0997 16.1146 10.2781 16.3854C9.4566 16.6562 8.96458 16.9722 8.80208 17.3333ZM4.33333 14.0833C3.7375 14.0833 3.22743 13.8712 2.80313 13.4469C2.37882 13.0226 2.16667 12.5125 2.16667 11.9167C2.16667 11.3028 2.37882 10.7882 2.80313 10.3729C3.22743 9.95764 3.7375 9.75 4.33333 9.75C4.94722 9.75 5.46181 9.95764 5.87708 10.3729C6.29236 10.7882 6.5 11.3028 6.5 11.9167C6.5 12.5125 6.29236 13.0226 5.87708 13.4469C5.46181 13.8712 4.94722 14.0833 4.33333 14.0833ZM21.6667 14.0833C21.0708 14.0833 20.5608 13.8712 20.1365 13.4469C19.7122 13.0226 19.5 12.5125 19.5 11.9167C19.5 11.3028 19.7122 10.7882 20.1365 10.3729C20.5608 9.95764 21.0708 9.75 21.6667 9.75C22.2806 9.75 22.7951 9.95764 23.2104 10.3729C23.6257 10.7882 23.8333 11.3028 23.8333 11.9167C23.8333 12.5125 23.6257 13.0226 23.2104 13.4469C22.7951 13.8712 22.2806 14.0833 21.6667 14.0833ZM13 13C12.0972 13 11.3299 12.684 10.6979 12.0521C10.066 11.4201 9.75 10.6528 9.75 9.75C9.75 8.82917 10.066 8.05729 10.6979 7.43437C11.3299 6.81146 12.0972 6.5 13 6.5C13.9208 6.5 14.6927 6.81146 15.3156 7.43437C15.9385 8.05729 16.25 8.82917 16.25 9.75C16.25 10.6528 15.9385 11.4201 15.3156 12.0521C14.6927 12.684 13.9208 13 13 13ZM13 10.8333C13.3069 10.8333 13.5642 10.7295 13.7719 10.5219C13.9795 10.3142 14.0833 10.0569 14.0833 9.75C14.0833 9.44306 13.9795 9.18576 13.7719 8.97813C13.5642 8.77049 13.3069 8.66667 13 8.66667C12.6931 8.66667 12.4358 8.77049 12.2281 8.97813C12.0205 9.18576 11.9167 9.44306 11.9167 9.75C11.9167 10.0569 12.0205 10.3142 12.2281 10.5219C12.4358 10.7295 12.6931 10.8333 13 10.8333Z' fill='%235F6368'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_70'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.path .list ul li.ico3 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.7917 21.5854L12.1875 16.9812L13.7042 15.4646L16.7917 18.5521L22.9125 12.4312L24.4292 13.9479L16.7917 21.5854ZM22.75 10.8333H20.5833V5.41667H18.4167V8.66667H7.58333V5.41667H5.41667V20.5833H11.9167V22.75H3.25V3.25H9.93958C10.1382 2.61805 10.5264 2.09896 11.1042 1.69271C11.6819 1.28646 12.3139 1.08333 13 1.08333C13.7222 1.08333 14.3677 1.28646 14.9365 1.69271C15.5052 2.09896 15.8889 2.61805 16.0875 3.25H22.75V10.8333ZM13 5.41667C13.3069 5.41667 13.5642 5.31285 13.7719 5.10521C13.9795 4.89757 14.0833 4.64028 14.0833 4.33333C14.0833 4.02639 13.9795 3.7691 13.7719 3.56146C13.5642 3.35382 13.3069 3.25 13 3.25C12.6931 3.25 12.4358 3.35382 12.2281 3.56146C12.0205 3.7691 11.9167 4.02639 11.9167 4.33333C11.9167 4.64028 12.0205 4.89757 12.2281 5.10521C12.4358 5.31285 12.6931 5.41667 13 5.41667Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico4 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 14.0833V3.25H22.75V10.8333H16.25L13 14.0833ZM15.1667 8.66667H20.5833V5.41667H15.1667V8.66667ZM21.6125 22.75C19.3556 22.75 17.1212 22.2625 14.9094 21.2875C12.6976 20.3125 10.6889 18.9222 8.88333 17.1167C7.07778 15.3111 5.6875 13.3069 4.7125 11.1042C3.7375 8.90139 3.25 6.6625 3.25 4.3875V3.25H9.64167L10.6438 8.69375L7.55625 11.8083C7.95347 12.5125 8.39583 13.1806 8.88333 13.8125C9.37083 14.4444 9.89444 15.0312 10.4542 15.5729C10.9778 16.0965 11.551 16.5976 12.174 17.076C12.7969 17.5545 13.4694 18.0014 14.1917 18.4167L17.3333 15.275L22.75 16.3854V22.75H21.6125ZM6.52708 9.75L8.31458 7.9625L7.85417 5.41667H5.44375C5.53403 6.22917 5.66944 6.99201 5.85 7.70521C6.03056 8.4184 6.25625 9.1 6.52708 9.75ZM16.2229 19.4458C16.9451 19.7528 17.6719 19.9965 18.4031 20.1771C19.1344 20.3576 19.8611 20.475 20.5833 20.5292V18.1458L18.0375 17.6313L16.2229 19.4458Z' fill='%235F6368'/%3E%3C/svg%3E%0A");}


/*마우스 오버 했을 때 빽색, 아이콘 색, 글자 색 바뀌는 코드*/
.path .list ul li a:hover::before {
    background-color: #1481E8;
}
.path .list ul li.ico1 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.25 22.75V7.58333H7.58333V3.25H18.4167V11.9167H22.75V22.75H14.0833V18.4167H11.9167V22.75H3.25ZM5.41667 20.5833H7.58333V18.4167H5.41667V20.5833ZM5.41667 16.25H7.58333V14.0833H5.41667V16.25ZM5.41667 11.9167H7.58333V9.75H5.41667V11.9167ZM9.75 16.25H11.9167V14.0833H9.75V16.25ZM9.75 11.9167H11.9167V9.75H9.75V11.9167ZM9.75 7.58333H11.9167V5.41667H9.75V7.58333ZM14.0833 16.25H16.25V14.0833H14.0833V16.25ZM14.0833 11.9167H16.25V9.75H14.0833V11.9167ZM14.0833 7.58333H16.25V5.41667H14.0833V7.58333ZM18.4167 20.5833H20.5833V18.4167H18.4167V20.5833ZM18.4167 16.25H20.5833V14.0833H18.4167V16.25Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico2 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_70)'%3E%3Cpath d='M0 19.5V17.7937C0 17.0174 0.397222 16.3854 1.19167 15.8979C1.98611 15.4104 3.03333 15.1667 4.33333 15.1667C4.56806 15.1667 4.79375 15.1712 5.01042 15.1802C5.22708 15.1892 5.43472 15.2118 5.63333 15.2479C5.38056 15.6271 5.19097 16.0243 5.06458 16.4396C4.93819 16.8549 4.875 17.2882 4.875 17.7396V19.5H0ZM6.5 19.5V17.7396C6.5 17.1618 6.65799 16.6337 6.97396 16.1552C7.28993 15.6767 7.73681 15.2569 8.31458 14.8958C8.89236 14.5347 9.58299 14.2639 10.3865 14.0833C11.1899 13.9028 12.0611 13.8125 13 13.8125C13.9569 13.8125 14.8372 13.9028 15.6406 14.0833C16.4441 14.2639 17.1347 14.5347 17.7125 14.8958C18.2903 15.2569 18.7326 15.6767 19.0396 16.1552C19.3465 16.6337 19.5 17.1618 19.5 17.7396V19.5H6.5ZM21.125 19.5V17.7396C21.125 17.2701 21.0663 16.8278 20.949 16.4125C20.8316 15.9972 20.6556 15.609 20.4208 15.2479C20.6194 15.2118 20.8226 15.1892 21.0302 15.1802C21.2378 15.1712 21.45 15.1667 21.6667 15.1667C22.9667 15.1667 24.0139 15.4059 24.8083 15.8844C25.6028 16.3628 26 16.9993 26 17.7937V19.5H21.125ZM8.80208 17.3333H17.225C17.0444 16.9722 16.5434 16.6562 15.7219 16.3854C14.9003 16.1146 13.9931 15.9792 13 15.9792C12.0069 15.9792 11.0997 16.1146 10.2781 16.3854C9.4566 16.6562 8.96458 16.9722 8.80208 17.3333ZM4.33333 14.0833C3.7375 14.0833 3.22743 13.8712 2.80313 13.4469C2.37882 13.0226 2.16667 12.5125 2.16667 11.9167C2.16667 11.3028 2.37882 10.7882 2.80313 10.3729C3.22743 9.95764 3.7375 9.75 4.33333 9.75C4.94722 9.75 5.46181 9.95764 5.87708 10.3729C6.29236 10.7882 6.5 11.3028 6.5 11.9167C6.5 12.5125 6.29236 13.0226 5.87708 13.4469C5.46181 13.8712 4.94722 14.0833 4.33333 14.0833ZM21.6667 14.0833C21.0708 14.0833 20.5608 13.8712 20.1365 13.4469C19.7122 13.0226 19.5 12.5125 19.5 11.9167C19.5 11.3028 19.7122 10.7882 20.1365 10.3729C20.5608 9.95764 21.0708 9.75 21.6667 9.75C22.2806 9.75 22.7951 9.95764 23.2104 10.3729C23.6257 10.7882 23.8333 11.3028 23.8333 11.9167C23.8333 12.5125 23.6257 13.0226 23.2104 13.4469C22.7951 13.8712 22.2806 14.0833 21.6667 14.0833ZM13 13C12.0972 13 11.3299 12.684 10.6979 12.0521C10.066 11.4201 9.75 10.6528 9.75 9.75C9.75 8.82917 10.066 8.05729 10.6979 7.43437C11.3299 6.81146 12.0972 6.5 13 6.5C13.9208 6.5 14.6927 6.81146 15.3156 7.43437C15.9385 8.05729 16.25 8.82917 16.25 9.75C16.25 10.6528 15.9385 11.4201 15.3156 12.0521C14.6927 12.684 13.9208 13 13 13ZM13 10.8333C13.3069 10.8333 13.5642 10.7295 13.7719 10.5219C13.9795 10.3142 14.0833 10.0569 14.0833 9.75C14.0833 9.44306 13.9795 9.18576 13.7719 8.97813C13.5642 8.77049 13.3069 8.66667 13 8.66667C12.6931 8.66667 12.4358 8.77049 12.2281 8.97813C12.0205 9.18576 11.9167 9.44306 11.9167 9.75C11.9167 10.0569 12.0205 10.3142 12.2281 10.5219C12.4358 10.7295 12.6931 10.8333 13 10.8333Z' fill='%23ffffff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_70'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.path .list ul li.ico3 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.7917 21.5854L12.1875 16.9812L13.7042 15.4646L16.7917 18.5521L22.9125 12.4312L24.4292 13.9479L16.7917 21.5854ZM22.75 10.8333H20.5833V5.41667H18.4167V8.66667H7.58333V5.41667H5.41667V20.5833H11.9167V22.75H3.25V3.25H9.93958C10.1382 2.61805 10.5264 2.09896 11.1042 1.69271C11.6819 1.28646 12.3139 1.08333 13 1.08333C13.7222 1.08333 14.3677 1.28646 14.9365 1.69271C15.5052 2.09896 15.8889 2.61805 16.0875 3.25H22.75V10.8333ZM13 5.41667C13.3069 5.41667 13.5642 5.31285 13.7719 5.10521C13.9795 4.89757 14.0833 4.64028 14.0833 4.33333C14.0833 4.02639 13.9795 3.7691 13.7719 3.56146C13.5642 3.35382 13.3069 3.25 13 3.25C12.6931 3.25 12.4358 3.35382 12.2281 3.56146C12.0205 3.7691 11.9167 4.02639 11.9167 4.33333C11.9167 4.64028 12.0205 4.89757 12.2281 5.10521C12.4358 5.31285 12.6931 5.41667 13 5.41667Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico4 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 14.0833V3.25H22.75V10.8333H16.25L13 14.0833ZM15.1667 8.66667H20.5833V5.41667H15.1667V8.66667ZM21.6125 22.75C19.3556 22.75 17.1212 22.2625 14.9094 21.2875C12.6976 20.3125 10.6889 18.9222 8.88333 17.1167C7.07778 15.3111 5.6875 13.3069 4.7125 11.1042C3.7375 8.90139 3.25 6.6625 3.25 4.3875V3.25H9.64167L10.6438 8.69375L7.55625 11.8083C7.95347 12.5125 8.39583 13.1806 8.88333 13.8125C9.37083 14.4444 9.89444 15.0312 10.4542 15.5729C10.9778 16.0965 11.551 16.5976 12.174 17.076C12.7969 17.5545 13.4694 18.0014 14.1917 18.4167L17.3333 15.275L22.75 16.3854V22.75H21.6125ZM6.52708 9.75L8.31458 7.9625L7.85417 5.41667H5.44375C5.53403 6.22917 5.66944 6.99201 5.85 7.70521C6.03056 8.4184 6.25625 9.1 6.52708 9.75ZM16.2229 19.4458C16.9451 19.7528 17.6719 19.9965 18.4031 20.1771C19.1344 20.3576 19.8611 20.475 20.5833 20.5292V18.1458L18.0375 17.6313L16.2229 19.4458Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");}


body {
    margin-bottom: 500px;
}