/* layout.css
header/footer 모든 페이지의 공통 스타일 적용 */

.skipnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    display: block;
    background-color: #6D801C;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.skipnav a.menu {
    background-color: #EC29A5;
}
.skipnav a:focus{
    top: 0;
}

header {
    position: fixed; /*wrap을 기준으로 정렬*/
    padding: 0 6%;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    transition: 0.3s;

    /*로고를 위아래 가운데 정렬하기 위해서*/
    display: flex;
    align-items: center;
}
header .logo a {
    display: block;
    position: relative; /*before 정렬의 기준*/
    color: transparent; /*글자 색 투명하게 */
    width: 8.2353em;
    height: 1.4118em;
}
header .logo a::before { /*a를 기준으로 정렬*/
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/logo.svg) no-repeat center center / contain;
}
header .gnb { /*양옆 가운데 정렬 하기 위해서*/
    position: absolute;  /*wrap을 기준으로 정렬*/
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
}
header .gnb .gnb_open, header .gnb .gnb_close {
    display: none;
}
header .gnb .gnb_wrap ul {
    display: flex;
    justify-content: center;
    gap: 80px;
}
header .gnb .gnb_wrap ul li a span {
    font-weight: 700;
}

/******-----header가 고정되었을 때: header.fixed -----*****/
header.fixed, header.menu_pc {
    background-color: #fff;
    color: #1d1d1d;
    border-bottom: 1px solid #999;
    transition: 0.3s;
}
header.fixed.scroll_down, header.menu_pc.scroll_down {
    transform: translateY(-100%);
}

@media screen and (max-width:1440px){ /*16px*/
    header .gnb .gnb_wrap ul {
        display: flex;
        justify-content: center;
        gap: 60px;
    }
} /* @media */
@media screen and (max-width:1024px){ /*15px*/
    header .gnb .gnb_wrap ul {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
} /* @media */
/* mobile 버전 css */
@media screen and (max-width:768px){ /*14px*/
    header .gnb {
        left: auto;
        right: 0;
        top: 0;
        transform: translate(0, 0);
    }
    header .gnb .gnb_wrap, header .gnb .gnb_close {
        display: none;
    }
    header .gnb .gnb_open{
        display: block;
        position: relative; /* after 정렬의 기준 */
        color: transparent;
    }
    header .gnb .gnb_open::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        width: 3.5714em; /*50px 기준:14px*/
        height: 3.5714em; /*50px 기준:14px*/
        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5 20.8334V19.1667H32.5V20.8334H17.5ZM17.5 30.8334V29.1667H32.5V30.8334H17.5ZM17.5 25.8334V24.1667H32.5V25.8334H17.5Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
} /* @media */
@media screen and (max-width:380px){ /*13px*/
    
} /* @media */




/*********-------footer-----------***********/
footer {
    padding: 150px 0 125px 0;
    background-color: #1d1d1d;
    color: rgba(255,255,255,0.8);
}
footer .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.8);
}
footer h2 {
    display: none;
}
footer .slogan {
    font-size: 2.3em; /*40px*/
    font-weight: 700;
    line-height: 1.2;
    margin: 0 20px 255px 0;
    color: #fff;
}
footer .slogan span.f_logo {
    position: relative; /* before 정렬의 기준 */
    display: inline-block;
    width: 5.7em; /*234px*/
    height: 1em; /*40px*/
}
footer .slogan span.f_logo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-position: bottom top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/f_logo.svg);
    height: 1em;
    bottom: -0.2em;
}
footer .contact_txt {
    width: 48%;
    padding-bottom: 80px;
}
footer .contact_txt h3 {
    font-size: 1.47em; /*25px*/
    margin-bottom: 1em;
}
footer .contact_txt .group {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 14px;
}
footer .contact_txt .group + .group { /* 인접 형제 선택자 */
    margin: 1em 0 0 0;
}
footer .contact_txt .group span {
    margin: 0 10px 0 0;
    font-size: 0.88rem; /*15px*/
}
footer .contact_txt .group strong {
    display: inline-block;
    width: 3.3em;
}
footer address {
    color: rgba(255,255,255,0.6);
    font-size: 0.88rem; /*15px*/
    position: absolute;
    left: 0;
    bottom: 0.7em;
}
footer .copyright {
    color: rgba(255,255,255,0.6);
    font-size: 0.88rem; /*15px*/
    position: absolute;
    left: 0;
    bottom: -2em; 
}
@media screen and (max-width:1440px){ /*16px*/
    footer {
        padding: 100px 0 100px 0;
        background-color: #1d1d1d;
        color: rgba(255,255,255,0.8);
    }
    footer .slogan {
        font-size: 2em; /*32px*/
        font-weight: 700;
        line-height: 1.2;
        margin: 0 20px 255px 0;
    }
} /* @media */
@media screen and (max-width:1024px){ /*15px*/
    footer .slogan {
        font-size: 1.6em; /*22px*/
        margin: 0 20px 200px 0;
    }
} /* @media */

/* mobile 버전 css */
@media screen and (max-width:768px){ /*14px*/
    footer {
        padding: 70px 0 80px 0;
    }
    footer .inner {
        display: block; /*flex 해제*/
        border: 0; /*선을 slogan한테 줌.*/
    }
    footer h2 {
        display: none;
    }
    footer .slogan {
        padding-bottom: 14px;
        margin: 0 20px 52px 0;
        border-bottom: 1px solid rgba(255,255,255,0.8);
    }
    footer .contact_txt {
        width: auto;
    }
    footer .contact_txt .group {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        gap: 14px;
    }
    footer .contact_txt .group + .group { /* 인접 형제 선택자 */
        margin: 1em 0 0 0;
    }
    footer .contact_txt .group span {
        margin: 0 10px 0 0;
        font-size: 0.88rem; /*15px*/
    }
    footer .contact_txt .group strong {
        display: inline-block;
        width: 3.3em;
    }
    footer address {
        bottom: 0;
    }
    footer .copyright {
        bottom: -1.8em; 
    }
} /* @media */


