/* layout.css
header/footer 모든 페이지의 공통 스타일 적용 */

.skipnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    display: block;
    background-color: #6D801C;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.skipnav a.menu {
    background-color: #EC29A5;
}
.skipnav a:focus{
    top: 0;
}

header {
    position: fixed; /*wrap을 기준으로 정렬*/
    padding: 0 60px;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    transition: 0.3s;

    /*로고를 위아래 가운데 정렬하기 위해서*/
    display: flex;
    align-items: center;
}
header .logo a {
    display: block;
    position: relative; /*before 정렬의 기준*/
    color: transparent; /*글자 색 투명하게 */
    width: 8.2353em;
    height: 1.4118em;
}
header .logo a::before { /*a를 기준으로 정렬*/
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/logo.svg) no-repeat center center / contain;
}
header .gnb { /*양옆 가운데 정렬 하기 위해서*/
    position: absolute;  /*wrap을 기준으로 정렬*/
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
}
header .gnb .gnb_open, header .gnb .gnb_close {
    display: none;
}
header .gnb .gnb_wrap ul {
    display: flex;
    justify-content: center;
    gap: 80px;
}


/******-----header가 고정되었을 때: header.fixed -----*****/
header.fixed, header.menu_pc {
    background-color: #fff;
    color: #1d1d1d;
    border-bottom: 1px solid #999;
    transition: 0.3s;
}
header.fixed.scroll_down, header.menu_pc.scroll_down {
    transform: translateY(-100%);
}




@media screen and (max-width:1440px){ /*16px*/
    header .gnb .gnb_wrap ul {
        display: flex;
        justify-content: center;
        gap: 60px;
    }
} /* @media */
@media screen and (max-width:1024px){ /*15px*/
    header .gnb .gnb_wrap ul {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    
} /* @media */
/* mobile 버전 css */
@media screen and (max-width:768px){ /*14px*/
    header .gnb .gnb_wrap, header .gnb .gnb_close {
        display: none;
    }
    header .gnb .gnb_open{
        display: block;
    }
    
} /* @media */
@media screen and (max-width:320px){ /*13px*/
    
} /* @media */







/*********-------footer-----------***********/
footer {
    background-color: #1d1d1d;
    color: rgba(255,255,255,0.8);
    padding: 5.2941em 0 8.1176em 0;
}


