/*
 * main.css
 * 메인페이지에만 적용되는 스타일 입력,
 * 다른 css import 
 */
 @import url(default.css);
 @import url(font.css);
 @import url(common.css);
 @import url(layout.css);
 
main.container {
    padding: 100px 0 0 0;
}

/***------visual 시작-------*****/
.visual {
    position: relative;  /* ctrl_wrap 정렬의 기준 */
    padding: 0 60px;
}
.visual h2 {
    display: none;  /* 숨김 */
}
.visual .swiper ul li {
    position: relative; /* .visual_txt 정렬의 기준 */
}
.visual .swiper ul li .photo {
    overflow: hidden;
    height: 750px;
}
.visual .swiper ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper ul li .visual_txt {
    position: absolute; /*li를 기준으로 정렬*/
    left: 50%;
    bottom: 15%;
    color: #fff;
}
.visual .swiper ul li .visual_txt h3 {
    margin: 0 0 1.4118em 1.4118em; /*24px 기준 :17px*/
    z-index: 10;
}
.visual .swiper ul li .visual_txt h3 strong {
    position: relative; /*span의 기준의 정렬*/
    font-size: 2.6471rem; /*45px 기준:17px*/
    font-weight: 700;
    line-height: 1.2;
    z-index: 10;
}
.visual .swiper ul li .visual_txt h3 span {
    position: absolute;  /*strong를 기준으로 정렬*/
    left: 0;
    top: -17px;
    font-size: 2.0588rem;  /*35px 기준:17px*/
    font-weight: 700;
    line-height: 1.2;
    color: rgba(0,0,0,0.4);
}
.visual .ctrl_wrap {
    height: 100px;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual .ctrl_wrap .paging span {
    margin: 0 4px;
}
.visual .ctrl_wrap .prev { /*화살표 아이콘*/
    margin-right: 24px;
    font-size: 0;
    line-height: 0;
    width: 18px; /*18px 기준:17px*/
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9883 1.7597L13.0527 2.82414L6.87686 9.00001L13.0527 15.1759L11.9883 16.2403L4.74798 9.00001L11.9883 1.7597Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.visual .ctrl_wrap .next { /*화살표 아이콘*/
    margin-left: 24px;
    font-size: 0;
    line-height: 0;
    width: 18px; /*18px 기준:17px*/
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.0117 16.2403L4.94727 15.1759L11.1231 8.99999L4.94727 2.82411L6.0117 1.75967L13.252 8.99999L6.0117 16.2403Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: auto;
}
@media screen and (max-width:1440px){ /*16px*/
    .visual .swiper ul li .photo {
        height: 600px;
    }
} /* @media */
@media screen and (max-width:1024px){ /*15px*/
    .visual {
        padding: 0 20px;
    }
    .visual .ctrl_wrap {
        height: 80px;
    }
    .visual .swiper ul li .photo {
        height: 420px;
    }
    .visual .swiper ul li .visual_txt h3 {
        margin: 0 0 1em 1em; /*15px 기준 :15px*/
    }
    .visual .swiper ul li .visual_txt h3 strong {
        font-size: 2rem;/*30px 기준:15px*/
    }
    .visual .swiper ul li .visual_txt h3 span {
        font-size: 2rem;/*30px 기준:15px*/
    }
} /* @media */
/* mobile 버전 css */
@media screen and (max-width:768px){ /*14px*/
    .visual .swiper ul li .visual_txt {
        left: 10%;
    }
    .visual .swiper ul li .visual_txt p br {
        display: none;
    }
    .visual .swiper ul li .visual_txt {
        margin: 0 30px 0 0;
    }
} /* @media */
@media screen and (max-width:380px){ /*13px*/
    .visual .swiper ul li .photo {
        height: 400px;
    }
    .visual .swiper ul li .visual_txt h3 {
        margin: 0 0 0.6923em 0.6923em; /*9px 기준:13px*/
    }
    .visual .swiper ul li .visual_txt h3 strong {
        font-size: 1.6923rem; /*22px 기준:13px*/
    }
    .visual .swiper ul li .visual_txt h3 span {
        font-size: 1.3846rem; /*18px 기준:13px*/
        top: -10px;
    }
} /* @media */
/***------visual 끝-------*****/


/***------product 시작-------*****/
.product {
    padding: 150px 60px 200px 60px;
}
.product .wrapper {
    position: relative; /*prev, next의 정렬의 기준*/
}
.product .inner {
    padding: 0 110px;
}
.product h2 {
    font-size: 2.6471rem; /*45px 기준:17px*/
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.1556em; /*52px 기준:45px*/
    position: relative; /*before의 정렬의 기준*/
}
.product h2::before { /*선*/
    content: "";
    position: absolute; /*h2를 기준으로 정렬*/
    left: 0;
    bottom: -52px;
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.1);
}
.product .tab_list {
    overflow-x: auto;/* ul의 넓이가 snb보다 크면 - 메뉴가 한줄에 표시가 안될 것 같으면 가로 스크롤바 생성 */
    width: 100%;
}
.product .tab_list ul {
    display: flex;
    margin: 1em 0 1em 0;
}
.product .tab_list ul li button {
    padding: 0.4706em 1.1765em; /*8px 20px*/
    font-weight: 700;
    border-radius: 50px;
    white-space: nowrap; /*한 줄 제한*/
}
.product .tab_list ul li.active button {
    background-color: #555;
    color: #fff;
}
.product .tab_content {
    padding: 2.1176em 0 0 0; /*36px*/
    position: relative; /*more의 정렬의 기준*/
}
.product .tab_content .tab_panel {
    display: none; /* 숨김 */
}
.product .tab_content .tab_panel.active {
    display: block;
}
.product .tab_content .tab_panel h3 {
    display: none;
}
.product .tab_content .tab_panel .swiper ul li a {
    display: block;
}
.product .tab_content .tab_panel .swiper ul li a .photo {
    height: 100%; /*302px*/
    overflow: hidden;
    border: 1px solid #1d1d1d;
}
.product .tab_content .tab_panel .swiper ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s;
}
.product .tab_content .tab_panel .swiper ul li a:hover .photo img {
    transform: scale3d(1.1, 1.1, 1);
}
.product .tab_content .tab_panel .swiper ul li a strong {
    display: inline-block;
    font-size: 0.8824rem; /*15px*/
    font-weight: 700;
    padding: 0.4667em 1.3333em; /*7px 20px*/
    margin: 1.3333em 0 0.9333em 0; /*20px 14px*/
    border: 1px solid #1d1d1d;
    border-radius: 5px;
}
.product .tab_content .tab_panel .swiper ul li a span {
    display: block;
    font-weight: 700;
    width: 100%;
}
.product .tab_content .tab_panel .btn_wrap .prev, .product .tab_content .tab_panel .btn_wrap .next {
    position: absolute; /*wrapper를 기준으로 정렬*/
    left: 0;
    bottom: 30%;
    transform: translateY(-70%);
    width: 2.6471em;
    height: 2.6471em;
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 5.4375L31.5938 7.03125L16.125 22.5L31.5938 37.9688L30 39.5625L12.9375 22.5L30 5.4375Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: transparent;
}
.product .tab_content .tab_panel .btn_wrap .next { /*prev에서 바뀌는 것만*/
    left: auto;
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 39.5625L13.4062 37.9688L28.875 22.5L13.4062 7.03125L15 5.4375L32.0625 22.5L15 39.5625Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
.product .tab_content .tab_panel .btn_wrap .more {
    position: absolute; /*tab_panel (inner,wrapper)를 기준으로 정렬인가*/
    right: 0;
    top: -47px;
}
.product .tab_content .tab_panel .btn_wrap .more a {
    position: relative; /*after의 정렬의 기준*/
    padding: 0.4706em 1.9412em 0.4706em 0.8824em; 
    border: 1px solid #1d1d1d;
}
.product .tab_content .tab_panel .btn_wrap .more a::after { /*더보기 + 아이콘*/
    content: "";
    position: absolute; /*a를 기준으로 정렬*/
    right: 0.5882em;
    top: 50%;
    transform: translateY(-50%);
    width: 1.2941em;
    height: 1.2941em;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3123 11.6875H5.0415V10.3125H10.3123V5.04169H11.6873V10.3125H16.9582V11.6875H11.6873V16.9584H10.3123V11.6875Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

@media screen and (max-width:1440px){ /*16px*/
    .product .inner {
        padding: 0 50px;
    }
    .product .tab_content .tab_panel .swiper ul li a .photo {
        height: 80%;/*296px*/
    }
    .product .tab_content .tab_panel .btn_wrap .prev, .product .tab_content .tab_panel .btn_wrap .next {
        bottom: 35%;
        transform: translateY(-35%);
    }
} /* @media */

@media screen and (max-width:1024px){ /*15px*/
    .product {
        padding: 80px 20px 100px 20px;
    }
    .product h2 {
        font-size: 2rem;/*30px 기준:15px*/
        margin-bottom: 1em;  /*30px 기준:30px*/
    }
    .product h2::before { /*선*/
        bottom: -30px;
    }
    .product .tab_list ul li button {
        padding: 0.4em 1.0667em; /*6px 16px*/
    }
    .product .tab_content {
        padding: 2em 0 0 0;
    }
    .product .tab_content .tab_panel .swiper ul li a .photo {
        height: 70%; /*186px*/
    }
    .product .tab_content .tab_panel .swiper ul li a strong {
        font-size: 0.8667rem; /*13px*/
        padding: 0.4615em 1.1538em; /*6px 15px*/
        margin: 1.5385em 0 1.0769em 0; /*15px 8px*/
    }
    .product .tab_content .tab_panel .btn_wrap .more {
        top: -42px;
    }
    .product .tab_content .tab_panel .btn_wrap .prev, .product .tab_content .tab_panel .btn_wrap .next {
        bottom: 40%;
        transform: translateY(-40%);
        width: 2em;
        height: 2em;
    }
} /* @media */
/* mobile 버전 css */
@media screen and (max-width:768px){ /*14px*/
    main.container {
        padding: 50px 0 0 0;
    }
    .product .inner {
        padding: 0;
    }
    .product h2::before { /*선*/
        bottom: -20px;
    }
    .product .tab_list ul {
        display: flex;
        margin: 0.7143em 0 0.7143em 0;
    }
    .product .tab_content {
        padding: 1em 0 0 0;
    }
    .product .tab_content .tab_panel .btn_wrap {
        display: flex;
        justify-content: center;
        gap: 0.5em;
        margin: 1em 0 0 0;
    }
    .product .tab_content .tab_panel .btn_wrap .prev, .product .tab_content .tab_panel .btn_wrap .next {
        position: relative;/*해제*/
        bottom: 0;
        transform: translateY(0);
    }
    .product .tab_content .tab_panel .btn_wrap .more {
        top: -40px;
    }
    .product .tab_content .tab_panel .btn_wrap .more a {
        padding: 18px 18px; /*0.4706em 0.8824em*/
        font-size: 0;
        line-height: 0;
        border: 0;
    }
    .product .tab_content .tab_panel .btn_wrap .more a::after { /*더보기 + 아이콘*/
        right: 10px; /*0.5882em*/
        top: 50%;
        transform: translateY(-50%);
        width: 21px; /*1.2941em*/
        height: 21px;
    }
} /* @media */
@media screen and (max-width:380px){ /*13px*/
    .product {
        padding: 50px 20px 70px 20px;
    }
    .product .tab_list {
        width: calc(100% - 40px);
        margin: 0 40px 0 0;
    }
    .product .tab_list ul {
        margin: 0.7692em 0 0.7692em 0;
        max-width: 300px;
        width: 100%;
    }
    .product .tab_list ul li button {
        padding: 0.4em 1em; /*6px 13px*/
    }
    .product .tab_content {
        padding: 0.9231em 0 0 0;
    }
    .product .tab_content .tab_panel .btn_wrap .more {
        top: -37px;
    }
} /* @media */
/***------product 끝-------*****/




/***------project 시작-------*****/
.project {
    padding: 150px 60px 200px 60px;
    background-color: #1d1d1d;
}
.project .wrapper {
}
.project .inner {
    position: relative; /*more의 정렬의 기준*/
    padding: 0 110px;
}
.project h2 {
    font-size: 2.6471rem; /*45px 기준:17px*/
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 1.1556em; /*52px 기준:45px*/
}
.project .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: minmax(22.1765em, auto);
    grid-auto-rows: minmax(20.1765em, auto);
    grid-auto-flow: dense;
    grid-gap: 24px;
}
.project .list .project01 {
    border: 1px solid #ff3355;
    background-color: #ff3355;
    border-radius: 30px;
}
.project .list .project02 {
	/* 1번 라인에서 2칸 */
	grid-column: 2 / span 1;
	/* 1번 라인에서 3칸 */
	grid-row: 1 / span 2;
    border: 1px solid #0051FF;
    background-color: #0051FF;
    border-radius: 30px;
}
.project .list .project03 {
    border: 1px solid #00FF2F;
    background-color: #00FF2F;
    border-radius: 30px;
}
.project .list .project04 {
    border: 1px solid #FF2CD1;
    background-color: #FF2CD1;
    border-radius: 30px;
}
.project .list .project05 {
    border: 1px solid #00F6FF;
    background-color: #00F6FF;
    border-radius: 30px;
}
.project .list .project06 {
	grid-column: 3 / span 2; /* 1번 라인에서 2칸 */
	grid-row: 2 / span 1; /* 1번 라인에서 3칸 */
    border: 1px solid #FF8800;
    background-color: #FF8800;
    border-radius: 30px;
}


/***------project 끝-------*****/
