/*
 * main.css
 * 메인페이지에만 적용되는 스타일 입력,
 * 다른 css import 
 */
@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css); 

.visual h2 {
    display: none;/* 숨김 */
}
.visual .swiper {
    width: 100%;
    height: 100%; /* visual의 높이와 동일하게 */
    
}
.visual .swiper ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--section-min-height);
}
.visual .swiper ul li .photo {
    overflow: hidden;
    position: absolute; /* li를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.visual .swiper ul li.video .photo::before {
    content: "";
    position: absolute; /* photo 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
.visual .swiper ul li .photo img, 
.visual .swiper ul li .photo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper ul li .visual_txt {
    text-align: center;
    color: #fff;
}
.visual .swiper ul li .visual_txt h3 {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1.2;
}
.visual .swiper ul li .visual_txt p {
    font-size: 2.05rem;
    margin: 1.2em 0 0 0;
}
.visual .swiper .paging {
    position: absolute; /* swiper */
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 4.7em;
    display: flex;
    backdrop-filter: blur(10px);
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.visual .swiper .paging .swiper-pagination-bullet {
    margin: 0;
    width: 25%;
    height: 100%;
    display: block;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1.18rem;
}
.visual .swiper .paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--sub-color);
}
@media screen and (max-width:1300px){
    .visual .swiper ul li .visual_txt h3 {
        font-size: 3rem;
    }
    .visual .swiper ul li .visual_txt p {
        font-size: 1.5rem;
    }
}
@media screen and (max-width:1024px){
    .visual .swiper ul li {
        height: 44em;
    }
    .visual .swiper ul li .visual_txt h3 {
        font-size: 2.8rem;
    }
}
@media screen and (max-width:768px){
    .visual .swiper ul li {
        height: 30em;
    }
    .visual .swiper ul li .visual_txt h3 {
        font-size: 2.2rem;
        margin: 0 2em;
    }
    .visual .swiper ul li .visual_txt h3 br {
        display: none;
    }
    .visual .swiper ul li .visual_txt p {
        font-size: 1.4rem;
        margin: 1em 0 0 0;
    }

    .visual .swiper .paging {
        left: 50%;
        transform: translateX(-50%);
        bottom: 1.2em;
        width: auto;
        height: auto;
        gap: 0.3em;
        backdrop-filter: none;
        border-top: 0;
    }
    .visual .swiper .paging .swiper-pagination-bullet {
        width: 1.1em;
        height: 1.1em;
        border-radius: 50%;
        border: 1px solid #fff;
    }
    .visual .swiper .paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #fff;
    }
    .visual .swiper .paging .swiper-pagination-bullet button {
        display: none;
    }
}

.tree {
    font-size: 100px;
    text-align: center;
}
.introduce, footer {
    background-color: var(--main-color);
    color: #fff;
    font-size: 100px;
    text-align: center;
}
.story {
    background-color: var(--sub-color);
    color: #fff;
    font-size: 100px;
    text-align: center;
}

.quick_link {
    position: fixed;
    right: 20px;
    top: 50%;
    z-index: 90;
    transform: translateY(-50%);
}
.quick_link ul {
    width: 4.75em;
    background-color: #fff;
    color: var(--main-color);
    text-align: center;
    border: 3px solid var(--main-color);
    border-radius: 2.4em;
    padding: 2em 0;
}
.quick_link ul li + li {
    position: relative; /* before 정렬의 기준 */
}
.quick_link ul li + li:before {
    content: "";
    position: absolute;
    left: 0.5em;
    width: calc(100% - 1em);
    height: 1px;
    background-color: var(--main-color);
}
.quick_link ul li a {
    display: block;
    padding: 2em 0 0.3em 0;
    position: relative; /* before 정렬의 기준 */
}
.quick_link ul li a::before {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0.4em;
    width: 100%;
    height: 1.7em;
    background-position: center center;
    background-repeat: no-repeat;
}
.quick_link ul li a span {
    font-size: 0.88rem;
}
.quick_link ul li.link1 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='24' viewBox='0 0 19 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.59375 21.2362V15.9613H5.875C4.36619 15.9613 3.08274 15.4322 2.02465 14.3741C0.966548 13.3162 0.4375 12.0328 0.4375 10.5238C0.4375 9.38511 0.777545 8.35571 1.45764 7.43557C2.13773 6.51542 3.01065 5.8315 4.0764 5.38381C4.24999 3.83473 4.84177 2.59236 5.85174 1.65671C6.86191 0.720856 8.07799 0.25293 9.5 0.25293C10.922 0.25293 12.1381 0.720856 13.1483 1.65671C14.1582 2.59236 14.75 3.83473 14.9236 5.38381C15.997 5.816 16.8718 6.49609 17.5481 7.42409C18.2244 8.35189 18.5625 9.38511 18.5625 10.5238C18.5625 12.0328 18.0335 13.3162 16.9754 14.3741C15.9173 15.4322 14.6338 15.9613 13.125 15.9613H10.4062V21.2362H16.4479C16.7047 21.2362 16.9199 21.3231 17.0935 21.4969C17.2673 21.6707 17.3542 21.886 17.3542 22.1428C17.3542 22.3998 17.2673 22.615 17.0935 22.7883C16.9199 22.9619 16.7047 23.0487 16.4479 23.0487H2.55208C2.29531 23.0487 2.08013 22.9618 1.90653 22.788C1.73273 22.6142 1.64583 22.3989 1.64583 22.1419C1.64583 21.8851 1.73273 21.6699 1.90653 21.4963C2.08013 21.3229 2.29531 21.2362 2.55208 21.2362H8.59375ZM5.875 14.1488H13.125C14.1319 14.1488 14.9878 13.7963 15.6927 13.0915C16.3976 12.3866 16.75 11.5307 16.75 10.5238C16.75 9.74459 16.5106 9.04708 16.0319 8.43123C15.5532 7.81559 14.9468 7.35904 14.2125 7.06159L13.2458 6.6571L13.1111 5.5696C12.9824 4.48532 12.5866 3.63022 11.9236 3.00431C11.2606 2.37839 10.4528 2.06543 9.5 2.06543C8.54723 2.06543 7.73936 2.37839 7.07638 3.00431C6.41341 3.63022 6.01758 4.48532 5.8889 5.5696L5.75417 6.6571L4.69446 7.10811C3.99121 7.40556 3.40799 7.85828 2.94479 8.46627C2.4816 9.07427 2.25 9.7601 2.25 10.5238C2.25 11.5307 2.60243 12.3866 3.30729 13.0915C4.01215 13.7963 4.86806 14.1488 5.875 14.1488Z' fill='%23003483'/%3E%3C/svg%3E%0A");
}
.quick_link ul li.link2 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.9999 15.4619C7.0944 15.4619 6.2414 15.3129 5.4409 15.0149C4.64057 14.7167 3.91474 14.301 3.2634 13.7677L1.5269 15.4792C1.39057 15.6177 1.21707 15.6869 1.0064 15.6869C0.795736 15.6869 0.621152 15.6177 0.482652 15.4792C0.344152 15.3408 0.274902 15.1662 0.274902 14.9554C0.274902 14.7447 0.344152 14.5713 0.482652 14.4352L2.19415 12.7234C1.66082 12.0722 1.24515 11.3423 0.947152 10.5337C0.648986 9.72483 0.499902 8.86758 0.499902 7.96191C0.499902 5.86825 1.22649 4.09483 2.67965 2.64166C4.13282 1.1885 5.90624 0.461914 7.9999 0.461914H13.9807C14.4025 0.461914 14.7612 0.609664 15.0567 0.905164C15.3522 1.20066 15.4999 1.55933 15.4999 1.98116V7.96191C15.4999 10.0557 14.7733 11.8292 13.3202 13.2822C11.867 14.7353 10.0936 15.4619 7.9999 15.4619ZM7.9999 13.9619C9.66657 13.9619 11.0832 13.3786 12.2499 12.2119C13.4166 11.0452 13.9999 9.62858 13.9999 7.96191V1.96191H7.9999C6.33324 1.96191 4.91657 2.54525 3.7499 3.71191C2.58324 4.87858 1.9999 6.29525 1.9999 7.96191C1.9999 8.65675 2.11274 9.31766 2.3384 9.94466C2.56407 10.5717 2.87749 11.1364 3.27865 11.6389L8.48265 6.43516C8.61899 6.29666 8.79249 6.22741 9.00315 6.22741C9.21382 6.22741 9.38932 6.29758 9.52965 6.43791C9.68282 6.59108 9.7594 6.76833 9.7594 6.96966C9.7594 7.171 9.6819 7.34916 9.5269 7.50416L4.3229 12.6984C4.82557 13.0997 5.39032 13.4107 6.01715 13.6312C6.64415 13.8517 7.30507 13.9619 7.9999 13.9619Z' fill='%23003483'/%3E%3C/svg%3E%0A");
}
.quick_link ul li.link3 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.9905 16.7099C9.77633 16.7099 9.56125 16.6715 9.34525 16.5946C9.12925 16.5176 8.93917 16.3971 8.775 16.2331L7.3385 14.9274C5.5655 13.3107 3.9825 11.7226 2.5895 10.1629C1.1965 8.60322 0.5 6.93239 0.5 5.15039C0.5 3.73122 0.9785 2.54306 1.9355 1.58589C2.89267 0.62889 4.08083 0.150391 5.5 0.150391C6.30633 0.150391 7.10283 0.336307 7.8895 0.708141C8.676 1.07997 9.3795 1.68381 10 2.51964C10.6205 1.68381 11.324 1.07997 12.1105 0.708141C12.8972 0.336307 13.6937 0.150391 14.5 0.150391C15.9192 0.150391 17.1073 0.62889 18.0645 1.58589C19.0215 2.54306 19.5 3.73122 19.5 5.15039C19.5 6.95172 18.7917 8.64114 17.375 10.2186C15.9583 11.7961 14.3788 13.3708 12.6365 14.9426L11.2152 16.2331C11.0512 16.3971 10.8597 16.5176 10.6405 16.5946C10.4212 16.6715 10.2045 16.7099 9.9905 16.7099ZM9.28075 4.03889C8.73975 3.21456 8.17017 2.61039 7.572 2.22639C6.974 1.84239 6.28333 1.65039 5.5 1.65039C4.5 1.65039 3.66667 1.98372 3 2.65039C2.33333 3.31706 2 4.15039 2 5.15039C2 5.95289 2.25867 6.79197 2.776 7.66764C3.29333 8.54331 3.94267 9.41381 4.724 10.2791C5.50533 11.1446 6.35183 11.9901 7.2635 12.8156C8.175 13.6413 9.01983 14.4086 9.798 15.1176C9.85567 15.169 9.923 15.1946 10 15.1946C10.077 15.1946 10.1443 15.169 10.202 15.1176C10.9802 14.4086 11.825 13.6413 12.7365 12.8156C13.6482 11.9901 14.4947 11.1446 15.276 10.2791C16.0573 9.41381 16.7067 8.54331 17.224 7.66764C17.7413 6.79197 18 5.95289 18 5.15039C18 4.15039 17.6667 3.31706 17 2.65039C16.3333 1.98372 15.5 1.65039 14.5 1.65039C13.7167 1.65039 13.026 1.84239 12.428 2.22639C11.8298 2.61039 11.2602 3.21456 10.7192 4.03889C10.6346 4.16706 10.5282 4.26322 10.4 4.32739C10.2718 4.39139 10.1385 4.42339 10 4.42339C9.8615 4.42339 9.72817 4.39139 9.6 4.32739C9.47183 4.26322 9.36542 4.16706 9.28075 4.03889Z' fill='%23003483'/%3E%3C/svg%3E%0A");
}
.quick_link .top {
    margin: 0.3em 0 0 0.3em;
    width: 4.15em;
    height: 4.15em;
    border-radius: 50%;
    background-color: var(--main-color);
    color: #fff;
}
.quick_link .top span {
    font-size: 0.88rem;
    font-weight: 700;
}
/* 다른색으로 교체 */
.quick_link.color2 ul {
    border-color: var(--sub-color);
    color: var(--sub-color);
}
.quick_link.color2 ul li + li:before {
    background-color: var(--sub-color);
}
.quick_link.color2 ul li.link1 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='24' viewBox='0 0 19 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.59375 21.2362V15.9613H5.875C4.36619 15.9613 3.08274 15.4322 2.02465 14.3741C0.966548 13.3162 0.4375 12.0328 0.4375 10.5238C0.4375 9.38511 0.777545 8.35571 1.45764 7.43557C2.13773 6.51542 3.01065 5.8315 4.0764 5.38381C4.24999 3.83473 4.84177 2.59236 5.85174 1.65671C6.86191 0.720856 8.07799 0.25293 9.5 0.25293C10.922 0.25293 12.1381 0.720856 13.1483 1.65671C14.1582 2.59236 14.75 3.83473 14.9236 5.38381C15.997 5.816 16.8718 6.49609 17.5481 7.42409C18.2244 8.35189 18.5625 9.38511 18.5625 10.5238C18.5625 12.0328 18.0335 13.3162 16.9754 14.3741C15.9173 15.4322 14.6338 15.9613 13.125 15.9613H10.4062V21.2362H16.4479C16.7047 21.2362 16.9199 21.3231 17.0935 21.4969C17.2673 21.6707 17.3542 21.886 17.3542 22.1428C17.3542 22.3998 17.2673 22.615 17.0935 22.7883C16.9199 22.9619 16.7047 23.0487 16.4479 23.0487H2.55208C2.29531 23.0487 2.08013 22.9618 1.90653 22.788C1.73273 22.6142 1.64583 22.3989 1.64583 22.1419C1.64583 21.8851 1.73273 21.6699 1.90653 21.4963C2.08013 21.3229 2.29531 21.2362 2.55208 21.2362H8.59375ZM5.875 14.1488H13.125C14.1319 14.1488 14.9878 13.7963 15.6927 13.0915C16.3976 12.3866 16.75 11.5307 16.75 10.5238C16.75 9.74459 16.5106 9.04708 16.0319 8.43123C15.5532 7.81559 14.9468 7.35904 14.2125 7.06159L13.2458 6.6571L13.1111 5.5696C12.9824 4.48532 12.5866 3.63022 11.9236 3.00431C11.2606 2.37839 10.4528 2.06543 9.5 2.06543C8.54723 2.06543 7.73936 2.37839 7.07638 3.00431C6.41341 3.63022 6.01758 4.48532 5.8889 5.5696L5.75417 6.6571L4.69446 7.10811C3.99121 7.40556 3.40799 7.85828 2.94479 8.46627C2.4816 9.07427 2.25 9.7601 2.25 10.5238C2.25 11.5307 2.60243 12.3866 3.30729 13.0915C4.01215 13.7963 4.86806 14.1488 5.875 14.1488Z' fill='%2300A287'/%3E%3C/svg%3E%0A");
}
.quick_link.color2 ul li.link2 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.9999 15.4619C7.0944 15.4619 6.2414 15.3129 5.4409 15.0149C4.64057 14.7167 3.91474 14.301 3.2634 13.7677L1.5269 15.4792C1.39057 15.6177 1.21707 15.6869 1.0064 15.6869C0.795736 15.6869 0.621152 15.6177 0.482652 15.4792C0.344152 15.3408 0.274902 15.1662 0.274902 14.9554C0.274902 14.7447 0.344152 14.5713 0.482652 14.4352L2.19415 12.7234C1.66082 12.0722 1.24515 11.3423 0.947152 10.5337C0.648986 9.72483 0.499902 8.86758 0.499902 7.96191C0.499902 5.86825 1.22649 4.09483 2.67965 2.64166C4.13282 1.1885 5.90624 0.461914 7.9999 0.461914H13.9807C14.4025 0.461914 14.7612 0.609664 15.0567 0.905164C15.3522 1.20066 15.4999 1.55933 15.4999 1.98116V7.96191C15.4999 10.0557 14.7733 11.8292 13.3202 13.2822C11.867 14.7353 10.0936 15.4619 7.9999 15.4619ZM7.9999 13.9619C9.66657 13.9619 11.0832 13.3786 12.2499 12.2119C13.4166 11.0452 13.9999 9.62858 13.9999 7.96191V1.96191H7.9999C6.33324 1.96191 4.91657 2.54525 3.7499 3.71191C2.58324 4.87858 1.9999 6.29525 1.9999 7.96191C1.9999 8.65675 2.11274 9.31766 2.3384 9.94466C2.56407 10.5717 2.87749 11.1364 3.27865 11.6389L8.48265 6.43516C8.61899 6.29666 8.79249 6.22741 9.00315 6.22741C9.21382 6.22741 9.38932 6.29758 9.52965 6.43791C9.68282 6.59108 9.7594 6.76833 9.7594 6.96966C9.7594 7.171 9.6819 7.34916 9.5269 7.50416L4.3229 12.6984C4.82557 13.0997 5.39032 13.4107 6.01715 13.6312C6.64415 13.8517 7.30507 13.9619 7.9999 13.9619Z' fill='%2300A287'/%3E%3C/svg%3E%0A");
}
.quick_link.color2 ul li.link3 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.9905 16.7099C9.77633 16.7099 9.56125 16.6715 9.34525 16.5946C9.12925 16.5176 8.93917 16.3971 8.775 16.2331L7.3385 14.9274C5.5655 13.3107 3.9825 11.7226 2.5895 10.1629C1.1965 8.60322 0.5 6.93239 0.5 5.15039C0.5 3.73122 0.9785 2.54306 1.9355 1.58589C2.89267 0.62889 4.08083 0.150391 5.5 0.150391C6.30633 0.150391 7.10283 0.336307 7.8895 0.708141C8.676 1.07997 9.3795 1.68381 10 2.51964C10.6205 1.68381 11.324 1.07997 12.1105 0.708141C12.8972 0.336307 13.6937 0.150391 14.5 0.150391C15.9192 0.150391 17.1073 0.62889 18.0645 1.58589C19.0215 2.54306 19.5 3.73122 19.5 5.15039C19.5 6.95172 18.7917 8.64114 17.375 10.2186C15.9583 11.7961 14.3788 13.3708 12.6365 14.9426L11.2152 16.2331C11.0512 16.3971 10.8597 16.5176 10.6405 16.5946C10.4212 16.6715 10.2045 16.7099 9.9905 16.7099ZM9.28075 4.03889C8.73975 3.21456 8.17017 2.61039 7.572 2.22639C6.974 1.84239 6.28333 1.65039 5.5 1.65039C4.5 1.65039 3.66667 1.98372 3 2.65039C2.33333 3.31706 2 4.15039 2 5.15039C2 5.95289 2.25867 6.79197 2.776 7.66764C3.29333 8.54331 3.94267 9.41381 4.724 10.2791C5.50533 11.1446 6.35183 11.9901 7.2635 12.8156C8.175 13.6413 9.01983 14.4086 9.798 15.1176C9.85567 15.169 9.923 15.1946 10 15.1946C10.077 15.1946 10.1443 15.169 10.202 15.1176C10.9802 14.4086 11.825 13.6413 12.7365 12.8156C13.6482 11.9901 14.4947 11.1446 15.276 10.2791C16.0573 9.41381 16.7067 8.54331 17.224 7.66764C17.7413 6.79197 18 5.95289 18 5.15039C18 4.15039 17.6667 3.31706 17 2.65039C16.3333 1.98372 15.5 1.65039 14.5 1.65039C13.7167 1.65039 13.026 1.84239 12.428 2.22639C11.8298 2.61039 11.2602 3.21456 10.7192 4.03889C10.6346 4.16706 10.5282 4.26322 10.4 4.32739C10.2718 4.39139 10.1385 4.42339 10 4.42339C9.8615 4.42339 9.72817 4.39139 9.6 4.32739C9.47183 4.26322 9.36542 4.16706 9.28075 4.03889Z' fill='%2300A287'/%3E%3C/svg%3E%0A");
}
.quick_link.color2 .top {
    background-color: var(--sub-color);
}
@media screen and (max-width:1024px){
    .quick_link {
        display: none;
    }
}/*media*/

.quick_nav {
    position: fixed;
    left: 20px;
    top: 50%;
    z-index: 90;
    transform: translateY(-50%);
}
.quick_nav ul li {
    margin-bottom: 0.7em;
}
.quick_nav ul li a {
    display: block;
    padding-left: 1em;
    color: rgba(255, 255, 255, 0.8);
    position: relative; /* before 정렬의 기준 */
}
.quick_nav ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.5em;
    width: 0.4em;
    height: 0.4em;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}
.quick_nav ul li a span {
    padding: 0.1em 0.2em;
}
/* 해당 색션이 선택되었을때 */
.quick_nav ul li.active a::before {
    background-color: var(--sub-color);
    border-color: var(--sub-color);
}
.quick_nav ul li.active a::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: var(--sub-color);
}
.quick_nav ul li.active a span {
    color: #fff;
    font-weight: 700;
    background-color: var(--sub-color);
}
/* dark 클래스 추가 */
.quick_nav.dark ul li a {
    color: #666;
}
.quick_nav.dark ul li a::before {
    border-color: rgba(102, 102, 102, 0.8);
}
.quick_nav.dark ul li.active a::before {
    border-color: var(--sub-color);
}
@media screen and (max-width:1024px){
    .quick_nav {
        display: none;
    }
}/*media*/