@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);

header {
    position: absolute; /* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center; /* 위아래 가운데 */
    padding: 0 20px;
}
header .logo a {
    display: block;
    width: 182px;
    height: 41px;
    font-size: 0; /* 글자 없애기 */
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .logo a::before {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
/* 메뉴 오버 & 고정 */
header.fixed {
    position: fixed;
    background-color: #fff;
    color: #555;
    border-bottom: 1px solid #ccc;
}
header.fixed .logo a::before {
    background-image: url(../images/logo.svg);
}
@media screen and (min-width:641px){  /* 641px 이상일때만 적용 */
            header .gnb .gnb_open, header .gnb .gnb_close {
                display: none; /* 모바일에서만 나옴 */
            }
            header .gnb .gnb_wrap ul.depth1 {
                display: flex;
            }
            header .gnb .gnb_wrap ul.depth1 > li > a {
                display: block;
                line-height: 100px; /* header 높이 만큼 */
                font-size: 22px;
                padding: 0 24px;
            }
            /*
                <li>               ------ 하위에 depth2가 존재하는 li -  li:has(ul.depth2) 
                    <a></a>
                    <ul class="depth2">
                </li>
                <li>
                    <a></a>
                </li>

                :has는 브라우저 상위버전에서만 작동됨.. (호환성이 낮음)
            */
            header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a span {
                display: block;
                padding-right: 25px;
                position: relative; /* after 정렬의 기준 */
            }
            header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a span::after {
                content: "";
                position: absolute; /* span를 기준으로 정렬 */
                right: 0;
                top: 37px;
                width: 24px;
                height: 24px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9998 13.2925L16.246 9.04647C16.3395 8.9528 16.4543 8.9028 16.5903 8.89647C16.7261 8.88997 16.8472 8.93997 16.9535 9.04647C17.06 9.1528 17.1133 9.27072 17.1133 9.40022C17.1133 9.52972 17.06 9.64764 16.9535 9.75397L12.5653 14.1425C12.4779 14.2296 12.3888 14.2909 12.2978 14.3262C12.2068 14.3614 12.1074 14.379 11.9998 14.379C11.8921 14.379 11.7928 14.3614 11.7018 14.3262C11.6108 14.2909 11.5216 14.2296 11.4343 14.1425L7.04603 9.75397C6.95236 9.66047 6.90236 9.54572 6.89603 9.40972C6.88953 9.27389 6.93953 9.1528 7.04603 9.04647C7.15236 8.93997 7.27028 8.88672 7.39978 8.88672C7.52928 8.88672 7.6472 8.93997 7.75353 9.04647L11.9998 13.2925Z' fill='white' stroke='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            header .gnb .gnb_wrap ul.depth2 { /* 2차 메뉴 */
                display: none;
            }
            header .tnb {
                display: flex;
                gap: 10px;
            }
            header .tnb .paper {
                display: block;
                height: 31px; /* 옆에 있는 검색하고 높이를 동일하게 주기 위해서 */
                line-height: 31px;
                padding: 0 44px 0 16px;
                border: 1px solid #fff;
                border-radius: 25px;
                font-size: 15px;
                position: relative; /* after 정렬의기준 */
            }
            header .tnb .paper::after {
                content: "";
                position: absolute;
                right: 22px;
                top: 11px;
                width: 9px;
                height: 9px;
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.7865 1.6885L0.8095 8.6655C0.716 8.759 0.6045 8.80258 0.475 8.79625C0.3455 8.78975 0.233917 8.73975 0.14025 8.64625C0.04675 8.55258 0 8.43675 0 8.29875C0 8.16075 0.04675 8.04708 0.14025 7.95775L7.098 1H2.2865C2.14483 1 2.02608 0.952 1.93025 0.856C1.83442 0.76 1.7865 0.641083 1.7865 0.499249C1.7865 0.357416 1.83442 0.23875 1.93025 0.14325C2.02608 0.0477505 2.14483 0 2.2865 0H7.97875C8.20758 0 8.39942 0.0774169 8.55425 0.23225C8.70908 0.387084 8.7865 0.578916 8.7865 0.80775V6.5C8.7865 6.64167 8.7385 6.76042 8.6425 6.85625C8.5465 6.95208 8.42758 7 8.28575 7C8.14392 7 8.02525 6.95208 7.92975 6.85625C7.83425 6.76042 7.7865 6.64167 7.7865 6.5V1.6885Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            header .tnb .search .search_open {
                display: block;
                height: 31px; /* 옆에 있는 검색하고 높이를 동일하게 주기 위해서 */
                line-height: 31px;
                padding: 0 44px 0 16px;
                border: 1px solid #fff;
                border-radius: 25px;
                font-size: 15px;
                position: relative; /* after 정렬의기준 */
            }
            header .tnb .search .search_open::after {
                content: "";
                position: absolute;
                right: 18px;
                top: 5px;
                width: 20px;
                height: 20px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0515 12.6924C13.3837 12.6924 14.5128 12.2295 15.4386 11.3038C16.3643 10.378 16.8271 9.24896 16.8271 7.91674C16.8271 6.58452 16.3643 5.45549 15.4386 4.52965C14.5128 3.60396 13.3837 3.14111 12.0515 3.14111C10.7193 3.14111 9.59027 3.60396 8.66444 4.52965C7.73875 5.45549 7.2759 6.58452 7.2759 7.91674C7.2759 8.49577 7.37847 9.05611 7.58361 9.59778C7.78874 10.1394 8.05798 10.6026 8.39132 10.9872L3.46819 15.9103C3.39027 15.9883 3.34861 16.084 3.34319 16.1972C3.33791 16.3105 3.37958 16.4115 3.46819 16.5001C3.55694 16.5887 3.65527 16.633 3.76319 16.633C3.87097 16.633 3.96923 16.5887 4.05798 16.5001L8.98111 11.5769C9.39777 11.9317 9.87694 12.2063 10.4186 12.4007C10.9603 12.5951 11.5046 12.6924 12.0515 12.6924ZM12.0515 11.859C10.9458 11.859 10.0124 11.4784 9.25111 10.7172C8.48986 9.95604 8.10923 9.02257 8.10923 7.91674C8.10923 6.8109 8.48986 5.87743 9.25111 5.11632C10.0124 4.35507 10.9458 3.97445 12.0515 3.97445C13.1574 3.97445 14.0908 4.35507 14.8519 5.11632C15.6132 5.87743 15.9938 6.8109 15.9938 7.91674C15.9938 9.02257 15.6132 9.95604 14.8519 10.7172C14.0908 11.4784 13.1574 11.859 12.0515 11.859Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            header .tnb .search .search_wrap {
                display: none;
            }

            /* 메뉴 오버 & 고정 */
            header.fixed .gnb .gnb_wrap ul.depth1 > li > a {
                color: #1d1d1d;
            }
            header.fixed .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a span::after {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9998 13.2925L16.246 9.04647C16.3395 8.9528 16.4543 8.9028 16.5903 8.89647C16.7261 8.88997 16.8472 8.93997 16.9535 9.04647C17.06 9.1528 17.1133 9.27072 17.1133 9.40022C17.1133 9.52972 17.06 9.64764 16.9535 9.75397L12.5653 14.1425C12.4779 14.2296 12.3888 14.2909 12.2978 14.3262C12.2068 14.3614 12.1074 14.379 11.9998 14.379C11.8921 14.379 11.7928 14.3614 11.7018 14.3262C11.6108 14.2909 11.5216 14.2296 11.4343 14.1425L7.04603 9.75397C6.95236 9.66047 6.90236 9.54572 6.89603 9.40972C6.88953 9.27389 6.93953 9.1528 7.04603 9.04647C7.15236 8.93997 7.27028 8.88672 7.39978 8.88672C7.52928 8.88672 7.6472 8.93997 7.75353 9.04647L11.9998 13.2925Z' fill='%23666666' stroke='%23666666'/%3E%3C/svg%3E%0A");
            }
            header.fixed .tnb .paper {
                border-color: #999999;
            }
            header.fixed  .tnb .paper::after {
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.7865 1.6885L0.8095 8.6655C0.716 8.759 0.6045 8.80258 0.475 8.79625C0.3455 8.78975 0.233917 8.73975 0.14025 8.64625C0.04675 8.55258 0 8.43675 0 8.29875C0 8.16075 0.04675 8.04708 0.14025 7.95775L7.098 1H2.2865C2.14483 1 2.02608 0.952 1.93025 0.856C1.83442 0.76 1.7865 0.641083 1.7865 0.499249C1.7865 0.357416 1.83442 0.23875 1.93025 0.14325C2.02608 0.0477505 2.14483 0 2.2865 0H7.97875C8.20758 0 8.39942 0.0774169 8.55425 0.23225C8.70908 0.387084 8.7865 0.578916 8.7865 0.80775V6.5C8.7865 6.64167 8.7385 6.76042 8.6425 6.85625C8.5465 6.95208 8.42758 7 8.28575 7C8.14392 7 8.02525 6.95208 7.92975 6.85625C7.83425 6.76042 7.7865 6.64167 7.7865 6.5V1.6885Z' fill='%23666666'/%3E%3C/svg%3E%0A");
            }
            header.fixed .tnb .search .search_open {
                border-color: #999999;
            }
            header.fixed .tnb .search .search_open::after {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0515 12.6924C13.3837 12.6924 14.5128 12.2295 15.4386 11.3038C16.3643 10.378 16.8271 9.24896 16.8271 7.91674C16.8271 6.58452 16.3643 5.45549 15.4386 4.52965C14.5128 3.60396 13.3837 3.14111 12.0515 3.14111C10.7193 3.14111 9.59027 3.60396 8.66444 4.52965C7.73875 5.45549 7.2759 6.58452 7.2759 7.91674C7.2759 8.49577 7.37847 9.05611 7.58361 9.59778C7.78874 10.1394 8.05798 10.6026 8.39132 10.9872L3.46819 15.9103C3.39027 15.9883 3.34861 16.084 3.34319 16.1972C3.33791 16.3105 3.37958 16.4115 3.46819 16.5001C3.55694 16.5887 3.65527 16.633 3.76319 16.633C3.87097 16.633 3.96923 16.5887 4.05798 16.5001L8.98111 11.5769C9.39777 11.9317 9.87694 12.2063 10.4186 12.4007C10.9603 12.5951 11.5046 12.6924 12.0515 12.6924ZM12.0515 11.859C10.9458 11.859 10.0124 11.4784 9.25111 10.7172C8.48986 9.95604 8.10923 9.02257 8.10923 7.91674C8.10923 6.8109 8.48986 5.87743 9.25111 5.11632C10.0124 4.35507 10.9458 3.97445 12.0515 3.97445C13.1574 3.97445 14.0908 4.35507 14.8519 5.11632C15.6132 5.87743 15.9938 6.8109 15.9938 7.91674C15.9938 9.02257 15.6132 9.95604 14.8519 10.7172C14.0908 11.4784 13.1574 11.859 12.0515 11.859Z' fill='%23666666'/%3E%3C/svg%3E%0A");
            }

}/* media */


.visual {
    position: relative; /* btn_wrap 정렬의 기준 */
}
.visual h2 {
    display: none; /* 숨김 */
}
.visual .swiper ul li {
    height: 800px;
    position: relative; /* photo 정렬의 기준 */
}
.visual .swiper ul li .photo {
    position: absolute; /* li를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1; /* 배경 처럼 아래 배치 */
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper ul li .visual_txt {
    color: #fff;
}
.visual .swiper ul li .visual_txt h3 {
    margin: 487px 0 0 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}
.visual .btn_wrap {
    position: absolute; /* visual을 기준으로 정렬 */
    left: 50%; /* 정렬의 기준 visual 넓이의 절반 */
    transform: translateX(-50%); /* btn_wrap의 절반 */
    bottom: 37px;
    z-index: 10; /*위로*/

    display: flex;
    gap: 5px;
}
.visual .btn_wrap button {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%; /* 동그라미 */

    font-size: 0; /* 글자숨김 */
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
.visual .btn_wrap button::before {
    content: "";
    position: absolute; /* button을 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3628 12.0005L15.4361 16.0735C15.5744 16.212 15.6452 16.3861 15.6486 16.5957C15.6517 16.8052 15.5809 16.9825 15.4361 17.1275C15.2911 17.2723 15.1154 17.3447 14.9091 17.3447C14.7027 17.3447 14.5271 17.2723 14.3821 17.1275L9.88782 12.6332C9.79432 12.5396 9.72832 12.4408 9.68982 12.337C9.65132 12.2331 9.63207 12.121 9.63207 12.0005C9.63207 11.88 9.65132 11.7678 9.68982 11.664C9.72832 11.5601 9.79432 11.4614 9.88782 11.3677L14.3821 6.87347C14.5206 6.73514 14.6947 6.66431 14.9043 6.66098C15.1138 6.65781 15.2911 6.72864 15.4361 6.87348C15.5809 7.01848 15.6533 7.19414 15.6533 7.40048C15.6533 7.60681 15.5809 7.78247 15.4361 7.92747L11.3628 12.0005Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9311 11.9995L9.85788 7.92652C9.71954 7.78802 9.64871 7.61394 9.64538 7.40427C9.64221 7.19477 9.71304 7.01752 9.85788 6.87252C10.0029 6.72769 10.1785 6.65527 10.3849 6.65527C10.5912 6.65527 10.7669 6.72769 10.9119 6.87252L15.4061 11.3668C15.4996 11.4604 15.5656 11.5592 15.6041 11.663C15.6426 11.7669 15.6619 11.879 15.6619 11.9995C15.6619 12.12 15.6426 12.2322 15.6041 12.336C15.5656 12.4399 15.4996 12.5386 15.4061 12.6323L10.9119 17.1265C10.7734 17.2649 10.5993 17.3357 10.3896 17.339C10.1801 17.3422 10.0029 17.2714 9.85788 17.1265C9.71304 16.9815 9.64062 16.8059 9.64062 16.5995C9.64062 16.3932 9.71304 16.2175 9.85788 16.0725L13.9311 11.9995Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.491211' width='2' height='10.3389' rx='1' fill='white'/%3E%3Crect x='8.12793' width='2' height='10.3389' rx='1' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.31738 5.25253C9.65072 5.44498 9.65071 5.92611 9.31738 6.11856L9.56738 6.55157L9.31738 6.11856L1.25488 10.7734C0.921549 10.9659 0.504882 10.7253 0.504882 10.3404L0.504883 1.03066C0.504883 0.64576 0.921551 0.405198 1.25488 0.597647L9.31738 5.25253Z' stroke='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.play {
    display: none; /* 숨김 */
}

@media screen and (max-width:640px){ 
                .visual .swiper ul li {
                    height: 444px;
                }
                .visual .swiper ul li .visual_txt h3 {
                    margin: 248px 0 0 0;
                    font-size: 30px;
                }
                .visual .btn_wrap {
                    bottom: 15px;
                    gap: 3px;
                }
                .visual .btn_wrap button {
                    width: 21px;
                    height: 21px;
                }
                .visual .btn_wrap button.prev::before {
                    background-size: 17px;
                }
                .visual .btn_wrap button.next::before {
                    background-size: 17px;
                }
                .visual .btn_wrap button.stop::before {
                    background-size: 7px;
                }
                .visual .btn_wrap button.play::before {
                    background-size: 11px;
                }
}/* media */


footer {
    margin-bottom: 1000px;
}