@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);

header {
    position: absolute; /* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center; /* 위아래 가운데 */
    padding: 0 20px;
}
header .logo a {
    display: block;
    width: 182px;
    height: 41px;
    font-size: 0; /* 글자 없애기 */
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .logo a::before {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
/* 메뉴 오버 & 고정 */
header.fixed {
    position: fixed; /* body를 기준으로 정렬 */
    background-color: #fff;
    color: #555;
    border-bottom: 1px solid #ccc;
}
header.fixed .logo a::before {
    background-image: url(../images/logo.svg);
}
@media screen and (min-width:641px){  /* 641px 이상일때만 적용 */
            header .gnb .gnb_open, header .gnb .gnb_close {
                display: none; /* 모바일에서만 나옴 */
            }
            header .gnb .gnb_wrap ul.depth1 {
                display: flex;
            }
            header .gnb .gnb_wrap ul.depth1 > li {
                position: relative; /* depth2 정렬의 기준 */
            }

            
            header .gnb .gnb_wrap ul.depth1 > li > a {
                display: block;
                line-height: 100px; /* header 높이 만큼 */
                font-size: 22px;
                padding: 0 24px;
            }
           
            /*
                <li>               ------ 하위에 depth2가 존재하는 li -  li:has(ul.depth2) 
                    <a></a>
                    <ul class="depth2">
                </li>
                <li>
                    <a></a>
                </li>

                :has는 브라우저 상위버전에서만 작동됨.. (호환성이 낮음)
            */
            header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a span {
                display: block;
                padding-right: 25px;
                position: relative; /* after 정렬의 기준 */
            }
            header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a span::after {
                content: "";
                position: absolute; /* span를 기준으로 정렬 */
                right: 0;
                top: 37px;
                width: 24px;
                height: 24px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9998 13.2925L16.246 9.04647C16.3395 8.9528 16.4543 8.9028 16.5903 8.89647C16.7261 8.88997 16.8472 8.93997 16.9535 9.04647C17.06 9.1528 17.1133 9.27072 17.1133 9.40022C17.1133 9.52972 17.06 9.64764 16.9535 9.75397L12.5653 14.1425C12.4779 14.2296 12.3888 14.2909 12.2978 14.3262C12.2068 14.3614 12.1074 14.379 11.9998 14.379C11.8921 14.379 11.7928 14.3614 11.7018 14.3262C11.6108 14.2909 11.5216 14.2296 11.4343 14.1425L7.04603 9.75397C6.95236 9.66047 6.90236 9.54572 6.89603 9.40972C6.88953 9.27389 6.93953 9.1528 7.04603 9.04647C7.15236 8.93997 7.27028 8.88672 7.39978 8.88672C7.52928 8.88672 7.6472 8.93997 7.75353 9.04647L11.9998 13.2925Z' fill='white' stroke='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            header .gnb .gnb_wrap ul.depth2 { /* 2차 메뉴 */
                display: none;
                position: absolute; /* 1차메뉴 li를 기준으로 정렬 */
                left: 50%;
                transform: translateX(-50%); /* 좌우에 가운데 */
                top: 84px;
                background-color: #E64D3D;
                color: #fff;
                border-radius: 20px;
                padding: 27px 42px;
            }
            header .gnb .gnb_wrap ul.depth2 > li > a {
                display: block;
                line-height: 40px;
                white-space: nowrap; /* 줄바꿈 금지 */
                text-align: center;
            }
            header .gnb .gnb_wrap ul.depth2 > li > a:hover {
                font-weight: 700;
            }
            header .gnb .gnb_wrap ul.depth2 > li > a span {
                position: relative;
            }
            header .gnb .gnb_wrap ul.depth2 > li > a:hover span::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 100%;
                height: 1px;
                background-color: #fff;
            }
            /* 메뉴에 오버했을때 */
            header .gnb .gnb_wrap ul.depth1 > li.over > a,
            header.fixed .gnb .gnb_wrap ul.depth1 > li.over > a {
                color: #E64D3D;
                font-weight: 700;
            }
            header .gnb .gnb_wrap ul.depth1 > li.over:has(ul.depth2) > a span::after,
            header.fixed .gnb .gnb_wrap ul.depth1 > li.over:has(ul.depth2) > a span::after { 
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0002 10.7075L7.75397 14.9535C7.66047 15.0472 7.54572 15.0972 7.40972 15.1035C7.27389 15.11 7.1528 15.06 7.04647 14.9535C6.93997 14.8472 6.88672 14.7293 6.88672 14.5998C6.88672 14.4703 6.93997 14.3524 7.04647 14.246L11.4347 9.85753C11.5221 9.77036 11.6112 9.70912 11.7022 9.67378C11.7932 9.63861 11.8926 9.62103 12.0002 9.62103C12.1079 9.62103 12.2072 9.63861 12.2982 9.67378C12.3892 9.70912 12.4784 9.77036 12.5657 9.85753L16.954 14.246C17.0476 14.3395 17.0976 14.4543 17.104 14.5903C17.1105 14.7261 17.0605 14.8472 16.954 14.9535C16.8476 15.06 16.7297 15.1133 16.6002 15.1133C16.4707 15.1133 16.3528 15.06 16.2465 14.9535L12.0002 10.7075Z' fill='%23E64D3D' stroke='%23E64D3D'/%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap ul.depth1 > li.over ul.depth2 {
                display: block; /* 나타남 */
            }
            header.menu_pc::after {
                content: "";
                position: absolute; /* header를 기준으로 정렬 */
                left: 0;
                top: 100px; /* header의 높이만큼 */
                z-index: -1;
                width: 100%;
                height: 100dvh; /* 브라우저 높이만큼 */
                background-color: rgba(0,0,0,0.5);
            }
            header .tnb {
                display: flex;
                gap: 10px;
            }
            header .tnb .paper {
                display: block;
                height: 31px; /* 옆에 있는 검색하고 높이를 동일하게 주기 위해서 */
                line-height: 31px;
                padding: 0 44px 0 16px;
                border: 1px solid #fff;
                border-radius: 25px;
                font-size: 15px;
                position: relative; /* after 정렬의기준 */
            }
            header .tnb .paper::after {
                content: "";
                    position: absolute;
                right: 22px;
                top: 11px;
                width: 9px;
                height: 9px;
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.7865 1.6885L0.8095 8.6655C0.716 8.759 0.6045 8.80258 0.475 8.79625C0.3455 8.78975 0.233917 8.73975 0.14025 8.64625C0.04675 8.55258 0 8.43675 0 8.29875C0 8.16075 0.04675 8.04708 0.14025 7.95775L7.098 1H2.2865C2.14483 1 2.02608 0.952 1.93025 0.856C1.83442 0.76 1.7865 0.641083 1.7865 0.499249C1.7865 0.357416 1.83442 0.23875 1.93025 0.14325C2.02608 0.0477505 2.14483 0 2.2865 0H7.97875C8.20758 0 8.39942 0.0774169 8.55425 0.23225C8.70908 0.387084 8.7865 0.578916 8.7865 0.80775V6.5C8.7865 6.64167 8.7385 6.76042 8.6425 6.85625C8.5465 6.95208 8.42758 7 8.28575 7C8.14392 7 8.02525 6.95208 7.92975 6.85625C7.83425 6.76042 7.7865 6.64167 7.7865 6.5V1.6885Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            header .tnb .paper:hover {
                border-color: #E64D3D;
                background-color: #E64D3D;
                color: #fff;
            }
            
            header .tnb .search .search_open {
                display: block;
                height: 31px; /* 옆에 있는 검색하고 높이를 동일하게 주기 위해서 */
                line-height: 31px;
                padding: 0 44px 0 16px;
                border: 1px solid #fff;
                border-radius: 25px;
                font-size: 15px;
                position: relative; /* after 정렬의기준 */
            }
            header .tnb .search .search_open::after {
                content: "";
                position: absolute;
                right: 18px;
                top: 5px;
                width: 20px;
                height: 20px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0515 12.6924C13.3837 12.6924 14.5128 12.2295 15.4386 11.3038C16.3643 10.378 16.8271 9.24896 16.8271 7.91674C16.8271 6.58452 16.3643 5.45549 15.4386 4.52965C14.5128 3.60396 13.3837 3.14111 12.0515 3.14111C10.7193 3.14111 9.59027 3.60396 8.66444 4.52965C7.73875 5.45549 7.2759 6.58452 7.2759 7.91674C7.2759 8.49577 7.37847 9.05611 7.58361 9.59778C7.78874 10.1394 8.05798 10.6026 8.39132 10.9872L3.46819 15.9103C3.39027 15.9883 3.34861 16.084 3.34319 16.1972C3.33791 16.3105 3.37958 16.4115 3.46819 16.5001C3.55694 16.5887 3.65527 16.633 3.76319 16.633C3.87097 16.633 3.96923 16.5887 4.05798 16.5001L8.98111 11.5769C9.39777 11.9317 9.87694 12.2063 10.4186 12.4007C10.9603 12.5951 11.5046 12.6924 12.0515 12.6924ZM12.0515 11.859C10.9458 11.859 10.0124 11.4784 9.25111 10.7172C8.48986 9.95604 8.10923 9.02257 8.10923 7.91674C8.10923 6.8109 8.48986 5.87743 9.25111 5.11632C10.0124 4.35507 10.9458 3.97445 12.0515 3.97445C13.1574 3.97445 14.0908 4.35507 14.8519 5.11632C15.6132 5.87743 15.9938 6.8109 15.9938 7.91674C15.9938 9.02257 15.6132 9.95604 14.8519 10.7172C14.0908 11.4784 13.1574 11.859 12.0515 11.859Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            header .tnb .search .search_open:hover {
                border-color: #E64D3D;
                background-color: #E64D3D;
                color: #fff;
            }
            header .tnb .search .search_wrap {
                display: none; /* 숨김 */
                position: absolute; /* header를 기준으로 정렬 */
                left: 50%; 
                transform: translateX(-50%);/* 가운데 */
                top: 130px;
                max-width: 1260px; /* 최대 넓이 - 이 넓이 이상 커지지 않음 */
                width: calc(100% - 40px); /* 브라우저 사이즈가 줄어들어도 왼쪽 오른쪽 여백 20px은 있어야함 */
                height: 288px;
                background-color: #E64D3D;
                border-radius: 20px;
                color: #fff;
                padding: 93px 88px 70px 88px;
            }
            header .tnb .search .search_wrap h2 {
                font-size: 25px;
                margin: 0 0 12px 0;
            }
            header .tnb .search .search_wrap .search_area {
                background-color: #fff;
                border-radius: 20px;
                color: #1d1d1d;
                height: 78px;
            }
            header .tnb .search .search_wrap .search_area .inner {
                display: flex;
                justify-content: space-between;
            }
            header .tnb .search .search_wrap .search_area label {
                display: none; /* 숨김 */
            }
            header .tnb .search .search_wrap .search_area .keyword {
                width: calc(100% - 145px);
                height: 57px;
                font-size: 25px;
                margin: 10px 0 0 25px;
                border: 0;
                outline: 0; /* focus되었을때 나타나는 테두리 */
            }
            header .tnb .search .search_wrap .search_area .btn {
                font-size: 0; /* 글자 삭제 */
                line-height: 0;
                width: 94px;
                height: 78px;
                border: 0;
                background-color: transparent; /* 투명 */
                /* input은 before/after가 없음 - 배경을 input에 줘야함 */
                background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4685 25.3746C12.6936 25.3746 10.3436 24.4122 8.41847 22.4873C6.49366 20.5623 5.53125 18.2122 5.53125 15.4373C5.53125 12.6623 6.49366 10.3123 8.41847 8.38722C10.3436 6.46241 12.6936 5.5 15.4685 5.5C18.2435 5.5 20.5935 6.46241 22.5186 8.38722C24.4434 10.3123 25.4058 12.6623 25.4058 15.4373C25.4058 16.5978 25.2111 17.7062 24.8216 18.7624C24.4319 19.8187 23.912 20.7374 23.262 21.5184L32.6123 30.8687C32.8373 31.0935 32.9524 31.3762 32.9576 31.7169C32.9627 32.0576 32.8476 32.3457 32.6123 32.581C32.3769 32.8164 32.0915 32.9341 31.7559 32.9341C31.4206 32.9341 31.1353 32.8164 30.8999 32.581L21.5497 23.2308C20.7372 23.9016 19.8028 24.4266 18.7466 24.8058C17.6903 25.185 16.5976 25.3746 15.4685 25.3746ZM15.4685 22.9375C17.5623 22.9375 19.3358 22.2108 20.7888 20.7575C22.2421 19.3045 22.9687 17.5311 22.9687 15.4373C22.9687 13.3435 22.2421 11.5701 20.7888 10.117C19.3358 8.66374 17.5623 7.93709 15.4685 7.93709C13.3747 7.93709 11.6013 8.66374 10.1483 10.117C8.69499 11.5701 7.96834 13.3435 7.96834 15.4373C7.96834 17.5311 8.69499 19.3045 10.1483 20.7575C11.6013 22.2108 13.3747 22.9375 15.4685 22.9375Z' fill='%23E64D3D'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 39px;
                cursor: pointer; /* 오버했을때 마우스 포인터 손가락으로 변경 */
            }
            header .tnb .search .search_wrap .search_close {
                position: absolute; /* search_wrap를 기준으로 정렬 */
                right: 0;
                top: 0;
                width: 110px;
                height: 106px;
                font-size: 0;
                line-height: 0;
            }
            header .tnb .search .search_wrap .search_close::before {
                content: "";
                position: absolute; /* search_close를 기준으로 정렬 */
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.0005 30.4588L16.1635 42.2964C15.8403 42.6191 15.4342 42.7844 14.9449 42.7922C14.4561 42.7996 14.0425 42.6343 13.7042 42.2964C13.3662 41.958 13.1973 41.5481 13.1973 41.0667C13.1973 40.5853 13.3662 40.1754 13.7042 39.837L25.5418 28L13.7042 16.163C13.3814 15.8399 13.2161 15.4337 13.2083 14.9444C13.201 14.4556 13.3662 14.042 13.7042 13.7037C14.0425 13.3657 14.4524 13.1968 14.9338 13.1968C15.4153 13.1968 15.8252 13.3657 16.1635 13.7037L28.0005 25.5413L39.8375 13.7037C40.1607 13.3809 40.5669 13.2156 41.0561 13.2079C41.5449 13.2005 41.9585 13.3657 42.2969 13.7037C42.6348 14.042 42.8038 14.4519 42.8038 14.9334C42.8038 15.4148 42.6348 15.8247 42.2969 16.163L30.4593 28L42.2969 39.837C42.6196 40.1602 42.7849 40.5664 42.7927 41.0556C42.8001 41.5444 42.6348 41.958 42.2969 42.2964C41.9585 42.6343 41.5486 42.8033 41.0672 42.8033C40.5857 42.8033 40.1758 42.6343 39.8375 42.2964L28.0005 30.4588Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 56px;
            }
            /************************* 검색창이 열렸을때 *******************************/
            header.sch_open .tnb .search .search_wrap {
                display: block; /* 나타남 */
            }
            header.sch_open::after {
                content: "";
                position: absolute; /* header를 기준으로 정렬 */
                left: 0;
                top: 100px; /* header의 높이만큼 */
                z-index: -1;
                width: 100%;
                height: 100dvh; /* 브라우저 높이만큼 */
                background-color: rgba(0,0,0,0.5);
            }

            /************************* 메뉴 오버 & 고정 ***************************/
            header.fixed .gnb .gnb_wrap ul.depth1 > li > a {
                color: #1d1d1d;
            }
            header.fixed .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a span::after {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9998 13.2925L16.246 9.04647C16.3395 8.9528 16.4543 8.9028 16.5903 8.89647C16.7261 8.88997 16.8472 8.93997 16.9535 9.04647C17.06 9.1528 17.1133 9.27072 17.1133 9.40022C17.1133 9.52972 17.06 9.64764 16.9535 9.75397L12.5653 14.1425C12.4779 14.2296 12.3888 14.2909 12.2978 14.3262C12.2068 14.3614 12.1074 14.379 11.9998 14.379C11.8921 14.379 11.7928 14.3614 11.7018 14.3262C11.6108 14.2909 11.5216 14.2296 11.4343 14.1425L7.04603 9.75397C6.95236 9.66047 6.90236 9.54572 6.89603 9.40972C6.88953 9.27389 6.93953 9.1528 7.04603 9.04647C7.15236 8.93997 7.27028 8.88672 7.39978 8.88672C7.52928 8.88672 7.6472 8.93997 7.75353 9.04647L11.9998 13.2925Z' fill='%23666666' stroke='%23666666'/%3E%3C/svg%3E%0A");
            }
            header.fixed .tnb .paper {
                border-color: #999999;
            }
            header.fixed .tnb .paper:hover {
                border-color: #E64D3D;
            }
            header.fixed  .tnb .paper::after {
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.7865 1.6885L0.8095 8.6655C0.716 8.759 0.6045 8.80258 0.475 8.79625C0.3455 8.78975 0.233917 8.73975 0.14025 8.64625C0.04675 8.55258 0 8.43675 0 8.29875C0 8.16075 0.04675 8.04708 0.14025 7.95775L7.098 1H2.2865C2.14483 1 2.02608 0.952 1.93025 0.856C1.83442 0.76 1.7865 0.641083 1.7865 0.499249C1.7865 0.357416 1.83442 0.23875 1.93025 0.14325C2.02608 0.0477505 2.14483 0 2.2865 0H7.97875C8.20758 0 8.39942 0.0774169 8.55425 0.23225C8.70908 0.387084 8.7865 0.578916 8.7865 0.80775V6.5C8.7865 6.64167 8.7385 6.76042 8.6425 6.85625C8.5465 6.95208 8.42758 7 8.28575 7C8.14392 7 8.02525 6.95208 7.92975 6.85625C7.83425 6.76042 7.7865 6.64167 7.7865 6.5V1.6885Z' fill='%23666666'/%3E%3C/svg%3E%0A");
            }
            header.fixed .tnb .paper:hover::after {
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.7865 1.6885L0.8095 8.6655C0.716 8.759 0.6045 8.80258 0.475 8.79625C0.3455 8.78975 0.233917 8.73975 0.14025 8.64625C0.04675 8.55258 0 8.43675 0 8.29875C0 8.16075 0.04675 8.04708 0.14025 7.95775L7.098 1H2.2865C2.14483 1 2.02608 0.952 1.93025 0.856C1.83442 0.76 1.7865 0.641083 1.7865 0.499249C1.7865 0.357416 1.83442 0.23875 1.93025 0.14325C2.02608 0.0477505 2.14483 0 2.2865 0H7.97875C8.20758 0 8.39942 0.0774169 8.55425 0.23225C8.70908 0.387084 8.7865 0.578916 8.7865 0.80775V6.5C8.7865 6.64167 8.7385 6.76042 8.6425 6.85625C8.5465 6.95208 8.42758 7 8.28575 7C8.14392 7 8.02525 6.95208 7.92975 6.85625C7.83425 6.76042 7.7865 6.64167 7.7865 6.5V1.6885Z' fill='white'/%3E%3C/svg%3E%0A");
            }
            header.fixed .tnb .search .search_open {
                border-color: #999999;
            }
            header.fixed .tnb .search .search_open:hover {
                border-color: #E64D3D;
            }
            header.fixed .tnb .search .search_open::after {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0515 12.6924C13.3837 12.6924 14.5128 12.2295 15.4386 11.3038C16.3643 10.378 16.8271 9.24896 16.8271 7.91674C16.8271 6.58452 16.3643 5.45549 15.4386 4.52965C14.5128 3.60396 13.3837 3.14111 12.0515 3.14111C10.7193 3.14111 9.59027 3.60396 8.66444 4.52965C7.73875 5.45549 7.2759 6.58452 7.2759 7.91674C7.2759 8.49577 7.37847 9.05611 7.58361 9.59778C7.78874 10.1394 8.05798 10.6026 8.39132 10.9872L3.46819 15.9103C3.39027 15.9883 3.34861 16.084 3.34319 16.1972C3.33791 16.3105 3.37958 16.4115 3.46819 16.5001C3.55694 16.5887 3.65527 16.633 3.76319 16.633C3.87097 16.633 3.96923 16.5887 4.05798 16.5001L8.98111 11.5769C9.39777 11.9317 9.87694 12.2063 10.4186 12.4007C10.9603 12.5951 11.5046 12.6924 12.0515 12.6924ZM12.0515 11.859C10.9458 11.859 10.0124 11.4784 9.25111 10.7172C8.48986 9.95604 8.10923 9.02257 8.10923 7.91674C8.10923 6.8109 8.48986 5.87743 9.25111 5.11632C10.0124 4.35507 10.9458 3.97445 12.0515 3.97445C13.1574 3.97445 14.0908 4.35507 14.8519 5.11632C15.6132 5.87743 15.9938 6.8109 15.9938 7.91674C15.9938 9.02257 15.6132 9.95604 14.8519 10.7172C14.0908 11.4784 13.1574 11.859 12.0515 11.859Z' fill='%23666666'/%3E%3C/svg%3E%0A");
            }
            header.fixed .tnb .search .search_open:hover::after {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0515 12.6924C13.3837 12.6924 14.5128 12.2295 15.4386 11.3038C16.3643 10.378 16.8271 9.24896 16.8271 7.91674C16.8271 6.58452 16.3643 5.45549 15.4386 4.52965C14.5128 3.60396 13.3837 3.14111 12.0515 3.14111C10.7193 3.14111 9.59027 3.60396 8.66444 4.52965C7.73875 5.45549 7.2759 6.58452 7.2759 7.91674C7.2759 8.49577 7.37847 9.05611 7.58361 9.59778C7.78874 10.1394 8.05798 10.6026 8.39132 10.9872L3.46819 15.9103C3.39027 15.9883 3.34861 16.084 3.34319 16.1972C3.33791 16.3105 3.37958 16.4115 3.46819 16.5001C3.55694 16.5887 3.65527 16.633 3.76319 16.633C3.87097 16.633 3.96923 16.5887 4.05798 16.5001L8.98111 11.5769C9.39777 11.9317 9.87694 12.2063 10.4186 12.4007C10.9603 12.5951 11.5046 12.6924 12.0515 12.6924ZM12.0515 11.859C10.9458 11.859 10.0124 11.4784 9.25111 10.7172C8.48986 9.95604 8.10923 9.02257 8.10923 7.91674C8.10923 6.8109 8.48986 5.87743 9.25111 5.11632C10.0124 4.35507 10.9458 3.97445 12.0515 3.97445C13.1574 3.97445 14.0908 4.35507 14.8519 5.11632C15.6132 5.87743 15.9938 6.8109 15.9938 7.91674C15.9938 9.02257 15.6132 9.95604 14.8519 10.7172C14.0908 11.4784 13.1574 11.859 12.0515 11.859Z' fill='white'/%3E%3C/svg%3E%0A");
            }

}/* media */

/************************** header 모바일 (시작) ************************************/
@media screen and (max-width:640px){
            header {
                height: 56px;
                padding: 0 0 0 20px;
            }
            header .logo a {
                width: 110px;
                height: 25px;
            }
            header .gnb .gnb_open {
                width: 56px;
                height: 56px;
                font-size: 0; /* 글자 숨김 */
                line-height: 0;
                position: relative; /* before 정렬의 기준 */
            }
            header .gnb .gnb_open::before {
                content: "";
                position: absolute; /* gnb_open을 기준으로 정렬 */
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.95801 20.5734C4.71009 20.5734 4.50233 20.4895 4.33472 20.3217C4.16691 20.1541 4.08301 19.9463 4.08301 19.6981C4.08301 19.4502 4.16691 19.2425 4.33472 19.0749C4.50233 18.9074 4.71009 18.8237 4.95801 18.8237H23.0413C23.2893 18.8237 23.497 18.9075 23.6646 19.0751C23.8324 19.243 23.9163 19.4509 23.9163 19.699C23.9163 19.9469 23.8324 20.1547 23.6646 20.3223C23.497 20.4897 23.2893 20.5734 23.0413 20.5734H4.95801ZM4.95801 14.8749C4.71009 14.8749 4.50233 14.791 4.33472 14.6231C4.16691 14.4553 4.08301 14.2475 4.08301 13.9996C4.08301 13.7515 4.16691 13.5437 4.33472 13.3763C4.50233 13.2087 4.71009 13.1249 4.95801 13.1249H23.0413C23.2893 13.1249 23.497 13.2088 23.6646 13.3766C23.8324 13.5444 23.9163 13.7522 23.9163 14.0001C23.9163 14.2483 23.8324 14.456 23.6646 14.6234C23.497 14.791 23.2893 14.8749 23.0413 14.8749H4.95801ZM4.95801 9.17598C4.71009 9.17598 4.50233 9.09217 4.33472 8.92456C4.16691 8.75676 4.08301 8.5488 4.08301 8.30069C4.08301 8.05277 4.16691 7.84501 4.33472 7.67739C4.50233 7.50998 4.71009 7.42627 4.95801 7.42627H23.0413C23.2893 7.42627 23.497 7.51017 23.6646 7.67798C23.8324 7.84559 23.9163 8.05345 23.9163 8.30156C23.9163 8.54948 23.8324 8.75724 23.6646 8.92485C23.497 9.09227 23.2893 9.17598 23.0413 9.17598H4.95801Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
            }
            header .gnb .gnb_wrap {
                display: none; /* 숨김 */
                position: absolute; /* header를 기준으로 정렬 ??*/
                left: 0;
                top: 0;
                width: 100%;
                height: 100dvh;
                background-color: #fff;
                color: #555;   
            }
            header .gnb .gnb_wrap ul.depth1 {
                margin: 66px 0 0 0;
                height: calc(100dvh - 66px);
                overflow-y: auto;
            }
            header .gnb .gnb_wrap ul.depth1 > li {
                border-bottom: 1px solid #ccc;
            }
            header .gnb .gnb_wrap ul.depth1 > li:first-child {
                border-bottom: 1px solid #ccc;
            }
            header .gnb .gnb_wrap ul.depth1 > li > a {
                position: relative; /* after의 정렬의 기준*/
                display: block;
                padding: 12px 50px 12px 20px; /*오른쪽에 아이콘 크기(24px) + right값(22px) + 여백(4px) = 50px을 줘야 함.*/
                color: #1d1d1d;
                font-size: 20px;
            }
            /*하위메뉴가 존재하는 a의 경우*/
            header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a::after { /*옆에 화살표 아이콘*/
                content: "";
                position: absolute; /*a를 기준으로 정렬*/
                right: 22px;
                top: 14px;
                width: 24px;
                height: 24px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0014 15.0542L6.34766 9.40043L7.40141 8.34668L12.0014 12.9467L16.6014 8.34668L17.6552 9.40043L12.0014 15.0542Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                display: none;
                background-color: #F4f4f4;
                padding: 14px 0 14px 45px;
            }

            /*-----------1차 메뉴가 열렸을 때 : li.open -----------*/
            header .gnb .gnb_wrap ul.depth1 > li.open > a {
                color: #E64D3D;
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
                display: block;
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 > li > a {
                display: block; /* a에 블럭을 안주면 글자만큼만 눌리기 때문에 옆에 여백을 눌렀을 때 바르게 작동되지 않음.*/
                font-size: 17px;
                padding: 9px 0;
            }
            header .gnb .gnb_wrap ul.depth1 > li.open:has(ul.depth2) > a::after { /*옆에 화살표 아이콘*/
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9986 8.94582L17.6523 14.5996L16.5986 15.6533L11.9986 11.0533L7.39859 15.6533L6.34484 14.5996L11.9986 8.94582Z' fill='%23E64D3D'/%3E%3C/svg%3E%0A");            }
            header .gnb .gnb_close {
                display: none; /* 숨김 */
                position: absolute; /* header를 기준으로 정렬 */
                right: 0;
                top: 0;
                z-index: 10; /*위로 올리는 것임. 밑으로 깔려서 보이지 않을 것을 방지하기 위함.*/
                width: 56px;
                height: 56px;
                font-size: 0;
                line-height: 0;
            }
            header .gnb .gnb_close::before {  /*옆에 닫기 아이콘*/
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1086 32L18 30.8914L23.8914 25L18 19.1086L19.1086 18L25 23.8914L30.8914 18L32 19.1086L26.1086 25L32 30.8914L30.8914 32L25 26.1086L19.1086 32Z' fill='%231A2212'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }

            header .tnb {
                position: absolute; /* header를 기준으로 정렬 */
                right: 56px;
                top: 0;
            }
            header .tnb .paper {
                display: none; /* 숨김 */
                position: fixed; /* header 고정 - fixed는 무조건 body를 기준으로 정렬 */
                left: 20px;
                top: 16px;
                z-index: 10;
                color: #1d1d1d;
                font-size: 17px;
                background-color: #F4f4f4;
                padding: 8px 43px 7px 21px;
                border-radius: 20px;
            }
            header .tnb .paper::after {
                content: "";
                position: absolute; 
                right: 18px;
                top: 10px;
                width: 18px;
                height: 18px;
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.79763 15.9616L5 15.164L11.1832 8.98081L5 2.79762L5.79763 2L12.7784 8.98081L5.79763 15.9616Z' fill='%231A2212'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }

            header .tnb .search .search_open {
                width: 35px;
                height: 56px;
                font-size: 0;/* 글자 삭제 */
                line-height: 0;
                position: relative; /* before 정렬의 기준 */
            }
            header .tnb .search .search_open::before {
                content: "";
                position: absolute; /* search_open를 기준으로 정렬*/
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.51955 15.6153C7.81188 15.6153 6.36571 15.023 5.18105 13.8385C3.99655 12.6538 3.4043 11.2077 3.4043 9.50002C3.4043 7.79235 3.99655 6.34618 5.18105 5.16152C6.36571 3.97702 7.81188 3.38477 9.51955 3.38477C11.2272 3.38477 12.6734 3.97702 13.858 5.16152C15.0425 6.34618 15.6348 7.79235 15.6348 9.50002C15.6348 10.2142 15.515 10.8963 15.2753 11.5463C15.0355 12.1963 14.7155 12.7616 14.3155 13.2423L20.0695 18.9963C20.208 19.1346 20.2789 19.3086 20.282 19.5183C20.2852 19.7279 20.2144 19.9052 20.0695 20.05C19.9247 20.1948 19.749 20.2673 19.5425 20.2673C19.3362 20.2673 19.1606 20.1948 19.0158 20.05L13.2618 14.296C12.7618 14.7088 12.1868 15.0319 11.5368 15.2653C10.8868 15.4986 10.2144 15.6153 9.51955 15.6153ZM9.51955 14.1155C10.808 14.1155 11.8994 13.6683 12.7935 12.774C13.6879 11.8798 14.135 10.7885 14.135 9.50002C14.135 8.21152 13.6879 7.12018 12.7935 6.22601C11.8994 5.33168 10.808 4.88452 9.51955 4.88452C8.23105 4.88452 7.13971 5.33168 6.24555 6.22601C5.35121 7.12018 4.90405 8.21152 4.90405 9.50002C4.90405 10.7885 5.35121 11.8798 6.24555 12.774C7.13971 13.6683 8.23105 14.1155 9.51955 14.1155Z' fill='%23fff'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            header .tnb .search .search_wrap {
                display: none; /* 숨김 */
                position: absolute; 
                /* tnb를 기준으로 정렬 
                   right 56px가 들어가 있는데 나는 20px 그럼 -33px */
                right: -33px;
                top: 100px;
                width: calc(100vw - 40px);
                /* 넓이 100%도 기준이 되는 tnb 넓이의 100%라서 브라우저의 넓이를 기준 */
                background-color: #E64D3D;
                color: #fff;
                border-radius: 10px;
                padding: 48px 18px 43px 18px;
            }
            header .tnb .search .search_wrap h2 {
                margin: 0 0 14px 0;
            }
            header .tnb .search .search_wrap .search_area {
                height: 54px;
                border-radius: 10px;
                background-color: #fff;
                color: #1d1d1d;
            }
            header .tnb .search .search_wrap .search_area .inner {
                display: flex;
                justify-content: space-between;
            }
            header .tnb .search .search_wrap .search_area label {
                display: none; /* 숨김 */
            }
            header .tnb .search .search_wrap .search_area .keyword {
                width: calc(100% - 56px);
                height: 39px;
                margin: 7px 0 0 9px;
                border: 0;
                outline: 0;
            }
            header .tnb .search .search_wrap .search_area .btn {
                font-size: 0; /* 글자 */
                line-height: 0;
                width: 51px;
                height: 54px;
                background-color: transparent; /* 투명 */
                border: 0;
                /* input은 before/after가 안됨 */
                background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0891 21.4707C10.7411 21.4707 8.75261 20.6564 7.1237 19.0277C5.49501 17.3988 4.68066 15.4103 4.68066 13.0623C4.68066 10.7142 5.49501 8.72576 7.1237 7.09684C8.75261 5.46815 10.7411 4.65381 13.0891 4.65381C15.4372 4.65381 17.4257 5.46815 19.0546 7.09684C20.6833 8.72576 21.4976 10.7142 21.4976 13.0623C21.4976 14.0443 21.3328 14.9821 21.0033 15.8759C20.6735 16.7696 20.2336 17.547 19.6836 18.2079L27.5954 26.1196C27.7858 26.3098 27.8832 26.5491 27.8876 26.8374C27.8919 27.1257 27.7945 27.3694 27.5954 27.5685C27.3962 27.7677 27.1547 27.8672 26.8708 27.8672C26.5871 27.8672 26.3456 27.7677 26.1465 27.5685L18.2347 19.6568C17.5472 20.2244 16.7566 20.6687 15.8629 20.9895C14.9691 21.3103 14.0445 21.4707 13.0891 21.4707ZM13.0891 19.4086C14.8608 19.4086 16.3614 18.7937 17.5909 17.564C18.8206 16.3345 19.4354 14.834 19.4354 13.0623C19.4354 11.2906 18.8206 9.79001 17.5909 8.56053C16.3614 7.33082 14.8608 6.71596 13.0891 6.71596C11.3174 6.71596 9.81686 7.33082 8.58738 8.56053C7.35767 9.79001 6.74282 11.2906 6.74282 13.0623C6.74282 14.834 7.35767 16.3345 8.58738 17.564C9.81686 18.7937 11.3174 19.4086 13.0891 19.4086Z' fill='%23E64D3D'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }
            header .tnb .search .search_wrap .search_close {
                position: absolute; /* search_wrap을 기준으로 정렬 */
                right: 0;
                top: 0;
                width: 56px;
                height: 46px;
                font-size: 0; /* 글자 숨김 */
                line-height: 0;
            }
            header .tnb .search .search_wrap .search_close::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 17.405L9.23602 24.1693C9.05135 24.3538 8.81924 24.4482 8.53968 24.4527C8.26035 24.4569 8.02402 24.3625 7.83068 24.1693C7.63757 23.976 7.54102 23.7418 7.54102 23.4667C7.54102 23.1916 7.63757 22.9573 7.83068 22.764L14.595 16L7.83068 9.23602C7.64624 9.05135 7.55179 8.81924 7.54735 8.53968C7.54313 8.26035 7.63757 8.02402 7.83068 7.83068C8.02402 7.63757 8.25824 7.54102 8.53335 7.54102C8.80846 7.54102 9.04268 7.63757 9.23602 7.83068L16 14.595L22.764 7.83068C22.9487 7.64624 23.1808 7.55179 23.4603 7.54735C23.7397 7.54313 23.976 7.63757 24.1693 7.83068C24.3625 8.02402 24.459 8.25824 24.459 8.53335C24.459 8.80846 24.3625 9.04268 24.1693 9.23602L17.405 16L24.1693 22.764C24.3538 22.9487 24.4482 23.1808 24.4527 23.4603C24.4569 23.7397 24.3625 23.976 24.1693 24.1693C23.976 24.3625 23.7418 24.459 23.4667 24.459C23.1916 24.459 22.9573 24.3625 22.764 24.1693L16 17.405Z' fill='white'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }

            /**************** header에 fixed가 들어갔을때 **************/
            header.fixed .gnb .gnb_open::before {
                background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.95801 20.5734C4.71009 20.5734 4.50233 20.4895 4.33472 20.3217C4.16691 20.1541 4.08301 19.9463 4.08301 19.6981C4.08301 19.4502 4.16691 19.2425 4.33472 19.0749C4.50233 18.9074 4.71009 18.8237 4.95801 18.8237H23.0413C23.2893 18.8237 23.497 18.9075 23.6646 19.0751C23.8324 19.243 23.9163 19.4509 23.9163 19.699C23.9163 19.9469 23.8324 20.1547 23.6646 20.3223C23.497 20.4897 23.2893 20.5734 23.0413 20.5734H4.95801ZM4.95801 14.8749C4.71009 14.8749 4.50233 14.791 4.33472 14.6231C4.16691 14.4553 4.08301 14.2475 4.08301 13.9996C4.08301 13.7515 4.16691 13.5437 4.33472 13.3763C4.50233 13.2087 4.71009 13.1249 4.95801 13.1249H23.0413C23.2893 13.1249 23.497 13.2088 23.6646 13.3766C23.8324 13.5444 23.9163 13.7522 23.9163 14.0001C23.9163 14.2483 23.8324 14.456 23.6646 14.6234C23.497 14.791 23.2893 14.8749 23.0413 14.8749H4.95801ZM4.95801 9.17598C4.71009 9.17598 4.50233 9.09217 4.33472 8.92456C4.16691 8.75676 4.08301 8.5488 4.08301 8.30069C4.08301 8.05277 4.16691 7.84501 4.33472 7.67739C4.50233 7.50998 4.71009 7.42627 4.95801 7.42627H23.0413C23.2893 7.42627 23.497 7.51017 23.6646 7.67798C23.8324 7.84559 23.9163 8.05345 23.9163 8.30156C23.9163 8.54948 23.8324 8.75724 23.6646 8.92485C23.497 9.09227 23.2893 9.17598 23.0413 9.17598H4.95801Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
            }
            header.fixed .tnb .search .search_open::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.51955 15.6153C7.81188 15.6153 6.36571 15.023 5.18105 13.8385C3.99655 12.6538 3.4043 11.2077 3.4043 9.50002C3.4043 7.79235 3.99655 6.34618 5.18105 5.16152C6.36571 3.97702 7.81188 3.38477 9.51955 3.38477C11.2272 3.38477 12.6734 3.97702 13.858 5.16152C15.0425 6.34618 15.6348 7.79235 15.6348 9.50002C15.6348 10.2142 15.515 10.8963 15.2753 11.5463C15.0355 12.1963 14.7155 12.7616 14.3155 13.2423L20.0695 18.9963C20.208 19.1346 20.2789 19.3086 20.282 19.5183C20.2852 19.7279 20.2144 19.9052 20.0695 20.05C19.9247 20.1948 19.749 20.2673 19.5425 20.2673C19.3362 20.2673 19.1606 20.1948 19.0158 20.05L13.2618 14.296C12.7618 14.7088 12.1868 15.0319 11.5368 15.2653C10.8868 15.4986 10.2144 15.6153 9.51955 15.6153ZM9.51955 14.1155C10.808 14.1155 11.8994 13.6683 12.7935 12.774C13.6879 11.8798 14.135 10.7885 14.135 9.50002C14.135 8.21152 13.6879 7.12018 12.7935 6.22601C11.8994 5.33168 10.808 4.88452 9.51955 4.88452C8.23105 4.88452 7.13971 5.33168 6.24555 6.22601C5.35121 7.12018 4.90405 8.21152 4.90405 9.50002C4.90405 10.7885 5.35121 11.8798 6.24555 12.774C7.13971 13.6683 8.23105 14.1155 9.51955 14.1155Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
            }

            /**************** 검색을 눌렀을때 header sch_open **************/
            header.sch_open .tnb .search .search_wrap {
                display: block; /* 나타남 */
            }
            header.sch_open::after {
                content: "";
                position: absolute; /* header를 기준으로 정렬 */
                left: 0;
                top: 56px; /* header 높이 만큼 */
                z-index: -1;
                width: 100%;
                height: 100dvh;
                background-color: rgba(0,0,0,0.5);
            }

            /**************** 메뉴가 열렸을때 header menu_mo **************/
            header.menu_mo .gnb .gnb_wrap {
                display: block; /* 나타남 */
            }
            header.menu_mo .gnb .gnb_close {
                display: block; /* 나타남 */
            }
            header.menu_mo .tnb .paper {
                display: block; /* 나타남 */
            }
}/* media */
/************************** header 모바일 (종료) ************************************/

.visual {
    position: relative; /* btn_wrap 정렬의 기준 */
}
.visual h2 {
    display: none; /* 숨김 */
}
.visual .swiper ul li {
    height: 800px;
    position: relative; /* photo 정렬의 기준 */
}
.visual .swiper ul li .photo {
    position: absolute; /* li를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1; /* 배경 처럼 아래 배치 */
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper ul li .visual_txt {
    color: #fff;
}
.visual .swiper ul li .visual_txt h3 {
    margin: 487px 0 0 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}
.visual .btn_wrap {
    position: absolute; /* visual을 기준으로 정렬 */
    left: 50%; /* 정렬의 기준 visual 넓이의 절반 */
    transform: translateX(-50%); /* btn_wrap의 절반 */
    bottom: 37px;
    z-index: 10; /*위로*/

    display: flex;
    gap: 5px;
}
.visual .btn_wrap button {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%; /* 동그라미 */

    font-size: 0; /* 글자숨김 */
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
.visual .btn_wrap button::before {
    content: "";
    position: absolute; /* button을 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3628 12.0005L15.4361 16.0735C15.5744 16.212 15.6452 16.3861 15.6486 16.5957C15.6517 16.8052 15.5809 16.9825 15.4361 17.1275C15.2911 17.2723 15.1154 17.3447 14.9091 17.3447C14.7027 17.3447 14.5271 17.2723 14.3821 17.1275L9.88782 12.6332C9.79432 12.5396 9.72832 12.4408 9.68982 12.337C9.65132 12.2331 9.63207 12.121 9.63207 12.0005C9.63207 11.88 9.65132 11.7678 9.68982 11.664C9.72832 11.5601 9.79432 11.4614 9.88782 11.3677L14.3821 6.87347C14.5206 6.73514 14.6947 6.66431 14.9043 6.66098C15.1138 6.65781 15.2911 6.72864 15.4361 6.87348C15.5809 7.01848 15.6533 7.19414 15.6533 7.40048C15.6533 7.60681 15.5809 7.78247 15.4361 7.92747L11.3628 12.0005Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9311 11.9995L9.85788 7.92652C9.71954 7.78802 9.64871 7.61394 9.64538 7.40427C9.64221 7.19477 9.71304 7.01752 9.85788 6.87252C10.0029 6.72769 10.1785 6.65527 10.3849 6.65527C10.5912 6.65527 10.7669 6.72769 10.9119 6.87252L15.4061 11.3668C15.4996 11.4604 15.5656 11.5592 15.6041 11.663C15.6426 11.7669 15.6619 11.879 15.6619 11.9995C15.6619 12.12 15.6426 12.2322 15.6041 12.336C15.5656 12.4399 15.4996 12.5386 15.4061 12.6323L10.9119 17.1265C10.7734 17.2649 10.5993 17.3357 10.3896 17.339C10.1801 17.3422 10.0029 17.2714 9.85788 17.1265C9.71304 16.9815 9.64062 16.8059 9.64062 16.5995C9.64062 16.3932 9.71304 16.2175 9.85788 16.0725L13.9311 11.9995Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.491211' width='2' height='10.3389' rx='1' fill='white'/%3E%3Crect x='8.12793' width='2' height='10.3389' rx='1' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.31738 5.25253C9.65072 5.44498 9.65071 5.92611 9.31738 6.11856L9.56738 6.55157L9.31738 6.11856L1.25488 10.7734C0.921549 10.9659 0.504882 10.7253 0.504882 10.3404L0.504883 1.03066C0.504883 0.64576 0.921551 0.405198 1.25488 0.597647L9.31738 5.25253Z' stroke='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.play {
    display: none; /* 숨김 */
}

@media screen and (max-width:640px){ 
                .visual .swiper ul li {
                    height: 444px;
                }
                .visual .swiper ul li .visual_txt h3 {
                    margin: 248px 0 0 0;
                    font-size: 30px;
                }
                .visual .btn_wrap {
                    bottom: 15px;
                    gap: 3px;
                }
                .visual .btn_wrap button {
                    width: 21px;
                    height: 21px;
                }
                .visual .btn_wrap button.prev::before {
                    background-size: 17px;
                }
                .visual .btn_wrap button.next::before {
                    background-size: 17px;
                }
                .visual .btn_wrap button.stop::before {
                    background-size: 7px;
                }
                .visual .btn_wrap button.play::before {
                    background-size: 11px;
                }
}/* media */


footer {
    margin-bottom: 1000px;
}