/* layout.css
header/footer 모든 페이지의 공통 스타일 적용 */

.skipnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    display: block;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.skipnav a.menu {
    background-color: var(--point-color);
}
.skipnav a:focus{
    top: 0;
}

/*--------header--------*/
header {
    position: fixed; /*wrap을 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    transition: 0.3s;

    display: flex;
    justify-content: space-between;
    align-items: center; /* 위아래 가운데 */
    padding: 0 60px;

}
header .logo a {
    display: block;
    position: relative; /*before 정렬의 기준*/
    color: transparent; /*글자 색 투명하게 해서 숨기기 */
    width: 12.4em;
    height: 2.8em;
}
header .logo a::before { /*a를 기준으로 정렬*/
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/logo_g.png) no-repeat center center / contain;
}
header.fixed, header.menu_pc {
    position: fixed; /* body를 기준으로 정렬 */
    background-color: #fff;
    color: #111;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
header.fixed.scroll_down, header.menu_pc.scroll_down {
    transform: translateY(-100%);
}
header .gnb {
    white-space: nowrap; /*줄바꿈 금지*/
}

/******* pc일때 -> header가 고정되었을 때: header.fixed, header 메뉴 열렸을 때 : header.menu_pc*******/
@media screen and (min-width:769px){  /* 769px 이상일때 적용 */
    header .gnb .gnb_open, header .gnb .gnb_close {
        display: none; /*모바일에서만 나타남*/
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        justify-content: space-between;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 8.4em;
        text-align: center;
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-family: "Moneygraphy";
        letter-spacing: -0.05em; /* 자간*/
        width: 100%;
        line-height: var(--header-h);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {  /* 2차 메뉴 */
        display: none;
        position: absolute; /* 1차메뉴 li를 기준으로 정렬 */
        left: 50%;
        top: calc(var(--header-h) - 20px);
        transform: translateX(-50%); /*좌우 가운데*/
        
        background-color: #fff;
        border: 2px solid var(--main-color);
        border-radius: 20px;
        color: #111;
        text-align: left;
    }
    header .gnb .gnb_wrap ul.depth1 > li.has3 > ul.depth2 > li {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li.has3 > ul.depth2 > li + li {
        margin-top: 20px;
    } 
    header .gnb .gnb_wrap ul.depth1 > li.has3 > ul.depth2 > li > a {
        padding: 8px 24px 8px 40px;
        width: 130px;
    }
    header .gnb .gnb_wrap ul.depth1 > li.has3 > ul.depth2 > li > ul.depth3 {
        font-weight: 400;
        padding-right: 40px;
    }
    header .gnb .gnb_wrap ul.depth1 > li.has3 > ul.depth2 > li > ul.depth3 > li > a {
        display: block;
        padding: 6px 20px 6px 6px;
    }
    header .gnb .gnb_wrap ul.depth1 > li.has3 > ul.depth2 > li > ul.depth3 > li > a:hover {
        color: var(--main-color);
        font-weight: 600;
    }
    header .gnb .gnb_wrap ul.depth1 > li.has3 > ul.depth2 > li > ul.depth3 > li > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.has3 > ul.depth2 > li > ul.depth3 > li > a:hover > span::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 2px;
        background-color: var(--main-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        font-weight: 600;
    }
    
    /*------ 메뉴에 마우스를 오버하면 li에 over 클래스 추가------*/
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        color: var(--main-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 { 
        display: inline;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 > li:first-child {
        padding-top: 20px;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 > li:last-child {
        padding-bottom: 20px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a { 
        padding: 8px 85px 8px 40px;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 > li > a:hover { 
        color: var(--main-color);
    }
    header .tnb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    header .tnb .search { /*검색*/
        display: block;
        position: relative;/* after 정렬의기준 */
        width: 24px;
        height: 24px;
        font-size: 0;/*글자숨기기*/
        line-height: 0;
    }
    header .tnb .search::after { /*검색 아이콘*/
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_138_97)'%3E%3Cpath d='M11.0271 18.6665C6.65375 18.6665 3.09375 15.1065 3.09375 10.7331C3.09375 6.3598 6.65375 2.7998 11.0271 2.7998C15.4004 2.7998 18.9604 6.3598 18.9604 10.7331C18.9604 15.1065 15.4004 18.6665 11.0271 18.6665ZM11.0271 4.7998C7.74708 4.7998 5.09375 7.46647 5.09375 10.7331C5.09375 13.9998 7.76042 16.6665 11.0271 16.6665C14.2938 16.6665 16.9604 13.9998 16.9604 10.7331C16.9604 7.46647 14.2938 4.7998 11.0271 4.7998Z' fill='%23111111'/%3E%3Cpath d='M15.9923 14.8661L14.5781 16.2803L19.4902 21.1923L20.9044 19.7781L15.9923 14.8661Z' fill='%23111111'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_138_97'%3E%3Crect width='24' height='24' fill='%23111111'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain contain;
    }
    header .tnb .login {
        display: block;
        font-family: "Moneygraphy";
        font-size: 0.9rem; /*16px*/
        color: #777;
        padding: 0 15px;
        line-height: 100px;
    }
    header .tnb .support {
        display: block;
        position: relative;
        font-family: "Moneygraphy";
        font-size: 0.9rem; /*16px*/
        color: #fff;
        background-color: var(--main-color);
        padding: 12px 24px 12px 44px;
        border-radius: 30px;
    }
    header .tnb .support::after { /*후원하기 아이콘*/
        content: "";
        position: absolute;
        left: 1.1em;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99935 17.4997L8.79102 16.4163C7.38824 15.1525 6.22852 14.0622 5.31185 13.1455C4.39518 12.2288 3.66602 11.4059 3.12435 10.6768C2.58268 9.94759 2.20421 9.27745 1.98893 8.66634C1.77365 8.05523 1.66602 7.43023 1.66602 6.79134C1.66602 5.48579 2.10352 4.39551 2.97852 3.52051C3.85352 2.64551 4.94379 2.20801 6.24935 2.20801C6.97157 2.20801 7.65907 2.36079 8.31185 2.66634C8.96463 2.9719 9.52713 3.40245 9.99935 3.95801C10.4716 3.40245 11.0341 2.9719 11.6868 2.66634C12.3396 2.36079 13.0271 2.20801 13.7493 2.20801C15.0549 2.20801 16.1452 2.64551 17.0202 3.52051C17.8952 4.39551 18.3327 5.48579 18.3327 6.79134C18.3327 7.43023 18.225 8.05523 18.0098 8.66634C17.7945 9.27745 17.416 9.94759 16.8743 10.6768C16.3327 11.4059 15.6035 12.2288 14.6868 13.1455C13.7702 14.0622 12.6105 15.1525 11.2077 16.4163L9.99935 17.4997ZM9.99935 15.2497C11.3327 14.0552 12.4299 13.0309 13.291 12.1768C14.1521 11.3226 14.8327 10.5795 15.3327 9.94759C15.8327 9.31565 16.1799 8.75315 16.3743 8.26009C16.5688 7.76704 16.666 7.27745 16.666 6.79134C16.666 5.95801 16.3882 5.26356 15.8327 4.70801C15.2771 4.15245 14.5827 3.87467 13.7493 3.87467C13.0966 3.87467 12.4924 4.0587 11.9368 4.42676C11.3813 4.79481 10.9993 5.26356 10.791 5.83301H9.20768C8.99935 5.26356 8.6174 4.79481 8.06185 4.42676C7.50629 4.0587 6.90213 3.87467 6.24935 3.87467C5.41602 3.87467 4.72157 4.15245 4.16602 4.70801C3.61046 5.26356 3.33268 5.95801 3.33268 6.79134C3.33268 7.27745 3.4299 7.76704 3.62435 8.26009C3.81879 8.75315 4.16602 9.31565 4.66602 9.94759C5.16602 10.5795 5.84657 11.3226 6.70768 12.1768C7.56879 13.0309 8.66602 14.0552 9.99935 15.2497Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px 20px;
    } 
} /* @media */


/*******모바일일 때 -> header에 메뉴 열렸을 때: header.menu_mo *******/
@media screen and (max-width:768px){ /*14px*/
    /*------  1차메뉴를 클릭하면 open 클래스 추가------*/


} /* @media */



/*--------footer--------*/
footer {
    margin: 500px 0 0 0;
}