/*
 * main.css
 * 메인페이지에만 적용되는 스타일 입력,
 * 다른 css import 
 */
 @import url(default.css);
 @import url(font.css);
 @import url(common.css);


.txt_ani {
    margin: 200px 0 500px 0;
}

.txt_ani .txt_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.txt_ani .txt_wrap .row {
    font-size: 3.4vw;
    font-weight: 700;
    color: #E7E7E7;
    white-space: nowrap;
    position: relative; /* span의 정렬의 기준 */
}
.txt_ani .txt_wrap .row span {
    color: #12255B;
    position: absolute; /* row를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    animation-name: txt_ani;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; /*종료 후 100% 유지*/
}

.txt_ani .txt_wrap .row:nth-child(1) span {
    animation-delay: 0.4s;  
}
.txt_ani .txt_wrap .row:nth-child(2) span {
    animation-delay: 0.8s;
}
@keyframes txt_ani {
    0% { width: 0; }
    100% { width: 100%; }
}

/*************/

.txt_slide .txt_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.txt_slide .txt_wrap .row {
    font-size: 3.4vw;
    font-weight: 700;
    color: #E7E7E7;
    position: relative; /* span의 정렬의 기준 */
    white-space: nowrap;
}
.txt_slide .txt_wrap .row span {
    color: #12255B;
    position: absolute; /* row를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: 0.2s;
}

@media screen and (max-width:1300px){ /*16px*/
    .txt_slide .txt_wrap .row {
        font-size: 4vw;
    }
} /* @media */
@media screen and (max-width:1000px){ /*15px*/
    .txt_slide .txt_wrap .row {
        font-size: 4.5vw;
    }
} /* @media */
/* mobile 버전 css */
@media screen and (max-width:760px){ /*14px*/
    .txt_slide .txt_wrap .row {
        font-size: 5vw;
    }
} /* @media */

@media screen and (max-width:640px){ /*13px*/
    .txt_slide .txt_wrap .row {
        font-size: 6vw;
    }
} /* @media */


/******************/

.photo_resize {
    margin: 150px 0 0 0;
}
.photo_resize .photo {
    overflow: hidden;
    height: 340px;
    width: 50%;
    margin: 0 auto;
}
.photo_resize .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/***************-------------bg_fixed -------*********/
.bg_fixed {
    margin: 500px 0 0 0;
    background: url(../images/interaction_img01.jpg) no-repeat center center / cover ;
    background-attachment: fixed; /* 속성 중 하나인데 인터렉티브처럼 보이게 하는 효과가 있음*/
    height: 800px;
}
.bg_fixed h2 {
    padding: 300px 0 0 80px;
    font-size: 2.6em;
    font-weight: 700;
    color: #12255B;
    line-height: 1.2;
}


/***************-------------bg_change -------*********/
.bg_change {
    margin: 300px 0 0 0;
    transition: 0.5s;
}
.bg_change .video_fit .tit {
    padding: 150px 0 0 0;
}
.bg_change .video_fit .tit h2 {
    color: #1d1d1d;
    font-size: 2.6em;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 024px 0;
    transition: color 0.5s;
}
.bg_change .video_fit .tit p {
    font-size: 20px;
}
.bg_change .video_fit .video_area {
    width: 100%;
    height: 200vh; /*1500px 줘도 됨*/
    position: relative; /* video_wrap 정렬의 기준 */
    margin: 0 auto;
    /*border: 4px solid #ff0000; 영역 확인 차*/
}
.bg_change .video_fit .video_area .video_wrap {
    left: 0;
    width: 100%;
    height: 100vh;
    /*background-color: blue; 영역 확인차 넣은 코딩*/
}
.bg_change .video_fit .video_area[data-status="before"] .video_wrap {
    position: absolute; /*video_area를 기준으로*/
    top: 0;
}
.bg_change .video_fit .video_area[data-status="fixed"] .video_wrap {
    position: fixed;
    top: 0;
}
.bg_change .video_fit .video_area[data-status="after"] .video_wrap {
    position: absolute; /*video_area를 기준으로*/
    bottom: 0;
}
.bg_change .video_fit .video_area .video_wrap .video_inner {
    overflow: hidden;
    position: relative;
    width: 40%;
    height: 40%;
    transition: 0.2s;
    border-radius: 2.2em;

    /*동영상이 상하좌우 가운데 오도록*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}
.bg_change .video_fit .video_area .video_wrap .video_inner video {
    /* video태그는 이미지랑 조금 비슷함 */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 검은색 배경으로 변경되었을때 */
.bg_change.black {
    background-color: #1d1d1d;
    color: #fff;
}
.bg_change.black .video_fit .tit h2 {
    color: #fff;
}


/********-----------scroll_event--------********/
.scroll_event {
    padding: 20px 0 250px 0;
}
.scroll_event .event_wrap {
    position: relative; /*h2정렬의 기준*/

    /*.photo를 오른쪽으로 보내기 위함.*/
    display: flex;
    justify-content: flex-end;
}
.scroll_event .event_wrap h2 {
    position: absolute; /*event_wrap를 기준으로 정렬*/
    left: 0;
    top: 200px;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    transition: 0.4s;
}
.scroll_event .event_wrap .photo {
    overflow: hidden;
    border-radius: 2.2em;
    width: 80%;
    max-width: 48.5em;
    height: 27em;
}
.scroll_event .event_wrap .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/**********----------book-------********/
.book, .bestseller {
    margin: 10em 0 0 0;
}
.book .list, .bestseller .list {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px);
    border: 4px solid #ff0000;
}
.book .list .popup .popup_wrap .popup_item, .bestseller .list .swiper ul li { /* 팝업 한 개 */
    width: 190px;
    margin-right: 16px;
}
.book .list .popup .popup_wrap .popup_item a, .bestseller .list .swiper ul li a {
    display: block;
}
.book .list .popup .popup_wrap .popup_item a .photo, .bestseller .list .swiper ul li a .photo {
    overflow: hidden;
    height: 240px;
    border-radius: 20px;
}
.book .list .popup .popup_wrap .popup_item a .photo img, .bestseller .list .swiper ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book .list .popup .popup_wrap .popup_item a h2, .bestseller .list .swiper ul li a h2 {
    margin: 12px 0 0 0;
    font-weight: 700;
    color: #454A51;
}
.book .list .popup .popup_wrap .popup_item a span, .bestseller .list .swiper ul li a span {
    display: block;
    margin: 1px 0 0 0;
}





@media screen and (max-width:1300px){ /*16px*/
    .book .list {
        left: 20px;
        width: calc(100% - 20px);
    }
} /* @media */
@media screen and (max-width:1000px){ /*15px*/
    :root {
        --base-font-size: 15px;
        --header-h: 50px;
    }
} /* @media */
/* mobile 버전 css */
@media screen and (max-width:760px){ /*14px*/
    :root {
        --base-font-size: 14px;
    }
} /* @media */

@media screen and (max-width:640px){ /*13px*/
    :root {
        --base-font-size: 13px;
    }
} /* @media */









/***************************/







body {
    margin: 0 0 100dvh 0;
}

